[2018-03-29 22:56] robhudson opened #516 "Update TMO frontend to handle 405s from aggregator"
In an upcoming aggregator deploy we've changed the API to return a 405 if we are passed filters that are not supported. The short list is:

    ALLOWED_DIMENSIONS = ('application', 'architecture', 'child', 'dates', 'label', 'metric', 'os', 'version')

If we receive a query string parameter, e.g. `?e10sEnabled=true` the API will return a 405 with the unsupported filter removed in the "Allow" header

[2018-03-30 03:19] fbertsch commented on #516
https://github.com/mozilla/python_mozaggregator/pull/72

[2018-03-30 08:07] gargshruti30 commented on #493
Required URL-
https://telemetry.mozilla.org/new-pipeline/dist.html#!arch=x86!aarch64!arm&compare=os&cumulative=0&end_date=2018-01-15&keys=__none__!__none__!__none__&max_channel_version=beta%252F58&measure=GC_MS&min_channel_version=beta%252F56&processType=parent&product=Fennec&sanitize=1&sort_keys=submissions&start_date=2017-11-13&table=0&trim=1&use_submission_date=0

@chutten Now on loading the pa

[2018-03-30 10:56] Insiyaa opened #518 "Probe name goes beyond the page"
When the probe name is too long, it goes beyond the page like [this](https://telemetry.mozilla.org/probe-dictionary/?detailView=histogram%2FCACHE_SERVICE_LOCK_WAIT_MAINTHREAD_NSCACHEENTRYDESCRIPTOR_GETCLIENTID). It should be displayed in the page limit...

[2018-03-30 11:24] Insiyaa commented on #518
Maybe something like this?
![screenshot-2018-3-30 firefox probe dictionary - find probes](https://user-images.githubusercontent.com/29259374/38136238-cf4353a0-343a-11e8-832f-e550ca8fac03.png)
But here the position of 'x' doesn't feel right?

[2018-03-30 16:13] Sylvia23 commented on #516
Hi there, Can I give it a try. Is this issue somehow related to #411 #413 . Also, has there been a decision on what exactly is to be implemented for it? Any advice on where and how to get started with the implementation is also most welcome! Thanks!

[2018-03-30 16:39] robhudson commented on #516
I would start in the file `v2/telemetry.js` and look for the `Telemetry.getJSON` calls. It could possibly be updated in `getJSON` itself to check for status code of 405 and catch the error there. Alternatively each callback passed to `getJSON` could handle it specifically.

This is related to #411 as it is the equivalent bug for the API. But it's also general in that now any unsupported query stri

[2018-04-03 15:40] georgf commented on #518
That's a good point, thanks for bringing that up.
Did you want to work on this @Insiyaa ?

The proposal looks good, although yes, the 'x' could be on top?

[2018-04-03 15:42] georgf commented on #494
Closing this for now due to inactivity. Happy to reopen this though if there is an underlying issue here!

[2018-04-03 15:42] #494 closed, assigned to nobody

[2018-04-03 16:51] Insiyaa commented on #518
Yes I'll work on this!

[2018-04-03 17:23] Sylvia23 commented on #516
@robhudson @georgf  I had a doubt that `e10s` doesn't exsist in the entire dashboard frontend from #413  so how come can it appear in the `url`. So, what is point of talking of giving `error 405` on `?e10sEnabled=true`.

Am I misunderstanding the issue? Please clarify. Thanks!

[2018-04-03 17:34] robhudson commented on #516
It's not *just* `?e10sEnabled=true` but any filter in the URL that isn't supported on the API. So changing the front-end to understand 405 status codes from the API will help for now and in the future if there are any future changes.

Does that help?

[2018-04-03 18:24] Sylvia23 commented on #516
Thanks @robhudson !

How do you want the frontend to show the user about the `405 errors`?
Please tell @robhudson @georgf Thanks!

[2018-04-03 19:58] #447 closed, assigned to paucaro

[2018-04-04 20:18] chutten commented on #493
@gargshruti30 What are the URLs you are getting 404s for? They are truncated in the screenshot, otherwise I'd try and transcribe them out.

(the aggregates.telemetry.mozilla.org ones, to be specific)

[2018-04-05 17:04] #406 closed, assigned to nobody

[2018-04-05 17:11] Sylvia23 opened #521 "The description text and detail link should have a smaller (normal) font size in Measurement Dashboard"
#406 #501 For a better user experience, the description text and detail link should have a smaller (normal) font size in Measurement Dashboard.

[2018-04-05 17:16] georgf commented on #521
Thanks for opening this!
Are you interested to work on this @Sylvia23?

[2018-04-05 17:18] Sylvia23 commented on #521
Yes! I will start working on it now and report back in a while. Thanks!

[2018-04-05 17:22] georgf opened #522 "Add Google Analytics to probe-dictionary"
We have Google Analytics to have insight into page-views on most pages.
We use it like [this](https://github.com/mozilla/telemetry-dashboard/blob/991bdbd7d54b67e2a4c76ec9452e6623e4429bb2/new-pipeline/dist.html#L19) and [this](https://github.com/mozilla/telemetry-dashboard/blob/991bdbd7d54b67e2a4c76ec9452e6623e4429bb2/new-pipeline/dist.html#L226).

We are missing this for `probe-dictionary/index.ht

[2018-04-05 17:23] georgf commented on #521
Ok, cheers.

[2018-04-05 17:51] Sylvia23 commented on #516
@robhudson So what should I exactly implement for this issue? Only do `console.warn` for `405 errors`?
Please confirm. Thanks!

[2018-04-05 17:59] robhudson commented on #516
Yes, I think what we decided what would be nice is when there is a 405 error, do the following:
* `console.warn` about the error
* redirect (or reissue) the request to what is in the "Allow" header, which will have the URL but without the bad query string.

[2018-04-05 18:51] georgf opened #525 "Show shorter labels for distribution graph"
We currently always show the descriptions as the graph label in the distribution views.
For [probes with long descriptions](https://mzl.la/2q9eW1O), that's not adding value (see image) and we already show the description above the graph.

Instead we can just use the histogram/measure name.
This affects dist.js and will require to change what we pass as the `x_label` in the 3 branches [here](https:

[2018-04-05 19:25] chutten commented on #525
...does this mean we lose the ability to see the (first part of the) description at all when viewing a probe on tmo? I would like to see the full description somewhere in the UI.

[2018-04-05 19:33] Sylvia23 commented on #525
@chutten I think the description `above` the graph will remain as such. We only have to change the `labels` `below` the graph.  Should I make the changes and produce a `live link` to check this?
Thanks!

[2018-04-05 20:00] Sylvia23 commented on #525
@georgf @chutten [Here](https://sylvia23.github.io/telemetry-dashboard/new-pipeline/dist.html#!cumulative=0&end_date=2018-04-02&keys=__none__!__none__!__none__&max_channel_version=beta%252F60&measure=SCALARS_BROWSER.ENGAGEMENT.TAB_OPEN_EVENT_COUNT&min_channel_version=beta%252F57&processType=*&product=Firefox!Fennec&sanitize=1&sort_keys=submissions&start_date=2018-03-12&table=0&trim=1&use_submissio

[2018-04-06 15:26] #522 closed, assigned to nobody

[2018-04-06 16:52] gargshruti30 commented on #493
@chutten https://telemetry.mozilla.org/new-pipeline/dist.html#!arch=x86!aarch64!arm&compare=os&cumulative=0&end_date=2018-01-15&keys=__none__!__none__!__none__&max_channel_version=beta%252F58&measure=GC_MS&min_channel_version=beta%252F56&processType=parent&product=Fennec&sanitize=1&sort_keys=submissions&start_date=2017-11-13&table=0&trim=1&use_submission_date=0
This is the URL.

[2018-04-06 18:06] chutten commented on #493
I meant the URLs of the requests that _are_ 404. The ones that start with "https://aggregates.telemetry.mozila.org"... but that's okay, I eventually figured it out : )

Interestingly enough, we get 404s in Firefox as well. Firefox's devtools are smart enough to realize that this isn't a problem and doesn't surface them as errors in the console, though.

For instance, [this](https://aggregates.tele

[2018-04-06 18:29] gargshruti30 commented on #493
@chutten okay !

[2018-04-08 17:15] georgf opened #526 "Probe dictionary stats should only count "release" probes for release channel"
In the stats view, we currently count all the probes for the release channel.
We don't record all of them there, so we should show only count the "release" probes.

Compare e.g. [the count here](https://telemetry.mozilla.org/probe-dictionary/?optout=true&channel=release&version=59) (55) with [the count here](https://telemetry.mozilla.org/probe-dictionary/?optout=true&channel=release&version=59&vie

[2018-04-08 18:49] Insiyaa commented on #526
Can you please explain a bit more?

[2018-04-09 02:36] georgf opened #528 "Remove link to "Telemetry Experiments Monitoring" from start page"
Telemetry Experiments are not used anymore and we are removing them. That means we can remove the experiments monitoring link from the [start page](https://telemetry.mozilla.org/).

[2018-04-09 09:01] Sylvia23 commented on #528
@georgf Should I give it a quick shot ? Thanks!

[2018-04-09 09:40] Sylvia23 commented on #526
@Insiyaa  According to my understanding, the issue says that when the `view` is set to `stats`, the `Count of recorded probes` displays as `1.8k probes` for `version 59` while the actual count is `550` for `version 59` as shown in the screen-shot attached below. Please have a look.
Hence, there is some `bug` which counts for all values even when the `channel` is set to `release` and gives a high v

[2018-04-09 17:57] fbertsch opened #531 "Probe dictionary should include a list of buckets for each histogram"

[2018-04-09 18:09] chutten commented on #531
The probe scraper's in a different project, and is called the Probe Info Service now: https://github.com/mozilla/probe-scraper

Or do you mean the probe dictionary? (and even then, pretty sure probe-scraper'd need to the update first)

[2018-04-10 15:45] #528 closed, assigned to nobody

[2018-04-10 15:47] #514 closed, assigned to Insiyaa

[2018-04-10 15:50] #525 closed, assigned to Sylvia23

[2018-04-10 19:22] Insiyaa commented on #526
@Sylvia23 Thanks:)! I'll try to look into this!

[2018-04-10 19:55] Sylvia23 commented on #526
Cool. Cheers !

[2018-04-10 19:58] Sylvia23 commented on #531
@fbertsch @chutten Can you please give a more clearer view about the `items` that the `bucket of lists` should contain for each `histogram` in `stats` view. Thanks!

[2018-04-11 16:52] Insiyaa commented on #526
Is something like this expected? @georgf
![moz0](https://user-images.githubusercontent.com/29259374/38631170-a56f0f74-3dd6-11e8-9e33-5b29ea1dfb2b.png)

[2018-04-11 18:47] georgf commented on #526
Yes, this is exactly what i would expect!
It would be nice to change the style (only show blue bars for this case), but that is just a cosmetic issue :)

[2018-04-11 18:50] Insiyaa commented on #526
Yes will do that! And what is to be done with the legend? Is it to be removed?

[2018-04-11 18:51] georgf commented on #526
We could leave it, but only show "optout". Does that sound good?

[2018-04-11 18:52] Insiyaa commented on #526
Yea okay!

[2018-04-15 20:24] Sylvia23 commented on #516
I am a little confused as to which `getJSON` call is handling passing filters, any guidance would be helpful.
I am guessing we should add a check for status 405 somewhere around [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L574) or maybe it can be handled [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L336). Please clarify

[2018-04-15 20:47] #521 closed, assigned to Sylvia23

[2018-04-15 20:50] #518 closed, assigned to Insiyaa

[2018-04-16 07:50] Sylvia23 commented on #516
@robhudson @georgf @fbertsch I am unable to generate `405` responses even with manually adding parameters like `?e10sEnabled=true` to the aggregate query. I even rolled backed to commits before 7f0553dc2a5a2ee63b386cf1d82c35a32a0e0a6a and tested, still can't reproduce any 405 error. Can you verify this please?

[2018-04-16 13:26] chutten commented on #516
@Sylvia23 The first getJSON call you linked (the one in `Telemetry.getFilterOptions`) won't need to be manipulated as channel and version are and always will be valid filters. You shouldn't expect a 405 there.

As for filters... according to [telemetry.js' docs](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/doc.md) filters are passed to the `getEvolution` call, which is implement

[2018-04-16 13:49] georgf opened #533 "Add a bug icon to the "report a bug" link on the landing page"
This would make it easier to recognize the link.
We can use the font-awesome bug icon for that.

[2018-04-16 14:00] Sylvia23 commented on #516
Thanks for the information @chutten . From the `getEvolution` function I understand that `populateEntriesMap` is being called which is doing the `getJSON` call, so I believe the check for 405 should go into [this call](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L478). Is that right? @chutten

[2018-04-16 14:08] Sylvia23 commented on #533
I would like to give it a quick shot meanwhile solving #516 Thanks!

[2018-04-16 14:22] fbertsch commented on #516
@Sylvia23 @chutten is correct, we haven't pushed this change to production because the client isn't ready yet.

Sylvia, you can access the staging service where the changes are available at `https://mozaggregator.stage.mozaws.net`

[2018-04-16 16:36] Sylvia23 commented on #533
@georgf It should be closed from #534 Thanks!

[2018-04-17 14:50] georgf commented on #533
Cheers!

[2018-04-17 14:50] #533 closed, assigned to Sylvia23

[2018-04-17 16:14] robhudson commented on #516
Here's an example URL that will 405 against stage:
`/aggregates_by/build_id/channels/nightly/?metric=GC_MS&version=59&application=Firefox&os=Windows_NT&architecture=x86-64&dates=20180101&foo=bar`

If you view that in the network panel and inspect the headers you'll see an "Allow" header with the `'&foo=bar'` removed resulting in a URL that should return a 200.

I don't know the Javascript well eno

[2018-04-17 20:42] chutten commented on #516
The filter string for the URL is only generated here: https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L518

Trying the request again with a new URL will require some extra work, but since we can trust the server to hand us the proper url this time, we can probably just pass it into another `getJSON` call using the existing callback et voila.

[2018-04-18 04:14] Sylvia23 commented on #516
Yes @chutten that is the correct place of the URL generation. I have made a PR #535 making changes to handle the 405 errors.
However I am having trouble accessing the correct URL in the Allow header as I have commented in the PR. Could please check on that? Thanks!

[2018-04-19 18:49] jryans opened #536 "Probe dictionary gives confusing count of probes"
If you [search for "trigger"](https://telemetry.mozilla.org/probe-dictionary/?search=trigger&searchtype=in_name) in the dictionary, you see confusing output:

![image](https://user-images.githubusercontent.com/279572/39011826-32ad7ed2-43d8-11e8-975f-6645e851d151.png)

It says "Found 3 probes" but only 1 row appears.

It seems this is tied to filters somehow. If I change "channel any" to "channel n

[2018-04-19 18:50] fbertsch opened #537 "Probe dictionary should not show all probes by default"
It's a bit annoying to go to the probe-dictionary only to wait a few seconds while everything loads. Instead it should be blank, and searches should show results.

[2018-04-19 19:05] chutten commented on #536
Huh, "any" should explicitly _include_ nightly. There should be no change in the display between the two screenshots. Both should have those three.

This will likely prove to be an interesting bug.

[2018-04-19 19:32] chutten commented on #537
I think we'd get 80% there if we made the loading indicator non-modal.

[2018-04-19 19:55] Sylvia23 commented on #537
@fbertsch I would like to give it a shot. Can I take this up? Thanks!

[2018-04-19 19:57] fbertsch commented on #537
All yours! @georgf you may have some input on how this should look.

[2018-04-23 17:29] georgf opened #539 "Use standard naming pattern in probe-dictionary code"
In `probe-dictionary/explore.js`, we mix two different [naming conventions](https://en.wikipedia.org/wiki/Naming_convention_(programming)), `camelCase` (e.g. `version_constraint`) and underscore-separated words (e.g. `channelInfo`).

We should standardize on camel-case where possible.

[2018-04-23 17:29] georgf commented on #539
Before merging this change in, we probably want to let #532 merge first.

[2018-04-23 18:48] Insiyaa commented on #539
I'd like to do this as well...

[2018-04-23 20:09] #516 closed, assigned to Sylvia23

[2018-04-24 13:02] Sylvia23 opened #540 "Access-Control-Expose-Headers"
Redirecting requests when the Allow header is permitted to be accessed.
For reference , see the #516 and #535 .

[2018-04-24 15:36] fbertsch commented on #540
Moving to mozilla/python_mozaggregator.

[2018-04-24 15:36] #540 closed, assigned to nobody

[2018-04-25 15:28] georgf commented on #537
I did not see this issue before, sorry. Now i get a better idea of the goal of #538.
I think the probe dictionary should not default to blank and added detail in #538.

There are at least two use-cases to consider here:
(1) existing users that come in with a concrete search
(2) new users that we want to encourage to explore the data

For (2) this should start off with data to play around with, not

[2018-04-25 15:36] Insiyaa commented on #537
What if in the while the data is loaded we display the recent additions?

[2018-04-26 18:03] georgf opened #541 "Add "see also" link for addons etc."
We recently added more environment data, including [addons](https://telemetry.mozilla.org/probe-dictionary/?search=addons.).

This and other environment data can be objects or arrays, that contain multiple items with more properties. E.g. entries in `addons.activeAddons[addonId]` have multiple properties like
- [`addons.activeAddons[addonId].appDisabled`](https://telemetry.mozilla.org/probe-dictio

[2018-04-27 12:25] georgf commented on #537
You mean showing only the most recently added probes?

If i understand you right, then this has the same problem. Nearly all the probe data comes from [the same large JSON file](https://github.com/mozilla/telemetry-dashboard/blob/dc67d32509679c5ba44f9f88d5e12673be724a22/probe-dictionary/explore.js#L96) ([this one](https://probeinfo.telemetry.mozilla.org/firefox/all/main/all_probes)).

[2018-04-27 12:33] georgf commented on #537
So, one option could be to:
- Remove the modal loading bar.
- Put a loading bar in the search results area (while we wait for the probe data).
- When the loading finished, hide the loading bar.
- If there is a non-empty search input, show the results.

This mostly works, but has two issues:
- The version filter dropdown is populated from the `all_probes` file.
- How to handle users that arrive thr

[2018-05-16 18:09] #526 closed, assigned to nobody

[2018-05-18 15:58] georgf commented on #539
Fixed by #545.

[2018-05-18 15:58] #539 closed, assigned to Insiyaa

[2018-05-18 17:30] robhudson commented on #392
A few attempts were made by myself and then other higher priority work came along. I will attempt to outline what was attempted and what didn't work for future efforts.

1. The first attempt used webpack and rollup as separate attempts. The problem I ran into with these approaches is that the javascript and libraries used are older and not completely modular to support the way these libraries bund

[2018-05-20 08:11] davidcperez opened #546 "HTTPS REDIRECT"
http://192.168.0.3/#hId-pgSecurity

[2018-05-20 11:14] badboy commented on #546
http://telemetry.mozilla.org already redirects to https://telemetry.mozilla.org (the HTTPS site).

Additionally, the URL you posted is on a private IP, not accessible outside of your own network and therefore not helpful to us.

Closing for now.

[2018-05-20 11:14] #546 closed, assigned to nobody

[2018-05-21 14:18] georgf opened #547 "Improve probe-dictionary code encapsulation"
Currently the JS code in `probe-dictionary/` is not structured very well.
Especially the logic around using `gProbeData` is spread around the whole `explore.js` file, making it hard to understand what exactly is going on.

We should improve this, starting with `gProbeData`. This would mean:
- Introducing a new class to encapsulate an individual probes info, e.g. `class Probe`.
- Looking through th

[2018-05-21 14:39] georgf commented on #547
@Insiyaa Would this issue be interesting for you?

[2018-05-21 15:18] Insiyaa commented on #547
Yes. I'd like to work on this. Thanks!

[2018-05-21 15:22] georgf commented on #547
Great, ok!
One tip on this issue:

Proposing a design first (class methods and what they are used for) probably will save us some review time later.

[2018-05-21 15:28] Insiyaa commented on #547
Okay👍

[2018-05-22 16:37] georgf opened #548 "Add experimenter to Telemetry portal"
Experimenter is live now from what i understand, so we should link it from our [portal page](https://telemetry.mozilla.org/).

@rafrombrc, does that sound right?
Can you give the correct link and a short description?

[2018-05-22 16:46] jaredlockhart commented on #548
Yes we should!  The link is here:

https://experimenter.services.mozilla.com/

Description:

Experimenter is a platform for creating, monitoring, and reviewing Shield studies that target Firefox desktop users.

[2018-05-24 11:13] #548 closed, assigned to nobody

[2018-05-24 16:09] georgf opened #550 "Move Experimenter before Test Tube in landing page"
@rafrombrc says that Experimenter will probably be the main entry point.

[2018-05-25 15:32] #550 closed, assigned to nobody

[2018-05-26 00:38] Insiyaa commented on #547
After going through the code I understand that the `class Probe` will have a method which will return data at a particular index provided as an argument and would return the complete `gProbeData` when no arguments given. Is this appropriate?

[2018-05-29 15:43] chutten commented on #463
Unassigning and deprioritizing due to inactivity.

[2018-05-29 15:45] chutten commented on #491
Deprioritizing and unassigning due to inactivity.

[2018-05-29 15:55] chutten commented on #502
Unassigning and reprioritizing due to inactivity.

[2018-05-29 15:56] chutten commented on #404
Unassigning and reprioritizing due to inactivity.

[2018-05-29 15:57] chutten commented on #460
Unassigning due to inactivity.

[2018-05-29 15:58] #444 closed, assigned to nobody

[2018-05-30 20:01] georgf commented on #547
Sorry for the late response, i was busy with a training.

I think the `class Probe` should encapsulate the `gProbeData` contents.
We could e.g. have a function `getProbe(id)`, that returns `new Probe(gProbeData[id])`.

`class Probe` would have some methods and properties, that hide the logic using `gProbeData` we currently have in other places.
So, for example. Let's say we get this as `var probe

[2018-06-05 15:45] georgf commented on #474
Closed by #520.

[2018-06-05 15:45] #474 closed, assigned to ecomerford

[2018-06-05 20:50] #404 closed, assigned to nobody

[2018-06-18 19:43] georgf opened #556 "Fix link to gfx telemetry dashboard"
The link to the gfx telemetry dashboard on the portal page is dead (dvander left us).

Following the repo link [here](https://wiki.mozilla.org/Platform/GFX/Telemetry#moz-gfx-telemetry), it looks like [jrmuizel now owns it](https://github.com/jrmuizel/moz-gfx-telemetry).
We should check with him where it is published and change the link accordingly.

[2018-06-18 19:45] georgf opened #557 "Update background hang reporting link"
The background hang reporting link on the portal page now redirects to [arewesmoothyet.com](http://arewesmoothyet.com/).
We should update it.

[2018-06-19 15:35] chutten commented on #557
Right now it is pointing at squarewave, so let's change the link

[2018-06-19 15:37] chutten commented on #556
@jrmuizel do you have a canonical link for this dashboard? What's its future?

[2018-06-21 21:24] mozkeeler opened #558 "[wrapper] make the selected bucket for enumerated histograms configurable"
As far as I can tell, BUCKET_INDEX_FOR_ENUMERATED controls which bucket of an enumerated histogram to use. Currently it is a constant set to 0. It would be nice to be able to pick this in the passed-in params.

[2018-06-23 15:35] abhinandan1995 commented on #557
Ready to take this up. Can you let me know where it should point to?

[2018-06-24 14:40] is2ei commented on #251
Hi @chutten
Could I work on this issue if it's still open?

[2018-06-25 19:26] chutten commented on #557
@abhinandan1995 It should point to https://arewesmoothyet.com/

Please let me know if you have any questions.

[2018-06-25 19:27] chutten commented on #251
@is2ei It is still open. Please let me know if you have any questions.

[2018-06-26 15:38] chutten commented on #547
@Insiyaa Are you still working on this? Is there anything we can help with?

[2018-06-26 21:16] abhinandan1995 commented on #557
@chutten
I do have a question. And it's regarding the permissions things.
So i cloned the repo. started out on new branch <issue-557> from the latest code. Made the required changes. Committed the changes but when i tried to push the code it gave me the error:
Permission to mozilla/telemetry-dashboard.git denied to abhinandan1995.

[2018-06-27 12:31] badboy commented on #557
@abhinandan1995 In order to submit your changes as a Pull Request you first need to [fork this repository](https://help.github.com/articles/fork-a-repo/) and push your changes to your own fork. You can then create a Pull Request against mozilla/telemetry-dashboard in order for us to pull it in.

If it's only a small change you can do all  those steps right in the web UI of GitHub. [Browse to the f

[2018-06-30 06:54] Insiyaa commented on #547
I didn't get the chance to work on this as I was busy with some courses. I'll try to work for this-this week. Sorry for the delay.

[2018-07-03 17:49] abhinandan1995 commented on #557
@badboy Thanks for the help. Okay I've made the changes and gave a PR. @chutten Anything else that i could look into. There were some issues that i was looking into and some of them seem to be fixed although their state is open.

[2018-07-03 19:15] chutten commented on #557
#558 is available if you're looking for something like that. Otherwise, #536 is an odd one which might require a little investigation.

[2018-07-03 19:15] #557 closed, assigned to nobody

[2018-07-03 21:01] abhinandan1995 commented on #536
So i was looking into this issue. @chutten And i can't seem to repro it. Is it still an issue?

[2018-07-03 21:04] chutten commented on #536
I'm not sure. It has been a little while since it was filed, so this is entirely possible.

Some possible next steps would be:

1) Ask the person who reported it for help reproducing it
2) Look around merged pull requests here and in mozilla/probe-dictionary to see if there's anything obvious that may have fixed it in the interim
3) Find a new thing to work on while you wait for 1) to happen : )

[2018-07-03 21:18] jryans commented on #536
This issue still exists, but you can't reproduce anymore with the original steps. The issue only exists for probes that have only been seen for some but not all channels, which changes over time. For example, when a new probe is first added, it is only recorded by the nightly channel at first, but eventually makes its way to all channels.

As an example that works right now, [search for "DOCGROUPS

[2018-07-04 15:48] georgf commented on #536
@jryans I have a fix up over at #560, does that look good to you?
[Here is a live instance](https://georgf.github.io/telemetry-dashboard/probe-dictionary/?search=docgroup) of the fixed probe dictionary.

[2018-07-05 19:55] jryans commented on #536
@georgf Thanks, that does seem to fix this issue! 😁

While testing your fixed instance, I noticed the following:

* Changing from channel any to nightly causes the "recorded" column for probes like ACTIVE_HTTP_DOCGROUPS_PER_TABGROUP to change from "62 to 62" to "63 to 63"; I would expect channel any to say "62 to 63" (the superset of info from different channels), but I might not fully understand

[2018-07-06 12:09] #536 closed, assigned to georgf

[2018-07-06 12:40] georgf commented on #536
Hm, i see your point and have a hard time seeing which option is better.

Currently this is "as designed" and i was hoping it makes intuitive sense for users.
The idea is that if you look at probes from a specific channel, you'd want to know the state on that channel.

We could change it to show the super set, but i wonder if that is confusing in other ways.

[2018-07-06 12:40] georgf commented on #536
But yes, happy to dive into that more in a separate issue 👍

[2018-07-11 15:50] msujaws opened #565 "USER_CHROME_CSS_LOADED appears for Nightly 60-63 and Beta 59-61 but not for any Developer Edition builds on the Evolution Dashboard"
I am able to select USER_CHROME_CSS_LOADED and then select Nightly 60-63 or beta 59-61, but when I switch the builds to Developer Edition then the histogram ID gets reset.

This histogram was introduced in Nightly 59 by https://bugzilla.mozilla.org/show_bug.cgi?id=1416044

[2018-07-11 15:52] msujaws commented on #565
This histogram ID also doesn't appear on the Measurement Dashboard for Developer Edition builds.

[2018-07-11 15:54] msujaws commented on #565
@nt1m pointed out to me that this histogram was uplifted to Firefox 58 during the 58 beta cycle.

[2018-07-12 12:54] georgf opened #567 "Consider auto-deploying PRs"
The mozilla codetribute project has auto build & deploy of PRs set up through netlify (see e.g. mozilla-frontend-infra/codetribute#97).
We could consider something similar here.

[2018-07-12 13:11] helfi92 commented on #567
Codetribute is using a personal netlify account for the auto builds & deploy. @eliperelman sent a service request a while back to have a Netlify team account we can all use at Mozilla. @eliperelman, do you know if we have a team account now?

[2018-07-12 13:56] eliperelman commented on #567
No, this is still in progress.

[2018-07-15 19:59] abhinandan1995 commented on #463
Hey I'd like to start on this. @chutten And just for the approach, can I use an extra parameter in the url?

[2018-07-17 15:47] fbertsch commented on #565
@msujaws Thanks for reporting! We found that Dev Edition data isn't up-to-date, see bug 1476323 for details. In the meantime, will the beta data suffice for your use case?

[2018-07-18 15:43] Dexterp37 opened #570 "Hide the "spill" bucket from categorical histograms behind an advanced setting"
The Measurement Dashboard is showing, for categorical histograms, an additional bucket: the *spill* bucket (see the [example](https://mzl.la/2JxNimJ)).

This bucket is not present on the client side, but it's added [by the aggregator](https://github.com/mozilla/python_moztelemetry/blob/a38e07ebd38a00fadf64b9e068825665dced8849/moztelemetry/histogram.py#L147) as a kind of catch-all / overflow bucket

[2018-07-18 23:24] fbertsch commented on #570
If the bucket isn't adding any value, it makes sense to not show it. I'm hesitant to make the data unavailable though, because (IIRC) telemetry could accumulate on those buckets if the call is outside of `AccumulateCategorical` and instead uses `Accumulate`. Obviously there is also the case of simply erroneous data.

Maybe we could have an advanced setting to enable showing the spill bucket?

[2018-07-19 06:55] Dexterp37 commented on #570
Good point on calls outside of the categorical API: we don't forbid that, though it's a weird usage.
I like your proposal, +1 on that!

[2018-07-21 16:34] ab0092 commented on #558
@chutten i would like to work on this, could you or @mozkeeler help me with some more details?

[2018-07-24 15:33] fbertsch commented on #570
Great! Let's plan on that then.

[2018-07-25 23:03] mozkeeler commented on #558
My guess would be adding a parameter to TelemetryWrapper.go https://github.com/mozilla/telemetry-dashboard/blob/f66351757f13829807efd3c661ae28a0bcf5899a/wrapper/telemetry-wrapper.js#L9 that gets passed to evoTime https://github.com/mozilla/telemetry-dashboard/blob/f66351757f13829807efd3c661ae28a0bcf5899a/wrapper/telemetry-wrapper.js#L348 that tells it which bucket(s) to use. I'm not familiar with

[2018-07-31 17:04] chutten commented on #463
Apologies for the delayed response, I was out of the country.

Using the url to store state is a valid tactic, but for this use case I think using the History API would be better. Putting state in the URL would mean sharing it between people when sharing links and having identical views have multiple different URLs that would resolve to them.

Does that make sense?

[2018-07-31 17:36] chutten commented on #558
@mozkeeler is correct. It might even be nice to support multiple bucket indices, but starting with just one is probably safest.

[2018-08-01 18:20] ab0092 commented on #558
@chutten , @mozkeeler i have figured out what exactly is to be done but i am failing to figure out in which interface exactly is telemetry-wrapper.js is being used i have looked into the measurement and evolution dashboard but could not find it there either. Any help regarding this would be great.. Thanks..

[2018-08-01 18:40] chutten commented on #558
Presently the most public user of telemetry-wrapper are dashboards generated by the [Dashboard Generator](https://telemetry.mozilla.org/dashboard-generator/index.html). Choose the parameters, add to your dashboard, then click Generate to get a custom dashboard in a codepen.

Here's an [example](https://telemetry.mozilla.org/dashboard-generator/index.html?channel=nightly&version=&metric=GC_MS&useSu

[2018-08-01 18:41] chutten commented on #558
Oh, and here's the documentation for wrapper, which may help: https://github.com/mozilla/telemetry-dashboard/tree/gh-pages/wrapper

[2018-08-01 20:30] ab0092 commented on #558
Thanks @chutten for the assist. As per my understanding the index of dashboards added to the list is to be passed as params so will the params object which will be passed to the wrapper js look something like this  ??

## BucketIndex field added ##
var plots = [
  {
    "channel": "nightly",
    "version": "",
    "metric": "A11Y_CONSUMERS",
    "useSubmissionDate": false,
    "sanitize": true,

[2018-08-01 20:36] chutten commented on #558
Looks fine, though if you'll permit me to suggest a small change, prepend `evo` on the bucket index parameter. Other evolution-only parameters follow that convention.

Oh, and do remember to document the new parameter in the `README` as well.

[2018-08-01 20:44] ab0092 commented on #558
@chutten is the bucket index specific to only evolution dashboards selection ? because what i have implemented so far is basically the indexes of the _dash list is set as bucket index in plot object.

[2018-08-02 14:12] chutten commented on #558
The bucket index is only referenced in `evoTime` I think, so it should be evolution-only. When displaying a histogram, all buckets are shown, so we didn't need to specify a default :)

[2018-08-02 17:14] ab0092 commented on #558
@chutten i require some assistance in understanding what feature the evo bucket index add. As far as i have gone through the code base the current default index value of  0 is being passed to the evolution historical array as an index so i am not being able to understand the context. And any idea how i can go about testing the wrapper.js from my localhost as i keep geeting an ERR_SSL_PROTOCOL_ERRO

[2018-08-02 17:45] chutten commented on #558
I wonder if it is because you're importing an SSL resource on a non-secure host (localhost)? I'm not 100% sure.

As for the feature, at present if you ask for an evolution of, say, A11Y_CONSUMERS over time you get a time-series line graph. From [the code](https://dxr.mozilla.org/mozilla-central/rev/3cb90f16402bc5e1203e2771dc93553b8377fa40/accessible/windows/msaa/Compatibility.h#90) we see that A11

[2018-08-02 18:07] ab0092 commented on #558
@chutten thank you very much for the detailed explanation. Now its is completely clear as to why is the bucket_index required. So i think  when evolution is chosen in the dashboard generator interface by the user then some sort of user input (be it a text area or a select option) is required for selection of bucket index for enumerated metrices like A11Y_CONSUMERS which will be then passed to evot

[2018-08-02 19:20] chutten commented on #558
Adding UI to the Dashboard Generator would be a lovely follow-up issue to tackle, but isn't necessary for this Issue. This one's only looking at adding the capability to telemetry-wrapper.

But if it would help to do it at the same time, that's fine as well. I leave it to you to decide whether or not to do both things right now.

[2018-08-04 15:23] ab0092 commented on #558
@chutten i have done the required changes for evoBucketIndex in the generator js as well as the wrapper js to accept configurable values for bucketindex. I have not implemented any user input for now but may be later on i will come up with that as well. I have put up the changes here https://ab0092.github.io/telemetry-dashboard/dashboard-generator/index.html. Please could you review the changes an

[2018-08-07 15:43] chutten commented on #547
Deprioritizing and unassigning due to inactivity. @Insiyaa if you find the time later on, just let us know and I'll reassign this to you.

[2018-08-07 20:17] chutten commented on #558
It seems to work well! I generated a codepen from [this dashboard spec](https://ab0092.github.io/telemetry-dashboard/dashboard-generator/index.html?channel=nightly&version=&metric=A11Y_CONSUMERS&useSubmissionDate=false&sanitize=true&trim=true&compare=&sensibleCompare=true&evoVersions=1&filters=&evoBucketIndexes=0) and was able to toggle to different `evoBucketIndex` values to show me exactly what

[2018-08-08 17:57] ab0092 commented on #558
@chutten i have made the PR. I have also added the evoBucket usage description in the ReadMe.md so if you could review the description that would be great.

[2018-08-08 20:19] chutten opened #572 "Add UI to Dashboard Generator to select Evolution Bucket Index"
With #571 we now have in dashgen and wrapper a facility for configuring the bucket index we want an evolution to display. However, we do not have a way in the dashgen UI to select one.

This bug is to add an input field, probably of type="number", to the evolution tab of Dashboard Generator which defaults to 0 and which plumbs into the `evoBucketIndex` param in wrapper as implemented in #571 .

[2018-08-08 21:02] chutten commented on #572
@ab0092 has expressed an interest in working on this.

[2018-08-09 17:43] ab0092 commented on #572
@chutten i have added the UI for the bucketindex. Changes are available here **https://ab0092.github.io/telemetry-dashboard/dashboard-generator/index.html** please have a look and let me know if anything more is to be added.

[2018-08-09 18:03] chutten commented on #572
Seems to work and have no bad interactions with the other parameters. Looks good from the outside.

[2018-08-09 18:57] ab0092 commented on #572
Should i make the PR for you to merge it??

[2018-08-09 19:07] chutten commented on #572
Yes please.

In fact, if you'd like to save a step in future, you can submit the PR directly when you think you have it ready. I can evaluate the live demo and the code at the same time that way and save you from having to wait for me to get back to you : )

[2018-08-09 19:09] ab0092 commented on #572
Ok i will certainly do that. Thanks. :-)

[2018-08-09 19:24] #572 closed, assigned to nobody

[2018-08-09 20:02] ab0092 commented on #570
@fbertsch i have looked into the UI. Is it the spill section under success and failure that is to be made visible based on an advanced setting?? Some more details on this issue would be really helpful as i would like to work on this one.

[2018-08-09 20:08] ab0092 commented on #502
@chutten could you assign this issue to me? I would like to work on this one.

[2018-08-09 20:19] chutten commented on #502
Sure. Let me know if you have any questions.

[2018-08-09 20:21] ab0092 commented on #502
@chutten I cannot seem to reproduce the url which is mentioned in the above comments.

[2018-08-09 20:26] chutten commented on #502
I think a url exhibiting the original request would be https://mzl.la/2vSbvzG (which expands to https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=bucket-0!bucket-3!bucket-4!bucket-7&cumulative=0&end_date=null&keys=&max_channel_version=nightly%252F63&measure=TELEMETRY_SEND_FAILURE_TYPE&min_channel_version=nightly%252F60&processType=*&product=Firefox&sanitize=1&sort_keys=submissions&st

[2018-08-09 20:32] ab0092 commented on #502
Yes now i can see it. Setting the aggregate values instead of the keys wont be a problem i will just check once whether there will be any issues to re-populate the data back from the saved url.

[2018-08-11 19:36] ab0092 commented on #502
@chutten i have implemented the required changes and you can view the changes at  https://ab0092.github.io/telemetry-dashboard/new-pipeline/evo.html . I have also submitted the PR so please review that as well and let men know if any further changes are required.

[2018-08-14 15:47] fbertsch commented on #565
@msujaws this has been fixed, we're now aggregating dev edition data again. Please take a look at your charts, there should be data from the last few days. If everything looks to be in order, feel free to close this issue!

[2018-08-14 17:07] msujaws commented on #565
Thank you, I can confirm that this is now fixed.

[2018-08-14 17:07] #565 closed, assigned to fbertsch

[2018-08-16 11:55] preeti98 commented on #479
Hi! This is Preeti Mukherjee. I have just recently started learning JavaScript. So, I would like to work on this bug in case no one else is working on this. Thanks in advance!

[2018-08-21 15:41] robhudson opened #575 "Dev edition charts show up as "aurora" in chart labels"
Visit https://mzl.la/2BaArYT and hover the chart lines and look at the labels. Since the front-end is already changing "Aurora" to "Dev Edition" elsewhere I propose the front-end does the string swap here as well.

[2018-08-23 09:16] shiri1248 commented on #575
I would like to work on this.

[2018-08-23 09:23] shiri1248 commented on #556
I would like to work on this issue. Can anyone guide me please

[2018-08-23 13:55] chutten commented on #556
Hi!

The "Graphics Telemetry" dashboard linked to in the index can't be found at the provided link any more. Instead it can be found here: https://firefoxgraphics.github.io/telemetry/

This Issue is about changing the link to point to the new address. Please let me know if you have any questions.

[2018-08-23 14:11] shiri1248 commented on #556
Thanks @chutten  for your information. Is this issue belongs to same repo or any other? Please clarify my doubt .

[2018-08-23 14:15] chutten commented on #556
This issue is in this repo. The broken link we want fixed is this one.... wait a minute.

It appears as though this was fixed recently. Looks like it was handled by #569, but this issue wasn't closed. We can close this now.

Would you like to work on #575 instead? I see you commented there as well.

[2018-08-23 14:15] #556 closed, assigned to nobody

[2018-08-23 14:54] shiri1248 commented on #556
yes @chutten  I will work on #575.

[2018-08-23 14:59] shiri1248 commented on #575
can anyone  guide me on this issue please

[2018-08-23 15:38] chutten commented on #575
Yes. The code controlling what plots look like can be found in `new-pipeline/src/dist.js` and `new-pipeline/src/evo.js`. Any time it uses the word "aurora" in a place where it might be shown to a user it should instead read "dev edition"

[2018-08-24 05:51] shiri1248 commented on #575
Thanks @chutten , so I should replace the  word  "aurora" to  "dev edition" am I right?

[2018-08-24 12:58] chutten commented on #575
Correct.

[2018-08-24 13:40] shiri1248 commented on #575
@chutten  submitted a PR #576  please review and  if you find any conflicts please let me  know

[2018-08-27 19:11] chutten commented on #502
This was fixed by #574

[2018-08-27 19:11] #502 closed, assigned to nobody

[2018-08-27 19:52] chutten commented on #570
Ah yes, this one.

The idea here is that some probes (categorical ones, to be precise) come with one final bucket labelled "spill" that wouldn't really be that useful to people looking at the data on the measurement dashboard. The proposal is that we hide the "spill" bucket on the distribution and evolution views and provide an "Advanced Setting" to allow it to be re-shown just in case someone who

[2018-08-27 20:02] ab0092 commented on #570
From what i understood, when the data is being shown in the measurement dashboard in table mode its shows three labels **success**, **failure** and **spill**. So the spill label is the one that is to be made visible only on user selection that is to be part of the advanced settings option. Is my understanding correct ??

[2018-08-27 20:14] chutten commented on #570
Correct. You can see it with different labels here: https://mzl.la/2BRYHiZ

And you can see it in chart form here: https://mzl.la/2BT7jWo

And you can see it in evolution view here: https://mzl.la/2NpkNuo

[2018-08-27 20:21] ab0092 commented on #570
Just one question, for the evo dashboard the spill option is already a part of the optional aggregates list so the user already has a option to not view it, so it required in that context also ??

[2018-08-27 20:25] chutten commented on #570
I think a complete solution would hide it from the dropdown list unless the advanced setting were checked.

[2018-08-27 20:29] ab0092 commented on #570
Agreed. So i will start working on this and provide an update once it is ready. Thanks for the explanation.. :-)

[2018-09-03 17:36] ab0092 commented on #570
@chutten i have done the required changes and also made the PR for it. Please have a look and let me know if anything more is to added. You can view changes here **https://ab0092.github.io/telemetry-dashboard/**. And one more input i require from your end is the label of the advance setting to include spill. I have provided a label as per my judgement but i feel it requires changing it. Thanks..

[2018-09-09 17:31] ab0092 commented on #547
@chutten , @georgf  i have made an initial design of the **Probe** Class and it should look something like this

`class Probe
{
 // This property will consist of the Total Probe Data that is being Populated during Page initialisation
  ProbeData;

// This method will set Value to the ProbeData Property **(new mthod to be added)**
setProbeData(probeData);

// This method will be used to set value t

[2018-11-15 15:14] fbertsch opened #590 "Release channel links load previously selected aggregates"
STR:
1. Open TMO, navigate to release-channel probe (e.g. `HTTP_TRANSACTION_IS_SSL`)
2. Close the page
3. Navigate to https://mzl.la/2TfNNrR (`WEBFONT_COMPRESSION_WOFF2`)

Expected result: Opens the release channel 63 `WEBFONT_COMPRESSION_WOFF2` histogram

Actual Result: Opens `HTTP_TRANSACTION_IS_SSL`

[2018-11-15 15:19] chutten commented on #590
If you have the devtools open, I get the Expected result. Maybe some weird timing thing between Telemetry init and... y'know, I'm not sure what it would be racing.

[2018-11-15 16:13] fbertsch opened #591 "TMO requires re-auth when switching between measurement/evo views"
STR:

1. Select a release channel aggregate, login
2. Click on evolution view

Expected result: Show data in evo view

Actual Result: Requires re-auth

It would be nice to have auth sessions be maintained across the tab change.

[2018-12-08 18:26] jarkyll commented on #479
@preeti98 Has there been an update on this story?

[2018-12-11 16:12] nvamsikrishna05 commented on #479
I can see that this issue has been fixed. Now the generate dashboard button becomes disabled after adding and removing all dashboards. So, this issue can be closed.

[2018-12-11 18:13] #479 closed, assigned to nobody

[2019-01-12 07:04] gargshruti30 commented on #456
@georgf Can I work on this issue ?

[2019-01-15 16:43] chutten opened #606 "When selecting a metric that has no data the Dashboard shows the previous data (histogramList[0] is undefined)"
In the event that a metric has no data to show (like Nightly 66's DEVTOOLS_FLEXBOX_HIGHLIGHTER_TIME_ACTIVE_SECONDS when "sanitize data" is true), then we error to the log

[code]

And the view remains on the previous data, whatever it was. We -do- have the ability to show "no data for these options" views via metricsgraphics, so we should probably do that instead of silently throwing a fit.

[2019-01-25 19:16] godelstheory opened #609 "Missing simple measures in probe dictionary"
Searching for the following simple measures in the [probe dictionary](https://telemetry.mozilla.org/probe-dictionary/) finds no probes:

- selectProfile
- delayedStartupStarted
- delayedStartupFinished
- sessionRestored
- blankWindowShown

However, these are all available in about.telemetry (Simple Measures) and are observed in raw pings for current Firefox release data

[code]

yields:

[code]

[2019-01-25 19:44] chutten commented on #609
`sessionRestored` [does appear to be there](https://telemetry.mozilla.org/probe-dictionary/?search=sessionrest&detailView=simpleMeasurements%2FsessionRestored), but you're right that some are missing.

The rest need to be added to `other_fields.json`

[2019-02-17 18:02] ghost opened #611 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-21 16:42] shell1 opened #612 "Change the SHIELD Docs linking from telemetry.mozilla.org"
In telemetry.mozilla.org, there is a section called "SHIELD DOCS" "Learn how to run SHIELD studies and experiments." - that goes to old (no longer valid) SHIELD documentation.

Please change that to "SHIELD STUDY DOCS" "Learn how to run add-on and pref-flip studies and experiments" and have it link to  https://mana.mozilla.org/wiki/display/FIREFOX/Pref-Flip+and+Add-On+Experiments#Pref-FlipandAdd-O

[2019-02-21 17:07] #612 closed, assigned to chutten

[2019-02-26 19:03] fbertsch commented on #611
Thanks @moz-hwine!

[2019-02-26 19:03] #611 closed, assigned to nobody

[2019-03-08 02:33] hardik25 commented on #609
I would like to take this up. May I? If yes, could you please provide some leads?

[2019-03-08 06:24] hardik25 commented on #590
@chutten @fbertsch

I have observed this problem to be still present while fixing issue #609. I would like to work on this issue. Could you please assign me this bug? Thanks!

[2019-03-08 18:11] chutten commented on #609
@hardik25 's fix in #614 took care of this issue.

[2019-03-08 18:11] #609 closed, assigned to nobody

[2019-03-11 03:19] hardik25 commented on #606
@chutten

I would like to work on this issue. From initial triaging, I could locate the part of code which will display the "no data" message. Below is the part of code that I found in the function displaySingleHistogramSet in dist.js:

https://github.com/mozilla/telemetry-dashboard/blob/7d7c4a00e0756ae80723f9be1a0540d914986d7c/new-pipeline/src/dist.js#L1065

Could you please confirm if I am on th

[2019-03-11 03:37] hardik25 commented on #575
@chutten

How to reproduce this issue?

[2019-03-18 14:20] chutten commented on #606
Sorry for the delay, I was out for the week.

Yes, that is exactly the "no data" message we hope to trigger! You can test your fix by loading the Measurement Dashboard and choosing `DEVTOOLS_FLEXBOX_HIGHLIGHTER_TIME_ACTIVE_SECONDS` as the metric you'd like to display. Check the devtools console for a TypeError. If there is one, the problem persists.

[2019-03-18 18:28] hardik25 commented on #575
Hi @chutten

I have created a pull request with fix to this issue. Please review.

[2019-03-28 04:14] ghost opened #618 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 14:28] #618 closed, assigned to nobody

[2019-04-11 12:49] chutten commented on #606
Unassigning due to inactivity.

[2019-04-14 00:43] staktrace opened #621 "evolution graph shows weird line"
Go to https://mzl.la/2UgDjaU

Observe how the line from Nightly 65 takes a nosedive into Nightly 67 (see attached screenshot). What's with that?

<img width="1158" alt="nosedive" src="https://user-images.githubusercontent.com/485789/56086828-ca78d800-5e2c-11e9-9ede-e4a6f1b40d19.png">

[2019-04-14 20:37] staktrace commented on #248
The buildhub dependency looks to be satisfied now. I would also like to see this implemented; I just ran into it.

[2019-04-15 17:40] chutten commented on #621
According to the aggregates dataset we received 31M samples from 8.9k pings from a build identifying itself as Nightly 65 with buildid that started with 20190211.

As to the reasonable follow-up question "What?" I have no answer. I'm willing to bet if we look closely into the pings submitted by these clients we'll be left with only more questions. For instance, if we look at only Mac and Linux dat

[2019-04-17 03:33] mattwoodrow opened #622 "Add custom percentile lines to the evolution view"
For the value I'm looking at (PAINT_BUILD_DISPLAYLIST_TIME), the vast majority of results are quick, with just the outliers representing interesting information.

For this reason, the mean and median for this probe generally are fairly useless, but the 95th percentile line shows real changes when we make improvements.

5% of paints is still a significant amount, so it would be really useful if I c

[2019-04-22 17:18] staktrace opened #623 "Probes that are desktop-only don't provide useful error for mobile on telemetry.m.o"
Go to e.g. https://mzl.la/2ZqFJHV and then in the selector sentence at the top, try changing "Firefox Desktop" to "Firefox Mobile".

Expected: the histogram goes away, or gives you some indication that this probe is not recorded on mobile.

Actual: histogram remains pretty much where it is, showing the desktop numbers.

The problem is more obvious if you go to the mobile stats for a different prob

[2019-04-22 17:29] chutten commented on #623
Might be another aspect of the same underlying problem as #606. We should retest after it is addressed.

[2019-04-23 19:51] #606 closed, assigned to nobody

[2019-04-23 19:51] #623 closed, assigned to nobody

[2019-05-10 16:50] mreid-moz opened #625 "Colour graphs the same way on Evolution View"
From [Bug 1544102](https://bugzilla.mozilla.org/show_bug.cgi?id=1544102):

[2019-05-13 14:55] staktrace opened #626 "Add link to databricks on telemetry.mozilla.org home page"
I don't know if databricks is a "officially supported" way to do custom telemetry analysis, but it does seem more user-friendly than some of the other methods. Having a link to databricks on the telemetry.mozilla.org homepage alongside the other links (e.g. to `sql.telemetry.mozilla.org`) would be nice.

[2019-05-21 18:08] #626 closed, assigned to nobody

[2019-05-21 18:30] staktrace commented on #626
Thanks! 👍

[2019-06-04 18:04] #621 closed, assigned to nobody

[2019-09-03 12:09] jfkthame opened #628 "Histogram display should show total number of telemetry pings received for the selected product/dates/etc"
If I'm understanding the telemetry dashboard display correctly, when I view a [histogram for a particular probe](https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&end_date=2019-09-01&include_spill=0&keys=__none__!__none__!__none__&max_channel_version=nightly%252F70&measure=HYPHENATION_MEMORY&min_channel_version=null&processType=*&product=Firefox&sanitize=1&sort_by_value=0&sort_key

[2019-09-03 13:48] chutten commented on #628
That is 100% correct and is as designed. Sorry about that. Unfortunately your use case of "Compare this metric relative to the population that could have sent a value for the metric" is not one that's well supported by the Measurement Dashboard (MD).

@robhudson for whether the [Measurement Dashboard v2 (mdv2)](https://github.com/mozilla/mdv2/) project will address this use case better, and to con

[2019-09-04 16:58] hamilton commented on #628
@chutten we've had conversations w/ more than one engineer who brought up a common pain point about MD – "how do I figure out the effective audience size for the filters selected?" And is (at least for me) a hard requirement for some version of mdv2 (maybe not mvp, but hopefully).

[2019-10-03 12:27] driver-by commented on #575
Hi guys,
I've  submitted a PR #629 to fix the issue. Waiting for review.
Thanks!

[2019-10-03 15:32] #575 closed, assigned to nobody

[2019-11-20 20:42] cpeterso opened #635 "Add Fission as a "compare by" option"
The Firefox Fission team would like to add a "Fission" option to telemetry.mozilla.org's "compare by" drop-down menu.

With Fission enabled, Firefox will create many more content processes than before, which will likely impact memory usage and performance. I'm working with Data Science to create a real dashboard for Fission release readiness metrics, but Fission engineers would also like to do ad

[2019-11-20 21:09] fbertsch commented on #635
Great, that should be all we need, since that value is already sent through telemetry.

[2019-11-20 21:09] fbertsch commented on #635
cc @emtwo for GLAM

[2019-11-21 18:24] tdsmith commented on #635
I left [a comment on the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1567581#c19) that added this to the telemetry environment, but heads up that the reported value only reflects whether fission.autostart has a value on the user branch. While fission.autostart is off by default, the reported values will be either `true` (Fission enabled) or missing (Fission disabled). Someday, when Firefox b

[2019-12-02 22:55] cpeterso commented on #635
@tdsmith - Should we change how the Fission pref is initialized or recorded to make the pref ping processing easier when comparing Fission vs non-Fission?

https://searchfox.org/mozilla-central/rev/04d8e7629354bab9e6a285183e763410860c5006/toolkit/components/telemetry/app/TelemetryEnvironment.jsm#276

[2019-12-02 23:02] tdsmith commented on #635
If you're ready to start reporting this value in telemetry for all users, you can use `RECORD_DEFAULTPREF_VALUE` instead of `RECORD_PREF_VALUE`; https://searchfox.org/mozilla-central/rev/04d8e7629354bab9e6a285183e763410860c5006/toolkit/components/telemetry/app/TelemetryEnvironment.jsm#191-193.

[2019-12-02 23:05] cpeterso commented on #635
Thanks. I'll talk with the Fission engineers. I don't see any harm in reporting this pref value for all users now. The pref is locked so the feature itself can only be activated in the Firefox Nightly channel.

[2019-12-02 23:15] cpeterso commented on #635
I filed Fission bug https://bugzilla.mozilla.org/show_bug.cgi?id=1600818.

[2020-04-14 20:01] cpeterso commented on #635
This bug has been fixed in Firefox 77 Nightly. The `fission.autostart` pref value is now being recorded using `RECORD_DEFAULTPREF_VALUE`, so the pref value will always be reported, even when it is the default value (currently `false`). This should make writing telemetry queries more future-proof when we eventually flip the pref default to `true`.

@tdsmith - What are the next steps for requesting

[2020-04-14 21:08] tdsmith commented on #635
AIUI that's on GLAM's roadmap, which is the tool that will replace Measurement Dashboard; @rafrombrc is probably the best contact if you have questions about that.

[2020-04-14 22:54] cpeterso commented on #635
@rafrombrc - Is new telemetry browsing UI development focused on GLAM and not TMO? Do you have a demo or timeline you can share?

[2020-04-23 10:52] Pike opened #643 "Link to matrix instead of IRC on telemetry homepage"
... because IRC ain't no more.

CC @mhoye

[2020-04-23 12:53] #643 closed, assigned to nobody

[2020-11-16 17:29] mstange commented on #248
I ran into this again today.

[2020-11-16 20:40] chutten commented on #248
To manually get a pushlog:
1) Go to https://hg.mozilla.org/mozilla-central/firefoxreleases and find the Revisions of the last build before the change and the first build after the change. This is complicated somewhat by there being multiple builds per day, so all else fails widen your search by an extra build.
2) Put the revisions from Step 1 into this template: `https://hg.mozilla.org/mozilla-cen

[2021-01-29 16:47] tdsmith opened #650 "Index should document how to edit the index"
I didn't realize this repo and the t.m.o front page were connected. It'd be great to have a "edit me!" link on the t.m.o home page.

[2021-01-29 16:54] chutten commented on #650
Sure. https://github.com/mozilla/telemetry-dashboard/commit/7ae4da668d360b591bc65c301c4981d105c0b4b8 ought to take care of it. Check back in 15min or so when the caches flush and we should be up and running.

[2021-01-29 16:54] #650 closed, assigned to nobody

[2021-04-01 20:44] wlach commented on #547
Closing this issue, probe-dictionary is now maintained in https://github.com/mozilla/probe-dictionary/ and I believe this is no longer relevant.

Thanks for everyone's work on this!

[2021-04-01 20:44] #547 closed, assigned to nobody

[2021-04-06 13:11] wlach commented on #463
Sorry for the late response on this, I think this got lost in the shuffle.

This seems to have been fixed with the react-based probe dictionary (https://github.com/mozilla/probe-dictionary). As such, I'm going to close this issue.

[2021-04-06 13:11] #463 closed, assigned to nobody

[2021-04-06 13:12] wlach commented on #456
I think this was fixed at some point.

[2021-04-06 13:12] #456 closed, assigned to nobody

[2022-01-24 11:29] DPDLTD opened #658 "Export passwords to keychain"

[2022-01-24 15:17] #658 closed, assigned to nobody

[2022-03-10 18:30] eviljeff opened #661 "Upgrade use of https://addons.mozilla.org/api/v3/ to /api/v4/"
AMO api v3 is [deprecated](https://blog.mozilla.org/addons/2021/02/01/addons-mozilla-org-api-v3-deprecation/) - and was scheduled to be removed entirely at the end of 2021.  We're hoping to [finally remove](https://github.com/mozilla/addons/issues/1861) it very soon.  From a search on https://github.com/mozilla/ we've noted some use in this repo of the /api/v3 endpoint that will break once the api

[2022-03-11 15:25] #661 closed, assigned to nobody

[2022-03-11 15:26] chutten opened #663 "Remove unused Addon Recommendation tool"
According to @Dexterp37 in #662, it is unused and can be removed.

[2022-03-15 20:40] anjali1102 commented on #663
hey can I take this issue?

[2022-03-16 09:34] badboy commented on #663
Please do! This really just needs to remove the folder and then double-check if there are any links to it lingering around, which would also need to be removed

[2022-10-27 17:50] mikaeld opened #667 "Dashboard links should point to an HTML file"
## Description
The Data SRE team recently [migrated this project's infrastructure from AWS to GCP](https://github.com/mozilla-it/webservices-infra/pull/109). While assessing our migration, we've noticed some links pointing to a directory rather than an HTML file (_see examples below_).

~I can't recall if the links were working before the migration. It is possible that AWS CloudFront automatically

[2022-10-27 19:13] chutten commented on #667
Fixed by #668

[2022-10-27 19:13] #667 closed, assigned to nobody