[2013-12-30 16:14] Standard8 opened #16 "Telemetry Dashboard no longer supports Thunderbird"
The telemetry dashboard seems to no longer support viewing Thunderbird application details. It used to when Metrics ran it on their server.

AFAICT there's now no longer a way to view Thunderbird stats, so I can't even tell if they are being sent & received or not :-(

[2014-01-08 01:58] jeffgca opened #17 "JSFiddle doesn't work on Nightly"
This works in Chrome but not Firefox Nightly:

http://jsfiddle.net/mkXLg/

It looks like innerText doesn't exist on the DOM node, re-implementing it with querySelector ( for speed ) and textContent works though:

http://jsfiddle.net/G7BZS/4/

[2014-01-08 17:23] #17 closed, assigned to nobody

[2014-06-18 14:40] monicachew opened #46 "loadEvolutionOverBuilds should always call the callback"
If the caller calls for measures with no data, the callback is never reached. This makes it difficult to do error-handling. There's also no return value to help the caller not hang.

Same for loadEvolutionOverTime.

[2015-01-15 18:38] monicachew opened #61 "support ClientID"
Now that telemetry includes ClientID, it should be supported in telemetry.js

http://robertovitillo.com/2014/12/19/clientid-in-telemetry-submissions/

[2015-01-16 03:34] jonasfj commented on #61
We can't expose this before it's computed in the telemetry analysis jobs. As roberto says, this is next get stuff.

I'm not longer working actively on telemetry; but this will require some re-architecting of the current analysis framework. So it probably won't happen anytime soon.

[2015-01-29 22:00] mnoorenberghe opened #62 "$checkbox is undefined bootstrap-multiselect.js:729:20 when aggregates are selected that don't exist for a probe"
STR:

1. Load a probe that allows you to choose only Mean/Median/etc. (not just the submission count) e.g. PWMGR_NUM_SAVED_PASSWORDS.
2. Uncheck some of the checkboxes of data to see on the graph e.g. only leave submissions, mean and median. The url parameter updates to include `&aggregates=Submissions!Mean!median`
3. Switch to a probe that doesn't let you graph Mean/Median e.g. A11Y_CONSUMERS

Ex

[2015-02-02 19:05] #62 closed

[2015-08-15 00:10] vdjeric opened #114 "Web app names in Product list"
Example: http://mzl.la/1fctBS2

Only the Firefox/Fennec/B2G/OTHER product names should be in that list.
Fix can be server-side or client-side.

[2015-08-15 00:11] vdjeric opened #115 "Layout bug in anthony-zhang.me v4 dash. Is t.m.o dash affected?"
Example: http://bit.ly/1W2Wv96

[2015-08-15 00:14] vdjeric opened #116 ""Give Feedback" button should link to GitHub issue tracker"
Caption should be changed to "Report bug", no one was complementing us anyways ;)

[2015-08-15 00:30] vdjeric commented on #115
Confirmed: http://mzl.la/1fcyISs
Please fix :)

[2015-08-15 00:37] vdjeric opened #117 "V4 histogram dash shouldn't have "key sorting" option for unkeyed histograms"

[2015-08-15 13:41] vdjeric opened #118 "Remove "Select All" option from some filters"
The product + arch + e10s + process type filters don't need a "select all" option. It just makes it more confusing to select or unselect items. They should be regular checklists

[2015-08-17 14:58] Uberi commented on #115
Ref #119

[2015-08-17 15:04] Uberi commented on #116
Ref: #120

[2015-08-17 15:31] Uberi commented on #117
Ref: #121

[2015-08-17 15:47] Uberi commented on #118
Ref: #122

[2015-08-17 15:56] Uberi commented on #114
Ref: #123

[2015-08-18 20:00] vdjeric opened #129 "Better visualization for boolean histograms"
True and False or 0 and 1 are better labels for a boolean hgram pie chart than 0 <= sample value < 1 and 1 <= sample value < 2

[2015-08-18 20:00] vdjeric opened #130 ""Compare by" for boolean histograms shouldn't show a 3-point line"
These should be bar graphs or multiple pie charts or something else, definitely not a 3-point curve http://bit.ly/1NDvfIn

[2015-08-18 20:18] vdjeric opened #131 "Pie charts "show table" is broken"
http://bit.ly/1NDx5ZL

[2015-08-18 20:30] Uberi commented on #131
Ref: #133

[2015-08-18 20:39] Uberi commented on #129
Ref: #134

[2015-08-19 00:23] #131 closed

[2015-08-19 00:24] #129 closed

[2015-08-19 00:24] #118 closed

[2015-08-19 00:25] #117 closed

[2015-08-19 00:25] #116 closed

[2015-08-19 00:26] #114 closed

[2015-08-19 00:26] #115 closed

[2015-08-19 00:33] vdjeric opened #135 ""Compare by" doesn't trim buckets?"
The 0.00% buckets on the right side of this view aren't getting trimmed: http://bit.ly/1LikR8Q

[2015-08-19 00:40] vdjeric opened #136 "Bug in Histogram table-view"
Go to http://bit.ly/1LileQP and select between "Sanitize" and "Don't sanitize".

First 2 table rows with "Sanitize":

Start	|End	|Windows Vista Count	|Windows 8.1 Count	|Windows 7 Count	|**Windows 10 Count**
------------ | -------------  | -------------  | -------------  | ------------- | -------------
1	| 22	| 568.66k	| 1.18M	| 817.7k	| **98.15k**

First 2 table rows with "Don't sanitize":

Start

[2015-08-19 00:45] vdjeric opened #137 "Histogram table-view doesn't show 0 bucket"
The 0 to 1 bucket is missing: http://bit.ly/1LilLSM

[2015-08-19 00:46] vdjeric commented on #136
Note that "Export" functionality is also affected

[2015-08-19 03:37] vdjeric opened #138 "Keyed histogram dash shouldn't sanitize key list?"
This should have hundreds of keys by default: http://mzl.la/1fokpdu

[2015-08-19 03:38] vdjeric opened #139 "Keyed histogram view shouldn't duplicate graphs"
If a keyed histogram only has say 2 keys, it should only show 2 graphs, not 4 graphs with each graph duplicated

http://mzl.la/1fokpdu

[2015-08-19 03:43] vdjeric opened #140 "Telemetry docs need to cover keyed histograms"

[2015-08-19 03:57] vdjeric opened #141 "Mouse-over legend for a histogram bar is clipped by the edge of the chart area"
http://mzl.la/1fom6aV

[2015-08-19 17:18] Uberi commented on #135
On that page the last bucket still has a significant amount of samples, so we're not supposed to trim:

![untitled](https://cloud.githubusercontent.com/assets/437196/9363482/bd2ad44c-4674-11e5-9258-5bdcfcb8aa86.png)

The current compare behaviour is to trim from both ends as long as there are an insignificant number of samples in those buckets.

[2015-08-19 17:23] vdjeric opened #142 "Label for enumerated histograms should be a single value, not a range"
e.g. http://bit.ly/1HW9ZZe

Label should say "11", not "11 <= sample < 12"

[2015-08-19 17:26] vdjeric opened #143 "clicking "select all" on an Enumerated Histogram Evo view hangs browser for a minute"
e.g. click Select All on http://bit.ly/1HWaiU6

[2015-08-19 17:56] vdjeric commented on #135
Oh i see, I missed the final bucket having more than 0.01%. Maybe we should raise the threshold in the future. Closing this issue.

[2015-08-19 17:56] #135 closed

[2015-08-19 18:00] Uberi commented on #141
This is already fixed in #113, which was just merged.

[2015-08-19 18:02] #141 closed

[2015-08-19 18:18] vdjeric opened #144 "Mouse-over label "blinks" (changes style?)"
STR:
1. load an evo view
2. move the cursor along the curve
3. stop moving the cursor.

Notice how the label's text style changes subtly as soon as cursor stops moving

[2015-08-19 19:51] vdjeric opened #145 "Histogram table view should show % column"

[2015-08-19 19:52] Uberi commented on #136
I can't seem to reproduce this using the permalink above, on the current release/aurora or on Chrome.

[2015-08-19 20:31] vdjeric opened #147 "Histogram name box should not resize itself"
Open histogram name, it's X units wide, paste the name of a histogram (e.g. GC_MINOR_REASON_LONG), box resizes itself so that it partially hides the pasted text.

[2015-08-19 20:32] vdjeric opened #148 "When an Advanced Setting option is not applicable disable it"
When looking at GC_MINOR_REASON_LONG in Table View, I shouldn't be able to change "Don't/Trim buckets" options since they do nothing in that view

[2015-08-19 20:33] vdjeric opened #149 "Selecting key "(none)" does nothing"

[2015-08-19 20:34] vdjeric opened #150 "Security warning"
on http://bit.ly/1KwpOYO , probably related to Disqus

"Password fields present on an insecure (http://) page. This is a security risk that allows user login credentials to be stolen.[Learn More]"

[2015-08-19 20:35] vdjeric opened #151 "Keyed histograms not scaled vertically properly"
See http://bit.ly/1KwpR6U

[2015-08-19 20:36] vdjeric commented on #151
Do we want the tallest histogram to always set the Y-axis for all other histograms?

[2015-08-19 20:36] vdjeric commented on #151
Maybe we do..?
Either way there's a bug with 100% getting clipped in the link above

[2015-08-19 21:07] Uberi commented on #137
Fixed in #146.

[2015-08-19 21:07] Uberi commented on #138
Fixed in #146.

[2015-08-19 21:07] Uberi commented on #139
Fixed in #146.

[2015-08-19 21:07] Uberi commented on #140
Fixed in #146.

[2015-08-19 21:07] Uberi commented on #142
Fixed in #146.

[2015-08-19 21:07] Uberi commented on #145
Fixed in #146.

[2015-08-19 21:28] Uberi commented on #150
Yep, that's caused by Disqus - when #125 is done this will be fixed.

[2015-08-19 21:32] Uberi commented on #149
For me, selecting (none) makes that key disappear. Is there a permalink that reproduces the issue?

[2015-08-19 21:39] #137 closed

[2015-08-19 21:40] #138 closed

[2015-08-19 21:42] vdjeric commented on #149
Go to http://bit.ly/1TWAyo7 and select (none) for the **second** histogram

[2015-08-19 21:43] #145 closed

[2015-08-19 21:43] #142 closed

[2015-08-19 21:43] #140 closed

[2015-08-19 21:43] #139 closed

[2015-08-19 21:55] vdjeric opened #152 "Visualization bug on histogram compare-by-OS-version"
http://mzl.la/1TWCX2d

[2015-08-20 05:40] mnoorenberghe opened #154 "TypeError: selectedKeys is undefined evo.js:657:21"
I see this regularly in my console and I suspect it's related to the many issues I'm seeing e.g. switching probes not updating the UI.

[2015-08-20 05:51] mnoorenberghe opened #155 "Boolean evolution graph should plot the proportion over time"
Thanks for working on boolean and enumerated evolution!

Looking at PWMGR_SAVING_ENABLED (boolean) in the evolution view, the obvious thing I would want to see is the proportion of true vs. false over time. Instead I get a mean plotted with a consistent value of 1.01. How am I supposed to interpret this graph? The histogram for beta 40 shows as 95.79/4.21 split.

[2015-08-20 05:54] mnoorenberghe opened #156 "Boolean pie chart labels are inverted"
For PWMGR_SAVING_ENABLED on Beta 40:
Start	End Count
0	1	1.55M (4.21%)
1	2	35.24M (95.79%)

Where 0 is false as (one would normally expect) yet the pie graph tells the opposite story saying that 95.79% have password saving disabled.

[2015-08-20 06:08] mnoorenberghe opened #158 "Probe selector regularly switches to a different probe when changing parameters e.g. version pickers"
IMO the probe name should never change on me as it's very annoying have to change it back and it's not always obvious that it's happening.

[2015-08-20 06:10] mnoorenberghe opened #159 "No progress indicator is shown when switching probe names for the evolution view"
Sometimes XHRs are very slow and there is no indicator showing it seems until the first request has some kind of progress? At that point "Updating evolution for nightly 42... 0%" shows up but that was about 15-20 seconds after I changed the dropdown.

[2015-08-20 06:12] mnoorenberghe opened #160 "Don't use a modal progress overlay"
A modal progress overlay (with the gear) is quite a bad UX (which the Pentaho dashboard also used to have) as it makes me suffer and wait while I may want to change parameters or after accidentally clicking the wrong probe name.

[2015-08-20 06:15] mnoorenberghe opened #161 "Modal (evo) progress indicator doesn't go away/notify upon fatal error"
http://aggregates.telemetry.mozilla.org/aggregates_by/build_id/channels/nightly/?version=42&dates=20150813%2C20150811%2C20150810%2C20150809%2C20150808%2C20150807%2C20150806%2C20150805%2C20150804%2C20150803%2C20150802%2C20150801%2C20150731%2C20150730%2C20150729%2C20150728%2C20150727%2C20150726%2C20150725%2C20150724%2C20150723%2C20150722%2C20150721%2C20150720%2C20150719%2C20150718%2C20150717%2C20150

[2015-08-20 06:19] mnoorenberghe commented on #159
No progress overlay is shown for
http://aggregates.telemetry.mozilla.org/aggregates_by/submission_date/channels/beta/…
but when that is successful (after many seconds) then the progress UI appears to fetch
http://aggregates.telemetry.mozilla.org/aggregates_by/build_id/channels/beta/

[2015-08-20 12:16] georgf opened #162 "Histogram descriptions in the dashboard are converted to all-uppercase"
Histogram descriptions from Histograms.json are mixed-case, recently the dashboard started showing them as all-uppercase.
This makes readability much worse, can we keep them mixed-case or is there any important reason behind this?

[2015-08-20 14:47] Uberi commented on #152
Median markers are removed in #153.

[2015-08-20 15:01] Uberi commented on #158
It is definitely a bug if the probe changes even though it is still valid - how and when does this happen? What is your browser version?

[2015-08-20 16:53] Uberi commented on #136
This is fixed as of #146.

[2015-08-20 20:42] Uberi commented on #147
Fixed in #153.

[2015-08-20 22:32] fmarier opened #163 "Mixed content in Histogram Dashboard prevents it from loading over HTTPS"
If I load https://telemetry.mozilla.org/new-pipeline/dist.html (HTTPS URL), I see the following in the devtool console:

    Blocked loading mixed active content "http://aggregates.telemetry.mozilla.org/aggregates_by/build_id/channels/"

This is breaking the page.

[2015-08-21 01:26] #152 closed

[2015-08-21 01:27] #151 closed

[2015-08-21 01:27] #149 closed

[2015-08-21 01:27] #148 closed

[2015-08-21 01:27] #162 closed

[2015-08-21 01:27] #154 closed

[2015-08-21 01:27] #147 closed

[2015-08-21 01:27] #159 closed

[2015-08-21 01:40] #156 closed

[2015-08-21 01:41] #150 closed

[2015-08-21 01:41] #136 closed

[2015-08-21 01:42] vdjeric opened #164 "Ignore leading or trailing space in histogram name box"

[2015-08-21 01:42] vdjeric opened #165 "Am I supposed to see keys in keyed evo view?"
am i supposed to see keys here? http://bit.ly/1Np0dHe

[2015-08-21 01:43] vdjeric opened #166 "CORS request blocked"
Is this error unique to the divshot.io deployement?

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://aggregates.telemetry.mozilla.org/aggregates_by/submission_date/channels/nightly/?version=42&dates=20150818,20150817,20150816,20150815,20150814,20150813,20150812,20150811,20150810,20150808,20150807,20150806,20150805,20150804,20150803,20150802,2015

[2015-08-21 01:45] vdjeric opened #167 "The version selector text box should always be blank when opened"
STR:
1. Type some text in the histogram name text box (in any view), select a histogram
2. Open the histogram name box again

Expected: The histogram name text box should be empty and showing all selectable options
Actual: The currently selected histogram name is in the textbox and the suggestion (options) list is empty, text box needs to be cleared first

[2015-08-21 01:45] vdjeric opened #168 "Line color being re-used in Evo view"
Same color being used for different versions: http://bit.ly/1Np1rSM

[2015-08-21 09:58] vitillo commented on #166
I can load the data directly from the browser, it's about 40 MB though. Ideally we shouldn't load that many dates when we first display a keyed histogram.

[2015-08-21 14:45] Uberi commented on #155
Fixed in #153.

[2015-08-21 14:46] Uberi commented on #160
Fixed in #153.

[2015-08-21 14:46] Uberi commented on #161
Fixed in #153.

[2015-08-21 15:09] Uberi commented on #163
Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1195802

[2015-08-21 15:35] Uberi commented on #166
This would probably be solved with lazy loading. To make it work in the evolution view though, we need a new endpoint that provides histogram metadata like kind, description, and bucket values.

At the moment, it is not possible to reliably do so without downloading entries for all the dates. For example, [20150810](http://aggregates.telemetry.mozilla.org/aggregates_by/submission_date/channels/nig

[2015-08-21 15:39] #155 closed

[2015-08-21 15:39] #160 closed

[2015-08-21 15:39] #161 closed

[2015-08-21 15:42] Uberi commented on #168
I can't seem to reproduce this using that permalink, but the current behaviour is to reuse colors if there are too many.

We originally had random colors but they ended up sometimes looking too similar. There was also the behaviour a while ago where we generate colors using a fixed value, changing hue, and two different saturations, but this had the same problem.

Should I just add more colors?

[2015-08-21 15:43] vdjeric commented on #168
yeah my link doesn't reproduce it either.. ignore for now

[2015-08-21 16:09] #168 closed

[2015-08-21 16:10] Uberi commented on #165
They do seem to show up after the page is fully loaded - this takes around 50 seconds for me. When the loading bar

I updated the divshot with the latest changes, which should make this loading more transparent.

[2015-08-21 16:13] #164 closed

[2015-08-21 16:13] #167 closed

[2015-08-21 18:25] mnoorenberghe commented on #155
Verified fixed. I can choose the "True percentage" now to get what I want. Thanks for the quick fixes!

[2015-08-21 19:02] mnoorenberghe commented on #158
This was Nightly but I suspect it may have been caused by #154 and/or the timeouts I was seeing for Beta data mentioned in #161. I don't have good STR as I wasn't specifically looking for a bug when it happened. I'm fine with closing this until I see it again.

[2015-08-21 19:02] #158 closed

[2015-08-21 21:08] Uberi commented on #144
* This is caused by CSS transforms on SVG elements.
* When the `transform: translate()` is applied, subpixel rendering is turned off momentarily, which makes the text look bolder,
* It seems to be enabled again after a short delay.
* This seems to be specific to Firefox, but I couldn't find any open issues for this.

[2015-08-21 22:15] vdjeric opened #171 "Change "data missing" message"
Change the "Data currently missing or unavailable" string to "No data matching these filters and settings". And suggest "Turn off data sanitization in Advanced Settings?" if sanitization is enabled

[2015-08-21 22:51] Uberi commented on #171
![untitled](https://cloud.githubusercontent.com/assets/437196/9420614/9477998c-4835-11e5-9f72-c2e653cd9667.png)

[2015-08-21 22:51] vdjeric opened #172 ""Settings (modified)" set if URL has a customization even when the Advanced Settings panel doesn't"

[2015-08-21 22:57] vdjeric commented on #171
Suggested wording:

No data matches these filters and settings.

Possible reasons:
1) The Telemetry submissions haven't been aggregated for the dashboard yet (it takes a couple of days)
2) Too few submissions were received & are being filtered out in the dash. Turn off "Sanitize data" in Advanced Settings panel?
3) The data was sent to Telemetry before the unified Telemetry pipeline came online (J

[2015-08-21 23:16] #172 closed

[2015-08-21 23:27] #171 closed

[2015-08-24 12:11] vdjeric commented on #144
17:13 <&vladan> BenWa: is there a bug for this issue? https://github.com/mozilla/telemetry-dashboard/issues/144#issuecomment-133564113
19:04 <@BenWa> vladan: yes, APZ regression
19:05 <@BenWa> it turns off subpixel AA

[2015-08-24 12:11] #165 closed

[2015-08-26 15:37] vdjeric commented on #163
Solved in pull #175

[2015-08-26 15:37] #163 closed

[2015-08-27 02:03] mnoorenberghe opened #176 "Probe selector loses its filter upon re-opening"
When I re-open the probe dropdown after having selected a new probe, the popup initially opens with the list pre-filtered or at least scrolled but then switches to a unfiltered view from the top. Ideally the filter the should be remembered since one normally wants to look at related probes e.g. all `PWMGR_` ones

I think this may be a regression since I don't think this happened a month ago.

![te

[2015-08-27 02:04] mnoorenberghe commented on #176
This is the newest evo dashboard btw.

[2015-08-27 02:20] vdjeric commented on #176
I actually asked for this in https://github.com/mozilla/telemetry-dashboard/issues/167
:)
Maybe we can compromise on having the box blank but the list cued to the right position?

[2015-08-27 02:24] mnoorenberghe commented on #176
That would work for the most common case where the same prefix is used so is better than the current behaviour. What was your use case for #167?

[2015-08-27 02:28] mnoorenberghe commented on #176
Another idea would be to revert #167 but have the filter text selected and focused so it's simple to type over it.

[2015-08-27 08:27] Uberi commented on #176
IIRC the original reason for #167 was the need to clear the filter box every time you wanted to change filters, which is an extra click/keystroke.

[2015-08-27 21:44] vdjeric opened #178 "telemetry.mozilla.org needs a favicon"
:)

[2015-08-28 00:42] vdjeric commented on #176
Merged & deployed #177

[2015-08-28 00:42] #176 closed

[2015-09-13 00:32] #178 closed

[2015-09-22 18:42] vdjeric opened #181 "Histogram simulator dash errors out"
"uncaught exception: `sum` must be a number"

https://telemetry.mozilla.org/histogram-simulator/

[2015-09-23 14:18] #181 closed

[2015-10-01 19:51] vdjeric opened #183 "Keyed histogram shown as unkeyed"
STR:
1. Open Histogram dashboard
2. Select histogram PLUGIN_ACTIVATION_COUNT

Expected: shown as a keyed histogram
Actual: shown as a regular count histogram! Generated URL: https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&end_date=2015-09-30&keys=flash!__none__!__none__!__none__&max_channel_version=nightly%252F44&measure=PLUGIN_ACTIVATION_COUNT&min_channel_version=null&product=F

[2015-10-01 19:56] vdjeric commented on #183
Basically there's not enough submissions for keys other than "Flash" and when "data sanitization" is enabled in the dash (which it is by default), the dash ignores the other keys and only shows the 1 key with enough submissions, making it look like an unkeyed histogram

[2015-10-01 20:00] vdjeric opened #184 "Keyed histogram dash should only show the histogram legend once"
For example on: http://mzl.la/1FLffVs
... the histogram description "Counts number of times a certain plugin has been activated" should only be shown once, right under the dashboard filters (same as non-keyed histograms) and not under each keyed histogram where it creates clutter

[2015-11-16 22:42] mnoorenberghe commented on #184
While we're fixing this can we also make it so long ones aren't truncated and the text is selectable (i.e. move it out of the graph image)

[2015-11-16 22:44] mnoorenberghe opened #193 "Export buttons don't export for each key of a keyed histogram"
I want to have the exported CSV or JSON data by key but I just get one set of data and I'm not sure what it refers to.

[2015-11-17 19:48] vdjeric commented on #193
Yup, I can reproduce this on http://mzl.la/1LkfTVV
@chutten can you take a look?

[2015-11-17 19:49] vdjeric commented on #184
@chutten do you want to take a look

[2015-11-17 19:55] chutten commented on #184
@vdjeric The histogram description is only ever shown as an axis label under a plot, in both keyed and unkeyed histograms... or at least I cannot seem to make it appear anywhere else. Do you have a link or screenshot showing the description appearing elsewhere?

[2015-11-17 19:58] vdjeric commented on #184
My complaint is that the histogram description is repeated for each key (i.e. 4 times on one page). I was suggesting we only show the description once, above all the histograms.
Matt was suggesting we make that text selectable. I think moving the histogram description description above the histograms would address MattN's suggestion as well.

[2015-11-17 20:00] chutten commented on #184
Ah, not emulating any existing behaviour. Sure, that information is easily available.

[2015-11-17 20:00] mnoorenberghe commented on #184
/me nods

[2015-11-17 20:17] chutten commented on #193
Is there a schema that these buttons are mimicking and I should follow, or am I free to break it to fix it?

[2015-11-17 20:20] vdjeric commented on #193
There is no schema. It'd be nice to keep the unkeyed histogram format the same, change the keyed histograms' export format as you like as long as it remains valid JSON.

[2015-11-17 21:18] chutten commented on #193
How's this? http://chutten.github.io/telemetry-dashboard/new-pipeline/dist.html#!cumulative=0&end_date=2015-11-15&keys=content!plugin!gmplugin!__none__&max_channel_version=nightly%252F45&measure=SUBPROCESS_ABNORMAL_ABORT&min_channel_version=null&product=Firefox&sanitize=1&sort_keys=submissions&start_date=2015-10-29&table=0&trim=1&use_submission_date=0

With keys, that makes 3-dimensional data, so

[2015-11-18 01:30] mnoorenberghe commented on #193
CSV is the one I care about actually. If I want to do a simple one-off graph (like I wanted to yesterday), it's trivial to do that in Google Spreadsheets without writing a single line of code with CSV. Not so much with JSON (though I think Google Sheets actually have some built-in JSON helpers).

I would just denormalize the data with respect to the key and have it repeated on each row (ideally gr

[2015-11-18 14:13] rugk opened #195 "Dashboard for certificate lifetime"
Based [on the discussion about the 90days lifetime of Let's Encrypt certificates](https://community.letsencrypt.org/t/maximum-and-minimum-certificate-lifetimes/264) [a blog post was made](https://letsencrypt.org/2015/11/09/why-90-days.html) claiming that 29% of TLS transactions already use ninety-day certificates according to Firefox Telemetry.
However on https://telemetry.mozilla.org/ I could not

[2015-11-18 14:18] chutten commented on #193
Alrighty, let's talk schema. The existing schema for JSON is:
[code]

But only for the non-comparing case. If you are comparing values, `METRIC_NAME: bucketCount` is replaced by `description of comparing value1..N: bucketCount` like so:
[code]
This is okay, I guess, though there isn't any mention of `METRIC_NAME` in this schema. CSV is similar:
[code]
vs
[code]

So, assuming we're leaving those al

[2015-11-18 20:56] vdjeric commented on #195
I don't know how that 29% statistic was obtained, but I doubt it was internal.
All our histograms probes are listed on the public dash, and alternately here http://mxr.mozilla.org/mozilla-central/source/toolkit/components/telemetry/Histograms.json
Could it be the SSL_OBSERVED_END_ENTITY_CERTIFICATE_LIFETIME probe? You can see it in the dash: http://mzl.la/1MTpqc3

[2015-11-18 20:59] vdjeric commented on #195
Note the above link is for Telemetry collected from Firefox Beta 43. It doesn't look like this probe has reached Release-channel yet. Even if it had, Telemetry is opt-out on pre-release versions of Firefox and opt-in on release Firefox, so data from Beta might still be more relevant.

[2015-11-18 22:33] rugk commented on #195
Yes this looks like the right one.
However I do not really get out what the lifetime is, because if I assume the number displayed are days I'm wrong, because 105 are two years (as described below the chart) then I have 52,5 for one year, which clearly are not the number of days a year has.

BTW CC: @bdaehlie (Hopefully that's the right user :smile: )

[2015-11-18 22:36] vdjeric commented on #195
No, the x-axis label is "The lifetime of accepted HTTPS server certificates, in weeks, up to 2 years. Bucket 105 is all end-entity HTTPS server certificates with a lifetime > 2 years."

30.82% of samples are in bucket 12 which is roughly 3 months: (12 weeks * 7 days) = 84 days

[2015-11-18 22:51] rugk commented on #195
Ah this are months okay. :smile:

Thanks for helping me with this. So I think this issue can be considered closed.

[2015-11-18 22:56] rugk commented on #195
Okay, just another question. How is this data collected? Does it count every single TLS connection (so certificates of websites with many css/js/... files are more represented in the statistic?) or does it only count a certificate once or how does it work?

[2015-11-18 23:05] rugk opened #197 "All Firefox versions together"
Why can't we also just show the statistics for all Firefox versions together? This would allow showing some basic statistics, which should not be version-dependent.

The same applies the application part (the one with Firefox Desktop and Firefox Mobile).

[2015-11-18 23:08] vdjeric commented on #195
I don't know, but you can grep Firefox source for the probe name to see what it does, or you can do an experiment using Beta Firefox and check the local result in your about:telemetry page.

https://dxr.mozilla.org/mozilla-central/source/security/manager/ssl/SSLServerCertVerification.cpp#1186

[2015-11-18 23:16] rugk commented on #195
Okay, thanks.

[2015-11-18 23:16] #195 closed

[2015-11-18 23:18] rugk commented on #195
BTW I think the one comment in the source you linked already answers my question quite good:
[code]

[2015-11-20 19:58] chutten commented on #193
Alrighty, how about this? http://bit.ly/1I1RPMN

Note you can choose different keys and the exported data will contain those keys in the order shown.

[2015-11-20 20:12] vdjeric commented on #193
looks good to me, but MattN is the real end-user

[2015-11-23 21:54] mnoorenberghe commented on #193
With @chutten's info about a pivot table:
`Rows: start, Colums: key, Values: (value column)`
this works fine for me

[2015-11-24 17:44] chutten commented on #197
@rugk, Do you mean something like so? http://mzl.la/1HkF8MS

[2015-11-24 17:45] chutten commented on #183
@vdjeric that first link shows as a keyed histogram for me. Maybe the data for the other plugins have filled in since?

[2015-11-24 19:05] chutten commented on #130
I think a grouped vertical bar graph would be ideal, but MG doesn't support it. I have filed [an issue](https://github.com/mozilla/metrics-graphics/issues/554) on MG to see if it can be added.

As for multiple pies: with the current design it wouldn't be simple to commandeer the selected-key titles to become compared measures. And if the number of compared measures exceeded four, there's no place

[2015-11-24 19:09] chutten commented on #16
It seems as though there are [some samples](http://mzl.la/1HkP8G2) for Thunderbird on the current telemetry-dashboard on t.m.o

[2015-11-24 19:31] rugk commented on #197
No it sill only shows the data from FF aurora 44. I'd like to see it of all FF versions where data is available
![telemetryversion](https://cloud.githubusercontent.com/assets/11966684/11378192/4ee29f70-92ea-11e5-9dfe-ee18289cf575.PNG)
.

[2015-11-24 19:40] chutten commented on #197
Ah, my apologies, I thought you meant across all applications (Firefox Desktop, Firefox Mobile).

May I ask what you're trying to analyze with this data? The data t.m.o uses is aggregated by channel so that when you use it to perform comparisons you are acting on populations that are most similar. This allows for results that are stronger, statistically speaking.

You can get an evolution plot wit

[2015-11-24 19:52] rugk commented on #197
No.

No problem. I could have explained it a bit more. :smiley:

Well... this is what data I want: https://github.com/mozilla/telemetry-dashboard/issues/195
And IMHO there it does not really matter which version of FF collected this data as it is not about a Firefox-internal thing, but more like a web statistic. And I think to have more samples there would be nice in this case.

[2015-11-24 20:35] chutten commented on #197
Now I understand, thank you for your patience. You want to know for a particular day's Internet (say, last Tuesday) the distribution of TLS certificate ages, as observed by Firefox.

t.m.o's existing dashboards won't be able to do this for you. But you could write one yourself using [telemetry.js](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/doc.md).

Here's how I'd do it:
[code

[2015-11-24 21:48] rugk commented on #197
Thanks for the detailed reply. I will look into it.

However:

Ehm, no, not really. I mean I could, but it does not really matter. It could just use all data it has (from all versions and from all relevant FF versions). I just want to have some good statistics.
But as I see in your code I may just change the date and it should be fine.

[2015-11-24 21:51] chutten commented on #197
It could very well be that 3month certs are a new and rising trend, so I'd recommend taking a snapshot view rather than trying to aggregate over all connections over all time. There are plenty of submissions for each histogram, so you probably don't need to grab more than a day's worth. Just be sure to choose nothing more recent than, say, a couple days back as it takes some time for submissions t

[2015-11-25 18:13] rugk commented on #197
Okay, also a view how you can see this.
And thanks for the support. I'll close this issue as I do not think you want to add support for filtering "all FF versions" in the official dashboard. If anyone things something different this issue may be reopened of course.

[2015-11-25 18:13] #197 closed

[2015-11-25 21:46] chutten commented on #130
@vdjeric, how about something like this? http://people.mozilla.org/~chutten/media/barGroup.PNG

Since there's only really one independent measurement (False is 100% - True), I can munge the histograms into a single histogram showing multiple compare values' values. A few tweaks were needed here and there to make the (often long) labels display nicely.

[2015-11-25 22:27] vdjeric commented on #193
The "Export JSON" format is a bit odd for unkeyed histograms, no? http://bit.ly/1T5a8kN

[2015-11-25 22:29] vdjeric commented on #183
@chutten Yes, that's likely what happened, but the bug likely remains. Keyed histograms should never be presented in the format of unkeyed histograms

[2015-11-25 22:37] vdjeric commented on #16
Should we close this issue?

[2015-11-25 22:43] vdjeric commented on #130
Yup that would work

[2015-11-26 21:51] #16 closed

[2015-11-26 21:54] chutten commented on #193
I specifically left the unkeyed exports alone in case someone depends on the format.

[2015-11-26 22:05] vdjeric commented on #193
I didn't realize the unkeyed JSON histogram format was this bad, sorry about that. I'm tempted to say break the format and replace the occurences of the histogram name with the string "count" for both keyed & unkeyed histograms. I don't think any sane person would depend on the histogram name being repeated in every bucket.

With that said, this patch *does* work, so it's entirely your call

[2015-11-27 15:11] chutten commented on #193
I say we leave it as it is. Right now the code's barely readable. Adding a `(histograms.length == 1 ? 'count' : histograms[i].measure)` isn't going to help.

Also, this way, if you have the data in some spreadsheet, you have half a chance of remembering what it means :S

[2015-11-27 16:37] #193 closed

[2015-12-01 18:07] chutten opened #199 "Link plot titles to dash"
Link the generated plot titles from telemetry-wrapper to the nearest dist/evo dash so users have an easy way to twiddle the knobs.

[2015-12-01 18:18] chutten commented on #184
The data scientist in me won't allow me to remove labels from one of the axes. The first (and possibly the only that I remember) rule of data science is to label your axes. Luckily, with the new title catching users' eyes, the repetition isn't so annoying. Take a look: http://mzl.la/1QRYOdV

Unfortunately, this puts the histograms' descriptions front and centre. And they aren't
* of consistent qua

[2015-12-01 18:24] vdjeric commented on #184
Nah, let's not invest time in fixing the descriptions. If the histogram's authors are ok with how the descriptions appear in the dashes, then that's good enough for me. In the end, we're providing a service to them, not for ourselves.

[2015-12-01 18:40] #184 closed

[2015-12-01 19:12] #130 closed

[2015-12-03 17:31] staktrace opened #203 "Unable to view telemetry histograms for CHECKERBOARDED_CSSPIXELS_MS"
I filed this as https://bugzilla.mozilla.org/show_bug.cgi?id=1229488, copying from there:

STR:
1. Go to https://telemetry.mozilla.org/
2. Click on "Histogram dashboard". This will load the GC_MS histogram for desktop by default. Wait for it to finish loading
3. Click on GC_MS and change the measure to CHECKERBOARDED_CSSPIXELS_MS

Expected:
Shows histogram data for CHECKERBOARDED_CSSPIXELS_MS

Act

[2015-12-03 17:52] chutten commented on #203
Running the same parameters through the [dashboard generator](https://telemetry.mozilla.org/dashboard-generator/index.html?channel=nightly&version=&metric=CHECKERBOARDED_CSSPIXELS_MS&useSubmissionDate=false&sanitize=false&trim=false&compare=&sensibleCompare=true&evoVersions=0&filters=) shows a better error message "No data to graph"

@staktrace, Is it possible that there actually is no data?

[2015-12-03 17:58] staktrace commented on #203
It's possible, but I hope that's not the case. I added the histogram about two weeks ago (bug 1221694) and I verified that in my own desktop nightly build about:telemetry shows some data for this histogram, so it should be working. Do you know how long it takes for the data to be gathered?

[2015-12-03 18:16] chutten commented on #203
Looking at an evolution over submission dates for nightly/45 GC_MS, the latest submissions pulled from the aggregator are from November 28.

You could try running a custom analysis on a spark cluster. It has access to un-aggregated data: https://analysis.telemetry.mozilla.org/

[2015-12-03 18:36] vitillo commented on #203
See [Bug 1229738](https://bugzilla.mozilla.org/show_bug.cgi?id=1229738) for why the latest submissions are from November 29th of November.

[2015-12-03 19:22] staktrace commented on #203
Thanks for the info! If I find some time I'll try the spark cluster thing but otherwise I might just wait it out.

[2015-12-03 19:22] #203 closed

[2015-12-09 21:02] chutten opened #206 "Sanitized compare histograms show incorrect labels"
http://mzl.la/1OTRWto (for instance) has Windows_95 where the same dashboard as generated by http://mzl.la/1OTS506 calls it, correctly, Darwin.

This is probably due to sanitization not sanitizing out the correct label. I had this bug before launching dashgen.

[2015-12-09 21:04] chutten opened #207 "Run dashboard links through bit.ly"
In the JS comments of a generated dashboard is a link to the dashboard generator configuration that spawned it. It can get really quite long. Maybe we can quickly pass it through bit.ly to make it a mzl.la?

[2015-12-10 16:43] chutten opened #208 "Error Message Needed if sanitize removes all data"
If sanitizing the evolutions removes all data to graph, we ought to tell the user so.

[2015-12-23 16:05] chutten commented on #199
Done and done.

[2015-12-23 16:05] #199 closed

[2016-01-11 21:02] vdjeric opened #212 "Use % symbol on boolean evo graphs legends"
It's confusing to see figures such as "0.42" on a graph of percentages.. it's unclear whether it represents 42% or 0.42%.. hence we should use the percentage symbol for the tooltip legend

http://mzl.la/1ZX84jb

[2016-01-12 15:17] chutten opened #214 "Pie Charts list 'samples' when it means percentages."
Must've messed up the d3pie call.

[2016-01-12 15:18] #208 closed

[2016-01-12 16:11] #212 closed

[2016-01-12 18:09] #214 closed

[2016-01-14 16:55] #206 closed

[2016-01-21 22:25] ghost opened #218 "sanitize flag is ignored?"
Generate the dashboard from this: https://telemetry.mozilla.org/dashboard-generator/index.html?channel=beta&version=&metric=GFX_CRASH&useSubmissionDate=false&sanitize=false&trim=true&compare=&sensibleCompare=true&evoVersions=1&filters=

The plots variable (in JS codepen) shows "sanitize": false, as expected, but where the graph should be, I get this instead - note "sanitize": true in there:

All d

[2016-01-22 16:52] chutten commented on #218
Odd, for me generating the dash works from that link. It's a flat, mostly-empty graph.

[2016-01-22 17:22] mozilla-milan commented on #218
Interesting, I do now see an empty chart.  Still not what I see here: https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=bucket-0&cumulative=0&end_date=2016-01-18&keys=!__none__!__none__&max_channel_version=beta%252F44&measure=GFX_CRASH&min_channel_version=beta%252F44&product=Firefox&sanitize=0&sort_keys=submissions&start_date=2015-12-17&trim=1&use_submission_date=1, but at least I se

[2016-01-22 18:32] chutten commented on #218
To me they look nearly identical except for the cosmetic choices (on dashgen the x axis ticks don't extend all the way up, the date format is different, the colour choices are deliberate...)
![dashgennodata](https://cloud.githubusercontent.com/assets/1123376/12519401/840f261e-c10c-11e5-9e3c-d7592b1dae54.PNG)
![dashnodata](https://cloud.githubusercontent.com/assets/1123376/12519402/841d019e-c10c-11

[2016-01-22 18:34] mozilla-milan commented on #218
The graph below that one is what I'm looking for.
<img width="1330" alt="screen shot 2016-01-22 at 13 33 28" src="https://cloud.githubusercontent.com/assets/2856482/12519442/d05c2fb2-c10c-11e5-9e52-144e6986d115.png">

[2016-01-22 18:55] chutten commented on #218
Oh, you want the graph of the number of submissions per day? Dashgen presently doesn't support this kind of graph. It probably wouldn't be too hard to add the capability (add the necessary parameters and plotting code to telemetry-wrapper.js, expose it via dashgen as a third choice (histogram, evolution, submissions)... it'd be a bit of work)

Why are you interested in the number of users per day

[2016-01-22 19:44] mozilla-milan commented on #218
Aah, that's good to know.  So, yes, I want the daily pings, and it sounds like that isn't quite there yet.  That's OK, I can just look at the standard telemetry page to look for it.

And, yes, these are counting the "avoided crashes", so I want to look at them as if they were crash reports.

[2016-01-22 19:55] chutten commented on #218
You could write your own analysis to get exactly what you want using analysis.telemetry.mozilla.org. The "Telemetry Hello World.ipynb" that comes with each ad-hoc cluster is a really good starting point since it is looking at the data in a similar way to how your analysis would. There are also plenty of people on #telemetry and #perf that would be willing to help if you get stuck.

[2016-01-27 00:13] martinthomson opened #219 "Weighted average by sample count for evolution"
The graph is great, but the key piece of information is obscured by noise as there are more versions that contribute data.  See [this](http://mzl.la/1RMisc8) for example.  If all you want to see is the effect on the same value over time, averaging the values reported by Beta 44 with the values from Beta 43 is perfectly reasonable and should make the graph simpler and easier to understand.

[2016-01-27 18:30] chutten commented on #219
There may be something we can do by sanitizing results when they come from less than a certain percentage of the population...

[2016-01-27 18:48] Uberi commented on #219
We currently sanitize values that are less than 1% of the maximum submissions. Perhaps an adjustable sanitizing threshold would work?

[2016-01-28 02:56] martinthomson commented on #219
I'm not seeing how changing the sanitization threshold would apply to this feature request.  The only effect I see is that it might allow you to use values that would otherwise be discarded (e.g., if the sample size from Beta 42 is low, you can still use it when combined with Beta 43 and 44).  Am I missing something?

(To be clear, I'm looking for something like this: https://ipv.sx/telemetry/gene

[2016-01-28 14:26] chutten commented on #219
Sorry. We skipped over the "average previous release's results" because, especially for release channel, results between versions aren't comparable. Instead we were aiming straight for "get rid of the noisy data".

Removing data that comes on days that have less than X% of the peak sample count was just the obvious-to-us way of getting rid of that noise. "sanitize" is the name of the function that

[2016-01-28 21:21] martinthomson commented on #219
I don't think that this matters.  Yes, there are cases where this is true, but for a great number of the values that we measure on an ongoing basis there is no difference in how they are measured.  As an *option*, selected by a user who understands the limitations of their choice, this reduces the noise in the graph far more than mere sanitization would.

I have no opinion on the feature you are t

[2016-02-15 15:22] jeffpc opened #222 "SunOS is missing from OS selection"
Illumos-derived distros (and Solaris) which identify as SunOS don't appear in the OS selection list.

E.g., my user agent string is:

[code]

I'm running on a x86 PC-style hw (i86pc), and my OS is the illumos-derived OpenIndiana (SunOS).

[2016-02-16 15:59] chutten commented on #222
Ah, that is likely because the SunOS build is not "Official".

If your Firefox is not built with `MOZILLA_OFFICIAL=1` then it will not ever report Telemetry. I know that builds released on mozilla.com are official, but I assume the builds constructed for SunOS aren't.

[2016-02-16 18:23] jeffpc commented on #222
Ah, I didn't realize that the telemetry is only mean for official builds.

It turns out that OpenIndiana Hipster's firefox is compiled with MOZILLA_OFFICIAL=1.  So, as far as I can tell (about:telemetry), my browser should be attempting to submit telemetry data.

[2016-02-16 18:33] chutten commented on #222
Hm. Well, let's start first by double-checking that you are submitting the data you ought to be.

To get the raw data that you are submitting, visit `about:healthreport`. Click on "Raw Data" at the top, and then click on a recent ping. This will show a mess of JSON.

Search on the page for "os", and paste that structure here in the Issue (should have "name", "version", and some other stuff)

[2016-02-16 18:54] georgf commented on #222
Telemetry also requires MOZ_TELEMETRY_REPORTING to be defined.
I think we only want to report Telemetry for our officially provided builds (and partner repacks) though.
@bsmedberg, can you confirm?

[2016-02-18 14:44] staktrace opened #223 "Telemetry dashboards should distinguish B2G and Fennec from Linux"
Right now in the telemetry dashboards it's very hard to distinguish B2G and Fennec from Linux desktop. I _believe_ Fennec at least uses the Android API version and so shows up as "Linux 9" or "Linux 23" (and other versions in between) where as desktop Linux shows up as "Linux 3.1" and such. I don't know what B2G is doing, it might be getting lumped in with Linux desktop or Fennec somehow.

[2016-02-18 14:51] chutten commented on #223
Distinguishing Fennec is a matter of selecting "Firefox Mobile" from the application filter (instead of "Firefox Desktop"). Trying to select it via the os dropdown is probably going to go awry, as then you'd be looking for Firefox Desktop pings from those Linux versions, which probably don't exist.

As for B2G, let me ask around...

[2016-02-18 15:02] chutten commented on #223
Ah-ha! Nightly 44 and earlier have B2G in the application selector. There are so few submissions (57 samples on http://mzl.la/211030k ) that you need to turn off histogram sanitization to see them... but they're there.

Releases that don't have aggregated pings for B2G-identifying applications won't have B2G in the application dropdown, which is why it took me so long to find them :S

[2016-02-18 15:08] chutten commented on #223
Annnd, I'm being told that I am incredibly wrong...

It turns out there are some desktop builds of B2G that are contributing those pings, not FxOS on Phones. FxOS has "normal" Telemetry disabled according to :gfritzsche on #telemetry. Instead, the phones send their own JSON to the servers, which is not aggregated for display on t.m.o.

[2016-02-18 15:56] staktrace commented on #223
It would still be nice to have a separate OS type for them, so that I can do a "compare by target OS" and have Linux separate from Android.

[2016-02-18 15:56] staktrace commented on #223
Is it possible to have this data displayed on t.m.o? Or otherwise get access to the raw data?

[2016-02-18 16:20] chutten commented on #223
Getting access to the raw data is definitely possible. To query and analyse it, you'll probably want a cluster from https://analysis.telemetry.mozilla.org. I think all you need to do in order to get B2G pings is to specify `app="B2G"` in the `get_pings` call.

To get "compare by target OS" to include Android meaningfully (right now, if you select only the Linuxen with versions > 5 from the dropdow

[2016-02-18 16:24] staktrace commented on #223
I'm more interested in the checkerboarding metrics, don't care about GC_MS. Comparing desktop to mobile would be useful because it can tell us how to tune various prefs to improve the checkerboarding on mobile. I guess it's not hard to just have two tabs open, one with desktop and one with Android and do an old-school compare by rapid tab switch. I'll figure something out.

[2016-03-24 00:13] martinthomson opened #229 "mzl.la links should be https://"
No reason not to as far as I can see.

[2016-05-20 13:19] chutten opened #233 "Empty responses come from non-404 responses as well"
This assert is causing problems: https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L488

It asserts that an empty response is only possible with a 404 error code. cerberus is seeing 500 (Internal Server Error).

[2016-07-25 21:23] lunaeykal commented on #233
Getjson

[2016-08-17 14:07] bifurcation opened #242 "Requesting some histograms overflows date range"
When using telemetry.js, requesting a histogram evolution will request it over the entire date range when the histogram has been active.  The date range is encoded as a list of dates in a URL sent in a GET request to `https://aggregates.telemetry.mozilla.org/`.  For example, the following pages both call `Telemetry.getEvolution(channel, version, MEASURE, {}, true, callback)` and get this overflow:

[2016-08-17 14:08] chutten commented on #242
Can you give me the exact channel, version, and MEASURE used?

[2016-08-17 14:10] bifurcation opened #243 "Some error pages do not return Access-Control-Allow-Origin"
When `aggregates.telemetry.mozilla.org` returns an error response (as in #242), it does not send the `Access-Control-Allow-Origin` header.  This causes errors to appear to be CORS failures, when in fact they are HTTP errors.  The server should emit the ACAO header so that the proper error messages appear in the developer console.

[2016-08-17 14:17] chutten commented on #243
Refiled over [yonder](https://github.com/mozilla/python_mozaggregator/issues/18)

[2016-08-17 14:17] #243 closed

[2016-08-17 14:29] chutten commented on #242
https://aggregates.telemetry.mozilla.org/aggregates_by/submission_date/channels/beta/dates/ returns dates for version 39 that range from 20160815 all the way back to when it was relevant in 20150708. This, summed together, exceeds the 4K request URL limit on whatever part of the infrastructure has a 4K URL limit.

[2016-09-18 12:14] mstange opened #248 "Ability to get a pushlog range"
It would be nice to select a point on a graph and get a pushlog link that shows the code changes compared to the build of the previous data point. Or the ability to select a range and get the pushlog for that range. For example, on this graph, there's a clear jump on August 26, but I need to jump through hoops to find out what changed in the 20160826 build: https://mzl.la/2cV5tIl

[2016-09-20 15:36] chutten commented on #248
Sensible request, though I'm not sure how to programmatically get the pushlog. Could you detail the steps you used to get from a date to a sha range?

[2016-09-20 20:36] mstange commented on #248
Not sure. @wlach might know where the code is that does this in perfherder.

[2016-09-20 20:56] wlach commented on #248
Perfherder stores the SHA as part of the resultset, which it then uses to generate the pushlog. That said, if you have an exact timestamp of the push a build was based off of (YYYYMMDD doesn't cut it), that should be enough.

[2016-09-20 20:59] bsmedberg commented on #248
We've long had the problem in both telemetry and crash-stats where we know the buildid, but it's difficult to map that back to a cset. There is not an API that I know of which makes that mapping easy.

[2016-09-28 14:17] gijsk opened #249 "Data disappears after closing and restoring a tab"
1. open https://telemetry.mozilla.org/new-pipeline/dist.html#!arch=&cumulative=0&e10s=&end_date=2016-09-26&keys=__none__!__none__!__none__!__none__&max_channel_version=beta%252F50&measure=FX_STARTUP_MIGRATION_AUTOMATED_IMPORT_UNDO&min_channel_version=null&os=&processType=&product=&sanitize=0&sort_keys=submissions&start_date=2016-09-20&table=0&trim=0&use_submission_date=0
2. wait for it to load, th

[2016-10-04 20:20] april opened #250 "Improve security of telemetry"
Hello hello!  It's your friendly neighborhood infosec engineer, April!

I was hoping we could make some improvements to the security of telemetry.mozilla.org and analysis.telemetry.mozilla.org, especially as they are both on our bug bounty list.

A few things should probably be (hopefully) relatively simple:

[code]

HSTS helps ensure that users only visit the site over HTTPS, XCTO disables browse

[2016-10-06 19:21] longaraymatheus opened #251 "Some API parameters are not defined correctly"
Looking at the [documentation](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/wrapper/README.md) (https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/wrapper/README.md), _useSubmissionDate_, _sanitize_, _trim_ and _sensibleCompare_ are defined as booleans parameters.

However, when I called _window.TelemetryWrapper.go(params, parentEl)_, these parameters did not change the o

[2016-10-07 13:59] chutten commented on #251
L789 is a type-coercive comparison, so fret not about types.

Can you provide the params you were using, and a description of what you expected them to produce?

[2016-10-11 13:05] longaraymatheus commented on #251
The parameters were the following:

_var plots = [
  {
    "channel": "release",
    "version": "49",
    "metric": "PRINT_PREVIEW_OPENED_COUNT",
    "useSubmissionDate": false,
    "sanitize": false,
    "trim": false,
    "compare": "",
    "sensibleCompare": false,
    "evoVersions": 0,
    "filters": {}
  }
];_

What I expected them to produce was a not-sanitized and not-trimmed  chart. Howeve

[2016-10-21 14:14] mstange opened #252 "Ability to show chrome hangs for e10s only"
https://telemetry.mozilla.org/chromehangs/ shows things like plugin startup which, in e10s, should only happen in the content process AFAIK. I'd be interested in seeing what hangs are still happening on the parent process with e10s on.

[2016-10-21 16:14] mreid-moz commented on #252
cc @ddurst

[2016-11-04 16:36] fbertsch opened #254 "TMO Resets Probe"
If the new Firefox version does not have data for the currently selected probe, TMO resets the view to the first probe in the list

[2016-11-04 16:36] fbertsch opened #255 "Don't load data until done picking options"
The evolutions/histograms UI is too aggressive in updating things before I'm done picking the things I want

[2016-11-04 16:37] fbertsch opened #256 "Increase number of keyed histograms displayed"
Perhaps use other options - paging or selecting keys.

[2016-11-04 16:38] fbertsch opened #257 "Don't keep keys in the URL"
if you switch from one histogram to another (or to a different OS for the same histogram, where the possible key values are different) you end up with an empty screen because the keys are kept from the last query and are invalid for the new query.

[2016-11-04 16:38] fbertsch opened #258 "Don't sanitize or trim for small data counts"
When there's no data when sanitizing and ignoring buckets with low numbers of values, it should automatically turn those off and give you the little data it does have, and print a warning, instead of just saying "nothing here"

[2016-11-04 16:53] fbertsch opened #259 "Add ability to download entirety of keyed histogram"
Right now, you can only download the keys being displayed.

[2016-11-04 17:14] chutten commented on #254
What would make more sense?

[2016-11-04 17:15] chutten commented on #255
Fair enough. We can probably put a couple-hundred-millisecond delay between input and response.

[2016-11-04 17:15] chutten commented on #256
You can select keys.

[2016-11-04 17:16] fbertsch commented on #254
Probably a message that says "No data available"?

[2016-11-04 17:33] fbertsch commented on #256
Sorry, what I meant was a unified list of keys, and ability to select multiple. Then you could have more than 4 selected to compare them. Unless there was a diehard reason we limited the number shown.

On second thought, paging doesn't seem like a good option at all.

[2016-11-08 16:09] marco-c opened #260 "https://telemetry.mozilla.org/crashes/office-dashboard.html is using M+C-S for Nightly, M+C for Aurora"
`content_shutdown_crashes` is missing from https://sql.telemetry.mozilla.org/queries/199, but is present in https://sql.telemetry.mozilla.org/queries/200, so for Nightly the dashboard is going to show M+C-S, for Aurora M+C.

There's probably just a typo in the query (`content_shutdown_crashes` missing from one of the SELECTs).

The legend at the top should be updated too (it says `App crashes - ma

[2016-11-25 17:36] chutten commented on #260
The office dashboard has been replaced, so this is no longer something we need to worry about. Yay!

[2016-11-25 17:36] #260 closed

[2016-11-25 17:41] mikeconley opened #265 "Dates and buildIDs seem dependant upon the viewers timezone."
STR:

1) Switch your timezone on your local machine to Central European Standard Time (I chose "Spain" in OS X)
2) Visit https://mzl.la/2fME2x2
3) Notice the regression in the 95th percentile on that graph. Note that the regression allegedly appears on Nov 6th, 2016, and that the associated build ID is 20161106
4) Switch your timezone to Eastern Standard Time
5) Reload https://mzl.la/2fME2x2
6) No

[2016-11-25 17:43] mikeconley commented on #265
Here's another example.

1. Switch your timezone to Central European Time.
2. Visit https://mzl.la/2fN0AxM
3. Notice that the very first build ID that the ping shows up in is 20161106
4. Switch your timezone to Eastern Standard Time
5. Reload https://mzl.la/2fN0AxM
6. Notice that the very first build ID that the ping shows up in is 20161105 instead.

I'll note that this probe only started being wr

[2016-11-29 21:24] chutten commented on #265
Fixed!

[2016-11-29 21:24] #265 closed, assigned to chutten

[2017-01-04 18:59] digitarald commented on #229
Fixed in #230

[2017-01-04 18:59] #229 closed

[2017-01-04 19:02] digitarald opened #274 "Show statistics with percentiles and median while comparing"
The interface has a summary with percentiles and median when showing a single histogram. These numbers would be useful when comparing histograms, but right now the space is left empty.

[2017-01-09 20:04] ddurst opened #276 "Stability dashboard lacks defined upper and lower tolerance bounds"
In https://telemetry.mozilla.org/crashes/, the colors should be indicated the status of that data (green = OK, yellow = potential issue, red = needs attention). Those colors -- and the values that trigger them -- were originally pulled from https://arewestableyet.com/ (which appears to not have set them regularly or based them on anything immutable).

We need a concrete upper and lower bound from

[2017-01-31 02:00] chutten opened #281 "Stability Dashboard should use latest released version, not most popular"
[Presently](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/crashes/index.html#L106) the code checks for the most popular release by number of kilo usage hours.

It would be far more relevant to relman and uptime to see the figures for the latest release, even if it does cause the kuh plot to dip on merge day.

[2017-01-31 17:59] ddurst commented on #281
Can we just toggle between the two?

[2017-01-31 18:11] chutten commented on #281
Why? Do you know of anyone who would prefer to look at an older-than-current version?

[2017-01-31 18:19] ddurst commented on #281
Nevermind! I misread this.

[2017-02-01 20:03] chutten commented on #281
Live preview can be found here: https://chutten.github.io/telemetry-dashboard/crashes/

[2017-02-03 01:44] lonnen opened #283 "dashboards are confusing for single data points"
When there is a single data point (i.e. evolution dashboard right after a train switch with a single build), there is no line or representation of that single point. It's invisible until a hover reveals it by moving a circle over the point.

The Metrics Graphics version used here looks to be 2.6. The current release (2.10) shows [singleton rendering as a dot](http://metricsgraphicsjs.org/examples.

[2017-02-07 15:18] chutten commented on #283
We need to be a bit careful if the plan is to upgrade MG. Last time there were some pernicious timezone bugs that we didn't detect until months after.

[2017-02-07 21:41] lonnen commented on #283
Understood. It's unclear if that would even remedy this particular problem.

[2017-02-10 16:12] chutten opened #284 "First seven days on crashdash are unselectable"
To be a selected date on the crashdash there must be data from a week beforehand, otherwise it throws an error.

Either we should make this safe (just don't display the %ges) or we should just not show those early values.

[2017-02-17 18:53] lonnen opened #287 "histograms with one outlying bucket are difficult to read"
Histograms with one outlying bucket are difficult to read. Consider:

https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=1&end_date=2017-02-16&keys=__none__!__none__!__none__&max_channel_version=nightly%252F54&measure=SSL_HANDSHAKE_RESULT&min_channel_version=nightly%252F51&product=Firefox&sanitize=1&sort_keys=submissions&start_date=2017-02-16&table=0&trim=0&use_submission_date=0

The

[2017-02-17 20:16] chutten commented on #287
This particular probe will always have problems on a generic dashboard setup given its unusually-high number of buckets, but this can also be seen to a slightly-lesser degree on REFRESH_DRIVER_TICK: https://mzl.la/2lTk6iL (incidentally, the link icon at the top right of the dashboards will auto-shorten the long tmo links into mzl.la links for easy sharing)

It is not unreasonable to ask for some a

[2017-02-17 22:56] lonnen commented on #287
Thanks! The table view works well enough for scanning, too, but a chart is appreciated.

[2017-02-22 21:50] fbertsch opened #288 "Things break when selecting >1 process type (but not when selecting all)"
With the addition of GPU processes you can select multiple process types, but it only sends one in the network request. If we want to be able to do this, it will require work here in the dashboard, changes to the aggregates API, and changes to the aggregates db.

The simple option is you just choose one process type, or all of them.

[2017-02-24 20:42] chutten commented on #288
Should be taken care of by #289.

[2017-02-24 20:42] #288 closed, assigned to chutten

[2017-02-27 17:49] philipp-sumo opened #290 "Remove "M+C" from the dashboard in favor of "C" or "C-S""
this is an enhancement request:
the telemetry-fed crash dashboard at https://telemetry.mozilla.org/crashes/ lists a "Main (M)" crash rate for crashes in the browser process. it would be helpful if we could have a dedicated rate that shows the ups/down just for content crashes as well.

[2017-02-27 17:52] philipp-sumo opened #291 "factor in gpu-process crashes into the crash dashboard"
firefox 53 introduces a new gpu process ("quantum compositor") - we should find a way to incorporate that into the crash dashboard.

at the moment it looks like in socorro there is a rather small number of those reports, so maybe we can just count those crashes into the content crash rate (also see issue #290), as those types of crashes might feel similar to affected users, and add a note about th

[2017-02-27 17:58] philipp-sumo opened #292 "crash dashboard: allow zooming in/out in graphs"
this is an idea about enhancing the crash dashboard:
it would be great if it was possible to zoom out in the graphs that plot the various crash rates to get a more long-term picture about how crash rates are developing (at the moment only the last 3 months/~2 release cycles are covered)

[2017-02-27 21:27] philipp-sumo opened #293 "crash dashboard: graphs for particular categories of crashes"
...another enhancement request :-)

on the legacy adi-based dashboard it is possible [1] to take a deeper dive into graphs and have a look at rates for certain categories of crashes (like startup, shutdown, oom, unsymbolised signatures... ). it would be great to have this available for telemetry as well in one form or another.

[1] https://crash-analysis.mozilla.com/release-mgmt/crash-report-tools

[2017-02-28 14:55] chutten commented on #291
The dashboard as it stands is set to show rates instead of counts, so it'll require a little more effort to treat gpu crashes as a count. Shouldn't be too terrible.

That being said, I'm not sure that counts give us anything better than rates. So long as the proportion of the population getting gpu processes (and, thus, gpu crashes) is a representative %ge of the overall population, then it'll lik

[2017-02-28 14:59] chutten commented on #293
At present the capabilities of the dashboard are limited to the data collated by the [Crash Aggregates](https://github.com/mozilla/telemetry-batch-view/blob/master/docs/CrashAggregateView.md) dataset. It doesn't yet pull anything out based on crash annotations (other than ShutDownKill -> content_shutdown).

Can you elaborate on what use-cases you have that requires these categories?

[2017-02-28 15:02] philipp-sumo commented on #291
sorry if i haven't expressed myself clearly. i'm not interested in a count per se, but just wanted to raise the issue that gpu process crashes should be factored into the rates "somehow". i think they could be treated as part of the content crash rates for example...

[2017-02-28 18:05] chutten commented on #291
No, no, it's fine. We each have our own vocabulary with our own meanings for words. For me a "count" is not useful un-normalized (I've actually [blogged on the subject](https://chuttenblog.wordpress.com/?p=2493)) and is distinct from a "rate".

I can add gpu_crashes per thousand usage hours as a row with little problems, once I clear up some [pending issues](https://github.com/mozilla/telemetry-da

[2017-02-28 22:12] philipp-sumo commented on #293
not all crashes are equal, so the main use case would be to have an indication types of issues like startup crashes that need a more urgent response are spiking up.
(the other categories mentioned there would be less important to have on a dashboard but i think it would just be interesting and increase the understanding in how the composition of crashes is evolving over time...)

[2017-03-02 14:44] staktrace opened #294 "TMO doesn't show data for expired/removed probes"
The SCROLL_LINKED_EFFECT_FOUND probe was removed a few releases ago (it was a valid unexpired probe in Firefox 49 nightly, for example). And in the TMO interface, I can pick Firefox 49 from the histogram view, and then pick SCROLL_LINKED_EFFECT_FOUND from the list of probes. However no data shows up. There definitely *was* data associated with this probe and it would be great if it didn't disappea

[2017-03-02 15:19] chutten commented on #294
Here's a link: https://mzl.la/2mJHuwe

[Here's](https://aggregates.telemetry.mozilla.org/aggregates_by/submission_date/channels/release/?version=49&dates=20170228,20170227,20170226,20170225,20170224,20170223,20170222,20170221,20170220,20170219,20170218,20170217,20170216,20170215,20170214,20170213,20170212,20170211,20170210,20170209,20170208,20170207,20170206,20170205,20170204,20170203,20170202,201

[2017-03-02 16:31] fbertsch commented on #294
Yes we do. The data is there, but you can't access it, because we only use the most recent version of Histograms.json (and Scalars.yaml) to retrieve the definitions [0]. Thus if they are no longer in there, they are ignored (and you get a 404).

Basically, our thought process was "if it's expired, no one really cares about it anyways". I'm willing to revisit that assumption, but it would take some

[2017-03-02 16:34] chutten commented on #294
Worthy work, I should think, as without such a change we're persisting historical data in a way that is inaccessible.

Also, it might act as a disincentive for people to collect data for a controlled period of time, cleaning up Histograms.json as they go.

[2017-03-02 16:35] fbertsch commented on #294
Agreed. I'll put in a bug.

[2017-03-02 22:02] chutten commented on #290
Give it a go now? How's it look?

[2017-03-02 22:03] chutten commented on #291
Give it a go now? How's it look?

[2017-03-02 22:12] philipp-sumo commented on #290
looking great, thank you!

[2017-03-02 22:12] #290 closed, assigned to nobody

[2017-03-02 22:14] philipp-sumo commented on #291
thank you!

[2017-03-02 22:14] #291 closed, assigned to nobody

[2017-03-03 17:29] fbertsch commented on #294
Made bug 1344280 for this.

[2017-03-03 17:29] fbertsch commented on #294
Closing this since this is an issue with python_mozaggregator and not the TMO frontend.

[2017-03-03 17:29] #294 closed, assigned to fbertsch

[2017-03-08 20:08] staktrace opened #297 "Weird e10s option showing up on telemetry.m.o"
1. Go to https://mzl.la/2mjZiP7
2. Click on the "any e10s setting" part of the query

Expected: 2 options, "e10s" and "no e10s"
Actual: there is a third option, a very large negative number

[2017-03-08 20:33] fbertsch commented on #297
Okay so this was a tiny amount of data - at most 3 pings. So I'm not sure it's worth worrying about.

However, it might make sense to add expected values for our dimensions to prevent this sort of weirdness in the future. E.g. only allow True/False for e10sEnabled, and record counts of other values during aggregation so we can make sure nothing bad has been missed.

OTOH aggregates should contain

[2017-03-08 20:44] chutten commented on #297
Instead of limiting options or limiting aggregates, maybe we can focus on limiting value lengths. Certainly that's something we can do on the dashboard side (max-width that popup).

Maybe telemetry.js' sanitized() should erase unpopular options as well as unpopular entries...

[2017-03-08 20:47] fbertsch commented on #297
This option comes from `https://aggregates.telemetry.mozilla.org/filters/?channel=release&version=50`. We'd have to push numbers into the get_filter_options, which is actually a separate table in the database with all filter options for a certain channel/version (and no counts)... wouldn't be very easy.

max-width sounds like a good thing though :)

[2017-03-08 20:53] chutten commented on #297
Alrighty, we can fix this dashboard-side with a presentation-level fix. Not a big priority, looks like, though. But a good first bug.

[2017-03-10 13:04] fbertsch opened #300 "Enable GA"
We would like to have GA on every dash in TMO. This can help us decide how things are used (which dashboards) and how much.

[2017-03-16 04:59] geekodour commented on #300
implementing GA on each page, does that mean having pageviews on each page from GA? or something more?
api link: https://developers.google.com/analytics/devguides/collection/analyticsjs/pages
api link for spa: https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications
It can be placed here, if it's meant to be on the users side.
![](http://i.imgur.com/Rjc91BJ

[2017-03-20 15:45] fbertsch commented on #300
We really just want pageviews on each page from GA. We could potentially include more information (such as: probe selection in Evolution/Measurement view), but we'll start simple and add what we need later.

[2017-03-20 22:04] geekodour commented on #300
hmm, is this an internal project? seems like to some work with api credentials would be involved if not much. let me know if I could help in any small way with this issue.

[2017-03-31 11:03] afnizarnur opened #302 "Improve filtering on dashboard"
Recently, I'm looking around the dashboard and see the filtering function on dashboard not quite seen that this is the functionality to filter data. It would be better if given a label or text on top of the filtering.

<img width="1353" alt="screen shot 2017-03-31 at 5 51 34 pm" src="https://cloud.githubusercontent.com/assets/4648648/24547608/eced2dd2-163a-11e7-8b96-d7da8b515d7d.png">

Improvement

[2017-04-05 15:28] chutten commented on #250
The bugzilla version of this is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1307835

[2017-04-05 16:12] chutten commented on #300
Also being tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1293750

[2017-04-10 20:49] hmntptwl opened #303 "links are not backward compatible"
@chutten
The two links mentioned  [here](https://github.com/hemant1612/telemetry-dashboard/blob/hhhh1612/advanced/index.html#L259)
- [telemetry.mozilla.org/v1/big.js ](https://telemetry.mozilla.org/v1/big.js )
- [telemetry.mozilla.org/v1/telemetry.js](https://telemetry.mozilla.org/v1/telemetry.js)

are not active to be used for local deployment

[2017-04-10 21:06] chutten commented on #303
This is because telemetry.js v1 has been deprecated in favour of telemetry.js v2. It is entirely possible that anything under advanced/ might not work.

[2017-04-10 21:06] #303 closed, assigned to nobody

[2017-05-04 09:26] philipp-sumo opened #306 "Remove Aurora channel from the Stability Dashboard"
Since project dawn retired the aurora channel, we no longer need it on https://telemetry.mozilla.org/crashes/

[2017-05-04 09:34] philipp-sumo opened #307 "Stability dahsboard shows arbitrary Nighly versions"
In the past few days, the https://telemetry.mozilla.org/crashes/ dashboard shows data for arbitrary nightly versions and not the latest 55.0a1 (it's also happening with aurora, but we shouldn't care about that anymore - issue #306).

it's displaying the following versions if i look at the dashboard currently:
2017-05-01: 54.0a1
2017-04-30: 45.0a1
2017-04-29: 48.0a1
2017-04-28: 48.0a1
...
apparentl

[2017-05-04 19:02] #306 closed, assigned to nobody

[2017-05-04 19:34] chutten commented on #307
Fixed by removing aurora. Apparently it was playing havoc wider than just its own channel :S

[2017-05-04 19:34] #307 closed, assigned to nobody

[2017-05-04 19:35] philipp-sumo commented on #307
thanks for the quick fix!

[2017-05-16 18:19] mstange commented on #248
Ehsan and I have run into this problem again today.

[2017-05-16 18:23] digitarald commented on #248
A script would check the ftp builds for the date range and get the SHAs from the text files in the right builds. I can take a shot at this for health.graphics as example script.

[2017-05-16 18:32] chutten commented on #248
If you'd like to see some prior art on this, this is how medusa (alerts.tmo frontend) does it for telemetry-alerts emails: https://github.com/mozilla/medusa/blob/ea4bf27a4f71c740507cbed5d149bd900ee29c93/src/clj/medusa/changesets.clj

[2017-05-16 18:44] mstange commented on #248
But that's imprecise if we produced multiple nightlies on the same day, isn't it? Does telemetry even have the necessary information to distinguish those builds?

[2017-05-16 18:57] bsmedberg commented on #248
The base telemetry data has the buildid. However it appears that the aggregation is currently being done by build day instead of buildid, which means we're losing that signal. Unfortunate and something to fix as a separate issue.

[2017-05-16 19:59] mostlygeek commented on #248
We are working on a project, [mozilla-services/buildhub](https://github.com/mozilla-services/buildhub/issues/36), that may help with this. The project is still in a nascent stage, but we are looking at servicing this use case. BuildHub is meant to be a comprehensive database of build and release data.

It'd be a great help to get some direct feedback on needs from telemetry devs.

[2017-05-16 22:45] digitarald commented on #248
One could simply take the earliest build for start of regression range and latest build of a day for the end of regression range. Judging from various threads going around we only have one build per platform per day and can't seem to change that in the near future as a lot of pipelines assume one build a day and use date as unique key.

Looks like @chutten's reference already handles the process a

[2017-05-16 23:08] fbertsch commented on #248
Bug 1347564 is for adding capability to show multiple builds per nightly to TMO, so it looks like there was/is talk of this.

[2017-05-17 12:26] mreid-moz commented on #248
Not sure if this helps, but the main ping contains the mercurial revision at `payload.info.revision`. We could build a map of [channel, build] -> revision(s)

[2017-05-17 13:56] staktrace opened #311 "alerts.tmo doesn't load"
I got a telemetry regression email with this link:

http://alerts.telemetry.mozilla.org/index.html#/detectors/1/metrics/2195/alerts/?from=2017-05-12&to=2017-05-12

It doesn't load in the browser. The web console shows some JS errors about `navigator.id` not being defined, maybe that's causing important scripts to abort?

[2017-05-17 14:21] chutten commented on #311
I was triaging telemetry-alerts yesterday and it was working. Today it isn't. I didn't update my browser in the interim.

This is concerning.

[2017-05-17 14:26] chutten commented on #311
I see https://bugzilla.mozilla.org/show_bug.cgi?id=1014608 which points the finger at extensions, but this happens even with a fresh profile.

[2017-05-17 14:29] chutten commented on #311
Oh no.  I wonder if this is Persona.

[2017-05-17 17:59] chutten commented on #311
Yup, it was Persona. Should be all fixed now in mozilla/medusa

[2017-05-17 17:59] #311 closed, assigned to nobody

[2017-05-18 18:49] fbertsch opened #312 "Evolution View should have a way to see "Total Histogram Count""
We currently have "Number of Pings" with the label "Daily Metric Count". I would prefer to have to plots with "counts":
1. "Daily Ping Count" - number of pings received in that day with that metric
2. "Daily Metric Count" - number of instances of that metric recieved per day.

[2017-05-19 15:26] mak77 opened #313 "Please, bring back some kind of Slow SQL dashboard"
I constantly feel the lack of this dashboard, I used to look at it to prioritize work on Storage and its consumers (Places, cookies, form history, dom storage...), but it's gone from a long time. I tried for some time to understand if we could live without this, but I constantly lack data.
We don't need to retain everything, even just having the top 10 offenders on and off main-thread would be gre

[2017-05-19 15:31] bsmedberg commented on #313
Marco, you need to work with the data engineering team on this (in bugzilla, not here). Please contact kparlante and thuelbert to get things started. That team will need a fairly detailed specification of how the incoming data should be transformed into the results you need. I suspect a batch report would be a simpler/faster way to solve this than a dashboard, but they can help you decide that.

[2017-05-19 15:31] #313 closed, assigned to nobody

[2017-05-19 16:09] mreid-moz commented on #313
@mak77 please ni? me on said bug when it gets filed and I can add the old analysis code for reference.

[2017-05-30 14:47] chutten opened #315 "Create an Error Segment for all dashboards"
Last time we had an outage, a lot of time was wasted by people telling us that there was an outage :)

We should add a place at the top of tmo, tmo/dist, tmo/evo for outage notices. Make it angry-looking, maybe. Definitely have it hidden unless there's content in it.

[2017-06-14 14:56] chutten opened #317 "Augment Telemetry Dashboard to support Comparison"
More than one person has asked for the ability to compare two aggregate measures and display their relationship as a timeseries.

This would be similar to the evolution view, but with lines normalized to some denominator which might be:
* Another aggregate optionally from another key in the same metric
* An aggregate from another metric entirely
* Possibly also submission volumes? Daily sums? What

[2017-06-20 15:44] chutten commented on #183
This is a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1365751

Please follow along there if you'd like.

[2017-06-20 15:44] #183 closed

[2017-06-23 18:35] chutten commented on #315
Error segment's in place and ready for the next issue.

[2017-06-23 18:35] #315 closed, assigned to nobody

[2017-06-29 00:39] past opened #320 "TelemetryWrapper should accept a param to set the percentile to plot"
I'm imagining "param.percentile = 95" would let me plot the 95th percentile of a particular telemetry measurement instead of the default value of 50.

[2017-07-10 14:41] #281 closed, assigned to chutten

[2017-07-12 14:27] chutten commented on #248
This is pending mozilla-services/buildhub#36

[2017-07-18 15:39] chutten commented on #300
Closing so further discussion can be had in bugzilla

[2017-07-18 15:39] #300 closed, assigned to nobody

[2017-07-18 15:44] #302 closed, assigned to nobody

[2017-07-18 15:52] chutten commented on #276
Migrated: https://bugzilla.mozilla.org/show_bug.cgi?id=1381873

[2017-07-18 15:52] #276 closed, assigned to nobody

[2017-07-18 15:59] chutten commented on #252
Dashboard has been retired.

[2017-07-18 15:59] #252 closed

[2017-07-25 15:52] #250 closed

[2017-07-25 15:53] chutten commented on #249
It's fixed!

[2017-07-25 15:53] #249 closed

[2017-07-25 15:54] #242 closed

[2017-07-25 15:56] chutten commented on #233
Assert is now on line https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L474

[2017-07-25 15:57] chutten commented on #233
Should loosen the assert since the aggregator service isn't 100% stable.

[2017-07-25 15:58] #223 closed

[2017-07-26 16:10] #320 closed, assigned to nobody

[2017-08-15 11:55] farre opened #326 "Evolution dashboard fails to load."
Loading the evolution dashboard fails due to Content Security Policy errors:

Firefox Nightly 57.0a1 (2017-08-03) (64-bit) on Ubuntu

Loading failed for the <script> with source “https://code.jquery.com/jquery-1.11.3.min.js”. evo.html:108
Loading failed for the <script> with source “https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js”. evo.html:109
Loading failed for the <script> w

[2017-08-15 14:49] chutten commented on #326
Works for me. Would one of your addons be enforcing a rather more strict policy of cross-site script inclusion than tmo does natively?

[2017-08-15 14:52] chutten commented on #326
Rather more specifically, to my knowledge we do not set script-src: none in CSP headers or meta on TMO (our CSP is rather lax at the moment. https://bugzilla.mozilla.org/show_bug.cgi?id=1307835 is for improving it)

[2017-08-15 15:42] chutten commented on #222
If we'd like to enable telemetry on SunOS' builds of Firefox, the bugs under https://bugzilla.mozilla.org/show_bug.cgi?id=1352981 are a good starting place for how-to.

[2017-08-15 15:42] #222 closed

[2017-08-15 15:46] #218 closed

[2017-08-15 15:49] chutten commented on #166
The original issue is not sending CORS headers for error responses which is https://bugzilla.mozilla.org/show_bug.cgi?id=1353780

[2017-08-15 15:49] #166 closed

[2017-08-15 15:50] #144 closed

[2017-08-15 15:51] chutten commented on #143
EWONTFIX

[2017-08-15 15:51] #143 closed

[2017-08-15 15:51] fbertsch commented on #61
We won't be including clientId in TMO.

[2017-08-15 15:51] #61 closed

[2017-08-15 15:52] chutten commented on #46
telemetry.js v2 is a little bit better at this.

[2017-08-15 15:52] #46 closed

[2017-08-16 09:26] farre commented on #326
Took a look at the headers, and at least evo.html sets the CSP header.
![screenshot2](https://user-images.githubusercontent.com/776258/29356764-9d974bbc-8275-11e7-89e0-a019ba237002.png)

[2017-08-16 09:29] farre commented on #326
On the other hand, using my own built nightly I don't get that response header. Starting to get confusing here. And I turned off all of my add-ons to be sure, and I shouldn't have any strange settings turned on either.

[2017-08-16 15:30] farre commented on #326
And https://telemetry.mozilla.org/new-pipeline/dist.html is working just fine, it's just https://telemetry.mozilla.org/new-pipeline/evo.html that's broken for me.

[2017-08-21 09:27] farre commented on #326
Now I'm on Firefox Nightly 57.0a1 (2017-08-20), and now it works. No CSP header either.

[2017-08-21 13:26] chutten commented on #326
This is truly confusing. I'm not sure how I can help.

[2017-08-29 15:43] chutten commented on #326
Probably some legacy addon that was disabled on the Aug 11 build... Closing as working for now :)

[2017-08-29 15:43] #326 closed, assigned to chutten

[2017-09-05 15:52] chutten commented on #297
Cloned to https://bugzilla.mozilla.org/show_bug.cgi?id=1396890 so it can appear in Bugs Ahoy

[2017-09-05 15:52] #297 closed, assigned to nobody

[2017-09-08 18:30] georgf opened #328 "Link to the histogram simulator on the landing page"
The [histogram simulator](https://telemetry.mozilla.org/histogram-simulator/) can be pretty useful to understand bucket handling etc.
Unless there are known issues with it, we should surface it on the main page.

[2017-09-11 20:56] staktrace opened #329 "telemetry.m.o shows data for e10s-enabled Firefox Mobile when such a configuration shouldn't exist"
https://mzl.la/2xsCxAS for example, is the CONTENT_RESPONSE_DURATION histogram on 57 nightly for Firefox Mobile with e10s enabled. It shows around 1.65M samples. The thing is, Firefox Mobile (which I believe to be Fennec) doesn't work with e10s enabled. So something is weird here. If I filter the data by process, only the parent process shows up as having any data. Maybe whatever the telemetry cod

[2017-09-11 21:10] fbertsch commented on #329
Take a look at https://mzl.la/2wVZ8UY. Note the second plot (Daily Metric Count) shows number of pings received per day. It's showing 200-300, so a pretty low number. It did jump up around during 56, however.

The code to determine if e10s is enabled is [here](https://github.com/mozilla/python_mozaggregator/blob/master/mozaggregator/aggregator.py#L342). Unless there have been undocumented changes

[2017-09-11 21:15] staktrace commented on #329
@snorp said that enabling e10s manually results in total brokenness, but maybe it works enough to send pings. I'm not sure. Considering it's a very small portion of pings it shouldn't unduly skew the data, so I'm ok with ignoring it.

[2017-09-11 21:19] fbertsch commented on #329
Great. Best to keep an eye on it, and if it continues to seem suspicious (or gets worse) you can do some analysis in [ATMO](https://analysis.telemetry.mozilla.org/).

[2017-09-11 21:19] #329 closed, assigned to nobody

[2017-09-12 13:54] mreid-moz commented on #258
Including a warning that there are few data points and that conclusions should be drawn carefully, if at all, would be good.

[2017-09-15 14:42] fbertsch opened #331 "Remove realartist.com webhook?"
This seems like some leftover code review software, and the pushes haven't been successful since early 2017. I think we can safely remove it, unless someone is using it?

@chutten?

[2017-09-15 14:51] chutten commented on #331
r+

[2017-09-15 15:08] fbertsch commented on #331
Done.

[2017-09-15 15:08] #331 closed, assigned to nobody

[2017-09-19 20:46] ab0092 commented on #312
May i get some more details on this issue ? I would like to work on this.

[2017-09-19 21:13] fbertsch commented on #312
@ab0092, we did get the change for showing `daily ping count` in #330.

What we need now is another plot (in the evolution view) that will look very similar to the one that shows "Daily Ping Count" [0]. Instead of showing number of pings, it will show number of instances of a measurement we've seen. Let me explain a bit more.

When we receive a Firefox Ping, it has histograms in the following form

[2017-10-01 09:26] adrian17 commented on #312
@ab0092, are you working on this bug? If not, I can take a shot at this.

[2017-10-01 17:20] ab0092 commented on #312
@adrian17 i have not yet started working in this issue so you can work on it, i will look into the other issues to work on. :-)

[2017-10-01 17:26] ab0092 commented on #328
@georgf i would like to work on this issue. Can u please assign me this issue and also provide me with some more details of what is actually required. Thanks..

[2017-10-02 13:15] chutten commented on #328
It's yours to work on if you'd like to.

What needs to be done: Add a link and a description for the histogram simulator to the index.html in the "Other Dashboards" section, following the pattern already established in that list .

[2017-10-02 13:59] ab0092 commented on #328
@chutten i have added the Histogram Simulator in the Home/Main Page under Other DashBoards Serction. Could you check the description for the link, is that description gonna work ?

[2017-10-02 14:00] ab0092 commented on #328
The changes can be viewed at https://ab0092.github.io/telemetry-dashboard/

[2017-10-02 14:01] chutten commented on #328
Can you submit a Pull Request? I can review the wording and the code better that way.

[2017-10-02 14:23] ab0092 commented on #328
I have made a PR. Waiting for your response.

[2017-10-02 15:22] chutten commented on #328
https://github.com/mozilla/telemetry-dashboard/pull/336#pullrequestreview-66492624

[2017-10-02 15:22] #328 closed, assigned to nobody

[2017-10-02 15:48] ab0092 commented on #257
@chutten  Is this issue occurring in the measurement-dashboard ?

[2017-10-02 15:50] chutten commented on #257
@ab0092

We store a lot of state in the URL so that you can share a link to the exact same dashboard you're looking at. This is important so we can collaboratively look at the same views of the data in the same time.

Now, I can't seem to reproduce this issue as stated. We need more information before we can get started. This is where you ask the reporter (@frank) how he managed to cause the issue

[2017-10-02 15:51] chutten commented on #257
And, yes, the label suggests that this was happening on the measurement dashboard

[2017-10-02 15:55] ab0092 commented on #257
@chutten then we have to wait till we get a response from @frank about how to replicate the same scenario.

[2017-10-02 15:56] chutten commented on #257
You can start looking for the code that saves and restores the keys into and out of the URL in the meantime, and see if you can reproduce the problem by looking at keyed histograms such as IPC_SYNC_RECEIVE_MS and FORM_FILL_RESPONSE_TIME_MS

[2017-10-02 15:58] ab0092 commented on #257
Sure. I will get started right away. Thanks..

[2017-10-02 16:16] ab0092 commented on #257
@chutten i was trying out different search filters and one filters showed up results with a ??? sign, please let me know if this is an issue, try this link
https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&end_date=2017-10-01&keys=%253F%253F%253F!PPluginInstance%253A%253AMsg_ShowDirectBitmap!PPluginInstance%253A%253AMsg_ShowDirectDXGISurface!PVideoDecoderManager%253A%253AMsg_PVide

[2017-10-02 16:37] ab0092 commented on #257
There is also a design issue with the graph numbers showing below each graph bar which are overlapping one another which is making it difficult to read.

[2017-10-02 19:32] chutten commented on #257
The key "???" is actually used in the IPC code that's reporting data. It's a valid key.

[2017-10-03 18:09] #312 closed, assigned to nobody

[2017-10-08 18:46] Archaeopteryx opened #337 "Twitter handle written as '@MozTelemtry', should be '@MozTelemetry'"
On the start page.

[2017-10-08 21:36] #337 closed, assigned to nobody

[2017-10-08 21:37] mreid-moz commented on #337
Thanks @Archaeopteryx!

[2017-10-11 19:07] armenzg opened #339 "telemetry-wrapper does not work with D3 v4"
I have a React project where metrics-graphics is already installed and imported.

This means that telemetry-wrapper will get to use metrics-graphics (and depedencies) from node_modules rather than what is specified in the <script> tags.

This branch shows you what I mean:
https://github.com/armenzg/react-telemetry-demo/compare/metrics_graphics
I forked telemetry-wrapper with two line changes:
http

[2017-10-17 15:37] #339 closed, assigned to nobody

[2017-11-23 15:55] fbertsch opened #346 "Link to data explorer for the specified probe in evolution/measurement views"
This would alleviate the questions of "Where do I find out the info for this probe?"

[2017-11-23 18:23] georgf opened #347 "Add mission control to TMO landing page"
@mreid-moz or @rafrombrc, is MC in a state where we want to officially point to it? (could be in "other tools" or "main tools").
If so, what's the right URL?

[2017-11-23 18:36] mreid-moz commented on #347
Here's a link to [Mission Control](https://data-missioncontrol.dev.mozaws.net/#/).

I think we should link to it, but I defer to @wlach for the final call.

[2017-11-27 16:33] wlach commented on #347
I see no reason we shouldn't link to it.

The current url is:

https://data-missioncontrol.dev.mozaws.net/

This will almost certainly change in 2018, but is good for now.

[2017-11-28 16:06] #347 closed, assigned to nobody

[2017-11-28 21:44] fbertsch commented on #346
Fixed by #349

[2017-11-28 21:44] #346 closed, assigned to fbertsch

[2017-12-04 08:55] georgf opened #350 "Directly link to detail view for data explorer"
We added linking to the data explorer with #349.
In [this PR](https://github.com/georgf/fx-data-explorer/pull/14) i'm adding a detail view.
We can link to that directly using e.g. `...?detailView=histogram%2FGC_MS`.

[2017-12-05 16:40] georgf opened #351 "Move data explorer / probe dictionary into TMO project"
We decided to move the [data explorer](https://github.com/georgf/fx-data-explorer) into the TMO project.

[2017-12-06 15:39] chutten opened #354 "Remove prism"
In `lib/` we have `prism.js` and `prism.css`

Near as I can tell, neither are used.

[2017-12-06 18:58] chutten opened #355 "Add analytics for outbound links on index"
We have outbound links on index. We'd like to know how frequently they're used, so we know when to move, remove, and change them.

[2017-12-07 17:05] #355 closed, assigned to chutten

[2017-12-13 11:12] georgf opened #358 "Don't linkify full probe descriptions"
On the distribution & evolution dashboard, we now make the whole description a link.
This impedes readability.
Can we instead just add a "learn more" link after the descriptions?

[2017-12-13 14:00] fbertsch commented on #358
Fine by me, that's how I originally had it.

[2017-12-14 22:43] chutten commented on #358
If someone can design it so it doesn't look awful, sure.

[2017-12-19 16:36] fbertsch commented on #358
Options:
- Add "more details" link after the description
- Remove text decoration on non-hover

[2017-12-19 16:38] chutten commented on #351
Or maybe put it into a submodule so we can keep process/issues separate?

[2017-12-19 16:39] georgf commented on #351
We decided to:
- move data explorer into a separate mozilla project
- add it as a submodule here or so, so we get it hosted on TMO

[2017-12-21 05:51] bani commented on #274
I decided to take a stab at this one as an attempt to contribute to this project.

I started with just the Median, as it may become too cluttered to add all percentiles when there is a large number of segments.

You can take a look at [this example on my fork](http://baniverso.com/telemetry-dashboard/new-pipeline/dist.html#!compare=os&cumulative=0&end_date=2017-12-19&keys=__none__!__none__!__none_

[2017-12-21 16:30] chutten commented on #274
That's pretty good, @bani!

I'm not sure if sorting would be better or worse. All else fails, leave it as it is now and take the sorting question to a follow-up issue.

Now it's just a matter of trying to figure out how to fit the rest of the aggregates in that space...

What do you think about a tabular view with five columns (5th, 25th, median, 75th, 95th) and one row per compare value? It might

[2017-12-23 06:03] bani commented on #274
Updated to a table.
I had to decrease the font size to fit in the div. Otherwise it was sort of ok, but with a smaller window the scrollbar would cover the 95th percentile column.

[2018-01-03 14:55] chutten commented on #274
(Sorry for the delayed response. Just returned from end-of-year holidays)

Smaller window widths are always problematic in the current design. It doesn't relayout properly on narrow screens until it already cuts off quite a bit of content... and that's the current state :S

I wouldn't worry about it too much. We can tackle the problem of narrow-ish windows another time. (You can file an Issue and

[2018-01-04 12:30] georgf commented on #351
I moved the probe dictionary (formerly data explorer) over here: https://github.com/mozilla/probe-dictionary

Reading [this post](https://github.com/blog/2104-working-with-submodules) on submodules, i'm not sure if these are the right approach though.

[2018-01-04 19:02] chutten commented on #351
What would you suggest as an alternative? Maybe a similar GH->S3 ops setup to what TMO has?

[2018-01-04 20:29] #274 closed, assigned to nobody

[2018-01-06 15:04] staktrace opened #364 "alerts.tmo display has useless date range fields"
Go to a URL such as http://alerts.telemetry.mozilla.org/index.html#/detectors/1/metrics/1721/alerts/?from=2017-12-22&to=2017-12-22 (which is taken from a telemetry regression alert email). Adjust the date inputs on the left side.

Expected: the graph has lines for each day in the selected range
Actual: the graph looks the same no matter what

[2018-01-07 16:20] shikhar-scs commented on #354
@chutten If this issue still exists, may I work on this ?

[2018-01-07 16:35] shikhar-scs commented on #358
We can keep it to be a toggleable display kind of thing with the title description.

Also, the text decoration can be removed. And small down array icons can be used to signify that changes can be made.

I would like to work on this if the mentors agree to the above changes.

[2018-01-07 17:42] georgf commented on #358
I don't think this is discoverable. It requires hovering over the text, which depending on the device used doesn't occur (e.g. touchscreens on mobile).

[2018-01-07 18:05] shikhar-scs commented on #358
Well then that issue is there for each and every css hover property ever used out there on the internet. As a user I guess, majority usage of such a web application would be on a desktop/PC only. Thus, we can maybe move forward with such changes.

[2018-01-08 11:39] georgf commented on #358
Users can surprise you. According to Analytics data, ~21% of pageviews of [telemetry.mozilla.org/new-pipeline/dist.html](https://telemetry.mozilla.org/new-pipeline/dist.html) are from mobile.

Touchscreens aside, a long text description is generally not expected to be clickable.
We need some visual cue for users to discover that there is a link. Whether that is a separate button or link or some ot

[2018-01-08 11:53] georgf commented on #351
I'm not sure what a good approach here is.
From what i understand, adding it as a submodule has some pain-points around cloning/updating for development and requires pinning specific revisions of the sub repo (adds some process, but could be useful).

So, from what i understand so far, we can:
- use submodules and pull specific sub repo revisions
  - we probably need to add docs/tooling for dev pr

[2018-01-08 16:23] chutten opened #366 "Extend the expiry of the "this is my current dashboard state" cookie"
Currently the dashboard state cookie (set in `saveStateToUrlAndCookie()`) is set to expire after only 3 days.

We are learning from our analytics and user surveys that many users don't visit the dashboard that often.

Let's bump that expiry to a month, maybe?

[2018-01-08 16:33] shikhar-scs commented on #358
@georgf what I gathered after looking at many style displays is :
for the desktop use we can use something like this (its related to hover only)
![downarray](https://user-images.githubusercontent.com/25258877/34680605-931de08a-f4bf-11e7-8bef-8455b0713f46.gif)

And for touch devices we can apply a small down arrow beside every changeable list item, something like this
![downarray gif](https://user-

[2018-01-08 16:55] georgf commented on #358
These are great-looking effects.
For the specific use-case here though we want a separate link or button called "More details".
This probably looks better on a new line (possibly centered), otherwise it's odd for longer descriptions.

[2018-01-08 17:04] shikhar-scs commented on #358
So maybe you mean to say that we can,  initially, just display one plain string consisting of the entire description without displaying options for changing them. And with the more details button we can just display the original description maybe with a bit of beautification

[2018-01-08 17:49] georgf commented on #358
Showing the full description is possibly fine for now.
The issue that we want to fix here is that the full description is a link (to the probe dictionary).
We want to remove that and instead add a separate "More details" button or link.

[2018-01-08 19:47] chutten commented on #354
It appears to still exist, and you may certainly work on this!

If you have any questions, please let me know.

[2018-01-08 19:55] chutten commented on #364
The alerts.tmo frontend is [mozilla/medusa](https://github.com/mozilla/medusa), but I can take this here.

The date inputs on the left side are to filter the alerts shown on the right. If you go to bland https://alerts.telemetry.mozilla.org and select Histogram Regression Detector, it shows you the past month's alerts. You can then filter by metric and date, if there are only some you're intereste

[2018-01-09 01:36] shikhar-scs commented on #354
@chutten You were right about that, therefore I'll remove them directly and post a PR soon.

[2018-01-09 01:58] shikhar-scs commented on #358
Look at the 3rd button on the green background [here] (https://tympanus.net/Development/CreativeButtons/), we can use that if it looks good. That can just be used for the concept. The styling can further be made much better.

[2018-01-09 06:01] himanish-star commented on #366
@chutten , I would like  to work on this issue. May I?

[2018-01-09 11:36] georgf commented on #358
This looks like a start to me. You could try it in the page context and we can see if it works.

[2018-01-09 12:15] shikhar-scs commented on #358
Ok I'll start with this.

[2018-01-09 15:22] chutten commented on #354
Fixed by #367

[2018-01-09 15:22] #354 closed, assigned to nobody

[2018-01-09 15:23] chutten commented on #366
@himanish-star Please do! Let me know if you have any questions.

[2018-01-09 16:40] himanish-star commented on #366
~@chutten , I'm currently working on another bug elsewhere. So I'll start working on this in a while and yes I'll let you know if I have any doubts. Thanks for the help.~
  EDIT : Ok , I am starting my work on this.

[2018-01-10 10:55] shikhar-scs commented on #257
@chutten I've managed to find where the keys get included in and excluded out of the main url. How shall I proceed further ?

[2018-01-10 16:38] chutten commented on #257
@shikhar-scs The idea here is to ensure that when you switch parameters (OS, Probe, etc) the keys should be removed from the URL. But we still want the keys in the URL for sharing, and to restore the key information if it was the initial state.

Does that make sense?

[2018-01-10 16:44] shikhar-scs commented on #257
Yeah that does make sense, though, the thought of implementing the same is a bit scary.

[2018-01-10 17:50] shikhar-scs commented on #257
I hope you'll guide me through the way :+1:

[2018-01-10 19:30] chutten commented on #257
That's the plan 👍

[2018-01-10 19:31] #366 closed, assigned to nobody

[2018-01-14 17:25] himanish-star commented on #259
@chutten , I would like to work on this issue. May I ?

[2018-01-15 15:21] chutten commented on #259
@himanish-star Please do!

[2018-01-15 18:15] himanish-star commented on #259
@chutten , could you please explain that in what way do we intend to download the entirety of the histogram. Like an image or something else ?

[2018-01-15 19:19] chutten commented on #259
Certainly!

If you view a histogram, even a keyed one, on telemetry.mozilla.org, two buttons appear, labelled "Export CSV" and "Export JSON". This allows users to download CSV/JSON files of the data being displayed so that they can do analysis on the aggregate data themselves, if they want. (Some analysts really really like Excel)

However, if the user's viewing a keyed histogram (like here: https

[2018-01-16 14:50] chutten opened #372 "Adjust Analytics"
The analytics as they work now work for answering the questions "What parts of TMO are used?" and "How often?"

It's not so useful for understanding what parts of `TMO/index.html` are most clicked.

So, we need a change in our analytics. We still need pageviews from across TMO, but now we want to track usage of TMO/index separately. So external links are out. Time to track clicks on all the anchor

[2018-01-16 14:51] chutten commented on #372
Actually, let's make the name TMO/index specific. So `index_nav` or `portal_nav` or something like that. Bikeshedding appreciated, @georgf @Dexterp37 if you have any ideas.

[2018-01-16 14:59] georgf commented on #372
We can [view events per-page](https://analytics.google.com/analytics/web/#report/content-event-pages/a49796218w81627824p84513320/), so we don't need to make the name page-specific.

Re-using `click` might be fine if we just keep the change date in mind.

[2018-01-16 15:01] chutten commented on #372
Even with proper cache control, I'm not sure we can tell if a `click` comes from an old version of the page or a new one. Since we're only expanding its reach, maybe this shouldn't matter?

[2018-01-16 15:16] georgf commented on #372
It's probably fine over time.

[2018-01-16 16:40] #364 closed, assigned to nobody

[2018-01-16 19:07] himanish-star commented on #259
Yes, @chutten , Thanks for the explanantion
EDIT: I'll take a day or two to file a PR

[2018-01-16 19:37] #372 closed, assigned to chutten

[2018-01-17 11:08] leplatrem opened #374 "Adjust number of histograms to number of keys"
For keyed histograms, there seems to be no way to control the number of displayed histograms (always 4).

If I explicitly set the `?keys=` parameter with two values, the app fills the remaining 2 with some random key.

If I set four keys values using the `__none__` keyword (as if I would have selected `none` in the key combobox), it is not taken into account.

Ideally, I wish the number histograms

[2018-01-17 14:05] chutten commented on #374
The magic number 4 is baked into [new-pipeline/src/dist.js](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/dist.js) in several places. It might be a not-insignificant amount of work to extricate the code from its grip.

You're welcome to try, and I'll help you as best I can... but it may be more productive if you told me what your use case was. I might be able to sug

[2018-01-17 15:40] leplatrem commented on #374
Thanks for your feedback!

Our usecase is simple: show the user the categorical histograms for 6-8 different keys. In our UI we could put a link to the telemetry dashboard for individual histograms in front of each key, or just have a single link somewhere on top that leads to a dashboard that contains all 6 of them.

Using the pointers you gave us in https://github.com/leplatrem/aboutremotesettin

[2018-01-18 10:00] leplatrem opened #376 "wrapper: categorical histogram labels are "NaN""
![screenshot from 2018-01-18 10-59-11](https://user-images.githubusercontent.com/546692/35092104-a866b774-fc3e-11e7-9873-b833418c5695.png)

See https://codepen.io/anon/pen/LeXOyb

[2018-01-18 10:09] leplatrem commented on #376
Some `else if categorical` missing here ?

https://github.com/mozilla/telemetry-dashboard/blob/aab8725f543581b90b41e89a8fa589b807fe82e3/wrapper/telemetry-wrapper.js#L512-L513

[2018-01-18 15:46] chutten commented on #374
We'll keep this open, but at a low priority. We're looking at TMO improvements this year, so we should keep this use case in mind while we design.

[2018-01-18 15:47] chutten commented on #376
Almost certainly. Wrapper pre-dates categorical histograms.

[2018-01-18 16:10] chutten opened #378 "`TypeError: histogramsList[0] is undefined` seen on some loads"
There appears to be a bug introduced by #360 where code expecting a list of histograms is reacting poorly when we give it a list of 0 length (specifically https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/dist.js#L941)

The `else` should probably be checking that histogramsList is at least 1 in length. Further investigation is necessary.

[2018-01-18 18:42] himanish-star commented on #255
@chutten , Can I work on this issue once #375 gets merged ? Or can I start my work simultaneously

[2018-01-18 18:55] chutten commented on #255
You can work on this simultaneously, if you'd like! Just be sure to keep it on its own branch and rebase it when #375 is merged.

[2018-01-18 18:57] #259 closed

[2018-01-19 01:42] himanish-star commented on #255
@chutten , yeah sure. Thanks

[2018-01-19 19:18] georgf commented on #378
I seem to trigger this 100% from [this URL](https://telemetry.mozilla.org/new-pipeline/dist.html#!max_channel_version=beta%252F58&min_channel_version=beta%252F58&measure=A11Y_TREE_UPDATE_TIMING_MS&product=Firefox).

[2018-01-20 13:45] georgf opened #382 "Broken dashboard entry "SCALARS_49" etc."
I see some odd entries of the form "SCALARS_<number>" like [SCALARS_49](https://mzl.la/2mUAhKZ).
Trying to select them results in errors like:

[2018-01-20 13:58] georgf commented on #382
More noise:
- [SCALARS_BRNWSER.ENGAGEMENT.ACTIVE_TICKS](https://mzl.la/2mUNH9D).
- SCALARS_BROWSER.SESSHON.RESTORE.BROWSER_TABS_RESTOREBUTTON
- SCALARS_BROWSGR.SESSION.RESTORE.BROWSER_TABS_RESTOREBUTTON
- ... more?

[2018-01-20 14:03] #358 closed, assigned to nobody

[2018-01-20 14:08] georgf commented on #350
We can directly link for histograms & scalars, using: `detailView=<type>/<name`.
For a histogram like [GC_MS](https://mzl.la/2mSkwEn) this is `detailView=histogram%2FGC_MS`.
For e.g. a scalar like [this](https://mzl.la/2mSjOqH) this is `detailView=scalar%2Fbrowser.engagement.max_concurrent_tab_count`.

`SIMPLE_MEASURES` / data from `simpleMeasurements` is not covered yet, we should just avoid link

[2018-01-20 14:17] georgf opened #383 "Limit the visible length of the probe descriptions"
The probe descriptions can have arbitrary length.
We should hide them after a certain length (one line on reasonable window widths?).
We can consider making them expand on user actions.

[2018-01-22 16:40] chutten commented on #378
Ah, that is because A11Y_TREE_UPDATE_TIMING_MS doesn't exist in beta 58.

Now at least the URL loads, but... Hm. It's still not ideal until you reload it a second time.

[2018-01-22 16:41] chutten commented on #378
@o0Ignition0o Going to the url linked by georgf results in an unusable display. Maybe because of the .empty() ?

Maybe your code could skip the empty+rebuild entirely by turning the `else` into an `else if (histogramsList.length) {`

[2018-01-22 16:43] chutten commented on #382
@fbertsch Are those actually in the db?

[2018-01-22 17:28] o0Ignition0o commented on #378
It is pretty weird indeed, I've been able to reproduce it, and I'll land a followup pr :)

[2018-01-23 17:47] fbertsch commented on #382
Yes, they are, unfortunately. What happened is this: Histograms all of their buckets for the db, so we use the `Histogram` class to retrieve it [0]. We don't need to do this for scalars or simple_measures, since they already contain the entirety of their information.

Using the `Histogram` class has the added benefit - or detrimental effect - of only including histograms that are in the current `h

[2018-01-24 09:46] shikhar-scs commented on #383
@georgf If you could be more clear on what `probe description` actually is, I might be able to help

[2018-01-24 15:00] georgf commented on #350
Fixed by #384.

[2018-01-24 15:00] #350 closed, assigned to georgf

[2018-01-24 17:00] chutten opened #390 "Update telemetry-wrapper's documentation to recommend using the minified MG"
telemetry-wrapper's docs recommend the use of `metricsgraphics.js` when we also have a much smaller and faster-to-parse `metricsgraphics.min.js`

We should update the docs to recommend it instead.

[2018-01-24 17:47] himanish-star commented on #390
@chutten, I have the changes ready. Can I file a PR ?

[2018-01-24 18:04] chutten commented on #390
By all means, go ahead.

[2018-01-24 18:06] himanish-star commented on #390
Thanks, I have filed a PR

[2018-01-24 18:07] #390 closed, assigned to nobody

[2018-01-24 18:53] robhudson opened #392 "Consider a build/deploy step for optimization of front-end"
The follow are some ideas around optimizing the front-end, all of which depend on a custom build and deploy steps.

If we had a script to build the front-end assets (HTML, JS, CSS) would enable us to:
* Use something like webpack to minify and bundle JS / CSS so reduce file size and reduce requests for gathering assets.
* HTML files could use templates (like jinja2) to share common patterns across

[2018-01-24 19:00] chutten commented on #392
Our current deploy script is, per [:whd](https://bugzilla.mozilla.org/show_bug.cgi?id=1293750#c18), a cronjob on ops jenkins infra that runs something along the lines of

`aws s3 sync ./ s3://telemetry-mozilla-org/ --exclude '.git*' --delete`

in the context of the gh-pages branch of telemetry-dashboard.

Adding a `./pack.sh &&` in the front of it might be an acceptable addition. Though I don't kn

[2018-01-25 05:47] himanish-star commented on #254
@chutten , Can I take over this issue along with my work in PR #381

[2018-01-25 14:25] chutten commented on #254
Sure! You may wish to ask fbertsch for steps to reproduce his issue.

[2018-01-26 13:23] himanish-star commented on #254
Thanks for assigning this to me

[2018-01-26 13:30] himanish-star commented on #254
@fbertsch , could you please explain the steps to reproduce this issue.

[2018-01-26 16:46] #378 closed, assigned to chutten

[2018-01-26 17:25] shikhar-scs commented on #383
@georgf  @chutten

[2018-01-26 20:53] georgf commented on #392
It would be valuable to have deploy/packing steps easily reproducible.
I would want to just run this locally or on a test branch instead of testing results of changes on production.

[2018-01-30 00:31] georgf commented on #383
Sorry for the delay @shikhar-scs .
If you look at [the dashboard for webrtc.nicer.stun_retransmits](https://mzl.la/2njRVJ0), the description can be rather long (see below).

We should limit the description length to 1-2 lines, with e.g. a "..." or fadeout as an overflow indicator.

We can either make it expandable to full length or just let users follow the "more details" link for now.

![long-des

[2018-01-30 02:06] shikhar-scs commented on #383
oh, I got your point. I'll start working on this :+1:

[2018-01-31 05:35] himanish-star commented on #254
@fbertsch, Please explain the steps to reproduce this issue

[2018-01-31 15:59] chutten commented on #254
I feel it pertinent to mention that @fbertsch is away from work this week. He'll not be able to get to this until Monday at the soonest.

[2018-01-31 16:39] himanish-star commented on #254
Ok, no problem I'll wait

[2018-02-05 16:19] #376 closed, assigned to nobody

[2018-02-12 21:13] georgf opened #394 "Link to data collective from landing page"
This should go to [here](https://www.mozdatacollective.com/).
We still need a descriptive sentence for it.

[2018-02-13 16:54] mreid-moz opened #395 "Permalinks on Evolution dashboard do not retain selected aggregates for categorical histogram"
STR:
1. visit [this permalink](https://mzl.la/2EWOIGN)
2. un-select "eOK" key and instead select "eTooLate"
3. generate a new permalink
4. load the new permalink
5. Observe selected keys (it reverts to "eOK" for me).

[2018-02-13 17:02] chutten commented on #395
Probably fallout from #377 where I reworked how we load and change measures in the evo dashboard.

[2018-02-20 21:01] #394 closed, assigned to robhudson

[2018-02-21 14:00] georgf opened #398 "Consider renaming Aurora channel to DevEdition"

[2018-02-21 14:27] chutten commented on #398
The channel names come from the aggregate service. I have filed [bug 1439919](https://bugzilla.mozilla.org/show_bug.cgi?id=1439919) to track discussion and work.

[2018-02-21 14:27] #398 closed, assigned to nobody

[2018-02-21 16:51] georgf opened #399 "Remove release data from measurements dashboard"
Looking at [release probes](https://mzl.la/2CaAT9i) now is confusing.
Where are we with the release data now?
Can we make the status more clear to users?

Options i can think of:
- We could remove release completely from the dashboard UI.
- Show a message when selecting release (awkward?)

[2018-02-21 16:53] georgf opened #400 "Rename Aurora channel to DevEdition in the front-end"
We still show aurora in multiple places.
My understanding is that this is the DevEdition data. Is that correct?

If yes, can we rename this in the UI to be "DevEdition" or similar, to make it clear to users?

[2018-02-21 19:42] robhudson opened #401 "Replace protocol-less URLs with HTTPS URLs"
Currently when loading an HTML file from the repo locally using `file://`, the URLs referenced that use a protocol-less format do not work as the resources come from the internet.

I propose that we replace these with full URLs with the `https://` protocol so these work both locally (via `file://` loading) and on TMO (which uses HTTPS).

[2018-02-21 20:00] chutten commented on #400
Is this a dupe of #398, @georgf ?

[2018-02-21 20:03] chutten commented on #399
This may or may not be covered by https://bugzilla.mozilla.org/show_bug.cgi?id=1411303

[2018-02-21 20:45] chutten commented on #401
Oh, the CDN-sourced ones that are written as `//`? Seems valid.

[2018-02-22 12:00] georgf commented on #400
Yes, somehow this was double-posted.
chutten said on #398:

[2018-02-22 14:55] #401 closed, assigned to nobody

[2018-02-23 15:04] ab0092 commented on #395
@chutten i have gone through the issue and i think the selected aggregate type is not part of the url which is used to restore state of the page. Is it something you are working on or shall i work on this issue

[2018-02-25 12:35] o0Ignition0o commented on #395
It seems like the aggregates are part of the url, eg : "http://0.0.0.0:8000/new-pipeline/evo.html#!aggregates=0!4" but they don't get parsed the right way.

I also don't get what's going on [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/dashboards.js#L229), it seems like the aggregates key have nothing to do with the applicable values.

This is pretty weird in

[2018-02-26 07:18] o0Ignition0o opened #404 "First Click on the aggregates selector on Evolution dashboard sometimes does not select anything"
This might be related to #395

STR:
    visit [this permalink](https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=0&cumulative=0&end_date=2018-01-08&keys=!__none__!__none__&max_channel_version=beta%252F58&measure=TELEMETRY_SEND_FAILURE_TYPE&min_channel_version=beta%252F53&processType=*&product=Firefox&sanitize=1&sort_keys=submissions&start_date=2017-11-15&trim=1&use_submission_date=0)

[2018-02-26 12:20] Sylvia23 commented on #404
Hi there, I'm interested in working on this issue.
I also tried to tick the checkbox, but it got discarded on the first click.
I would like to start fixing this.

[2018-02-26 13:53] georgf opened #405 "Add space between "Amplitude" and lock icon on landing page"
On `/index.html`, we're missing a space before the lock icon for the link to Amplitude.

[2018-02-26 13:58] Sylvia23 commented on #405
I will start working on this. Looking forward to my contribution. Thank you so much!

[2018-02-26 14:03] o0Ignition0o commented on #404
Hi and welcome,
Thank's a lot for taking the time to have a look at this.
If you run into any trouble or have any question, please let me know :)

[2018-02-26 14:05] Sylvia23 commented on #405
@georgf , I think space should be added before the lock icon for "Mozilla Data Collective" as I can see on the webpage.

[2018-02-26 14:06] chutten commented on #395
Oh geez, the aggregates are saved to the URL using their index? That's... probably "mostly fine" but certainly isn't parsed that way.

[2018-02-26 14:07] georgf opened #406 "Use different styles for measure heading if description is available"
Comparing [a probe without description](https://mzl.la/2FxhYUN) and [a probe with description](https://mzl.la/2FwPive), you'll notice that one has a heading with the probe name, the other has a description.

What we should have instead is:
- always show the probe name with a "heading" style
- if there is a description, show a text section with it with a normal/regular font style

[2018-02-26 14:10] georgf commented on #405
Yes, good catch!

[2018-02-26 15:26] Sylvia23 commented on #405
@georgf , The bug has been fixed. I got to know when I was just about to submit the PR. But I don't know how. See here, [https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/index.html#123](url)

[2018-02-26 15:27] Shruti9520 commented on #406
Hi @georgf
Can I work on this issue? :)

Thanks.

[2018-02-26 15:31] Sylvia23 commented on #404
Hi @o0Ignition0o ,
Has there been a decision on what exactly is to be implemented for it? Any advice on where and how to get started with the implementation is also most welcome!

[2018-02-26 15:39] Sylvia23 commented on #399
Hi there,
 I would like to work for this.

[2018-02-26 15:52] georgf commented on #383
This issue is free to work on by somebody else.

[2018-02-26 15:58] georgf commented on #406
Sure, welcome!
Do you want to start digging into the code by yourself or would you like some pointers?

[2018-02-26 16:01] o0Ignition0o commented on #404
I think that [right here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/evo.js#L262) is the code that is run when the aggregates get changed.

What I would first do is [set a breakpoint](https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Set_a_breakpoint) on this file and click on the link, to see what happens.

Do you see anything weird?
Is there anythi

[2018-02-26 16:02] Sylvia23 commented on #383
Hi, I would like to start on this. Any advice on where and how to get started with the implementation is also most welcome!

[2018-02-26 16:05] georgf commented on #383
There is some prior art and conversation in the PR #393. Does that help?

[2018-02-26 16:14] Shruti9520 commented on #406
I started looking into codebase. Some pointers would be appreciated. :)

[2018-02-26 16:19] fbertsch commented on #254
Well I can't seem to reproduce this in any way, shape, or form. We'll close it unless someone runs in to it again.

[2018-02-26 16:19] #254 closed

[2018-02-26 16:51] georgf commented on #405
It turns out this was fixed with amazing timing by #403 as seen [here](https://github.com/mozilla/telemetry-dashboard/commit/0aede5a3ba2127a4e4982d9c10a7928f706ae563#diff-eacf331f0ffc35d4b482f1d15a887d3b).
I'll close this issue :)

[2018-02-26 16:51] #405 closed, assigned to nobody

[2018-02-26 16:54] georgf opened #407 "Move landing page column with twitter feed to the right"
On the [landing page](https://telemetry.mozilla.org/), the middle column contains a twitter feed.
User feedback tells us that a) this is not useful to most and b) that they tend to miss the other tools in the right-most column.

In `/index.html`, we should move the twitter column to the right, after the column that contains "getting help" and "other tools".

[2018-02-26 17:00] georgf commented on #400
The backend work in the filed bug might take a little.
In the mean-time, we can rename "aurora" to "dev edition" in the front-end, like the [dropdown here](https://screenshots.firefox.com/zEtLo4J097y0kJ6n/telemetry.mozilla.org).

This potentially affects evo.html, evo.js, dist.html, dist.js & dashboards.js in `/new-pipeline`.

[2018-02-26 17:06] georgf opened #408 "Hide release channel data from publish dashboard"
We are working on not showing data from Firefox release in the backend, but this might take a little.
In the mean-time, we can stop showing "release" in the front-end, like the [dropdown here](https://screenshots.firefox.com/zEtLo4J097y0kJ6n/telemetry.mozilla.org).

This potentially affects evo.html, evo.js, dist.html, dist.js & dashboards.js in `/new-pipeline`.

chutten would probably know more a

[2018-02-26 17:19] georgf opened #409 "Show the distribution and evolution views as tabs in dashboard"
Currently it's not easy to see that we have two different dashboard views: a distribution view and an evolution view.
Effectively both views are very similar and behave like different view modes in a single dashboard.

We should more clearly highlight these and how to switch between them, probably using a "tab" metaphor in the UI. I did a simple mockup (note the removed button in the top bar and t

[2018-02-26 17:20] georgf commented on #409
@chutten First mockup above, how is that?

[2018-02-26 17:56] georgf opened #411 "Remove e10s setting from telemetry dashboards"
e10s (using multiple processes) is the standard in Firefox now, so it's not useful anymore to break this out anymore in the dashboard.
We should remove this from the front-end:
![e10s](https://user-images.githubusercontent.com/407696/36686376-84047608-1b26-11e8-8507-cf6ba679fc7c.png)

This potentially affects evo.html, evo.js, dist.html, dist.js & dashboards.js in `/new-pipeline`.

[2018-02-26 17:59] georgf opened #412 "Remove release warning message from dashboards"
After #399 is fixed, we can remove the top-level warning message about release data:
![message](https://user-images.githubusercontent.com/407696/36686528-00369e68-1b27-11e8-8af6-7e9065640887.png)

[2018-02-26 17:59] georgf commented on #412
This probably affects evo.html and dist.html in `/new-pipeline`.

[2018-02-26 18:52] ecomerford commented on #408
Hey @georgf! I would love to work on this issue if no one else has started working on it yet!

I'll happily accept advice on where to begin. @chutten seems like you're the one to ask?

Thank you both!

[2018-02-26 19:04] Sylvia23 commented on #407
Hi @georgf , Can you please review the PR. Thanks!

[2018-02-26 19:10] georgf commented on #408
Welcome, please go ahead!
I'll leave it to chutten to fill in some details.

[2018-02-26 19:18] georgf commented on #407
Fixed by #410.

[2018-02-26 19:18] #407 closed, assigned to nobody

[2018-02-26 19:28] georgf opened #414 "Show only one link to measurement dashboard on landing page"
Currently we show two links to basically the same dashboard on the landing page: "measurement dashboard" and "evolution dashboard".
After #409 is fixed, we can:
- remove the "evolution dashboard" link
- change the text to something like "View measure distributions and evolutions over time."

[2018-02-26 19:31] Sylvia23 commented on #409
Hi @georgf @chutten  ,I would like to work on this. Any advice on where and how to get started with the implementation will be helpful.
The idea of putting TABS sounds really good.
Thanks!

[2018-02-26 20:39] chutten commented on #399
@Sylvia23 Great, please go ahead!

What needs to be done is to prevent any "release" channel+version combinations from appearing in the multiselect on the Measurement and Evolution dashboard pages. These views have never been particularly useful (the data came from a self-selected sub-population) and since release 58 anyone claiming they're sending data from that release is likely lying :)

(( For

[2018-02-26 20:42] chutten commented on #412
This task is to just undo the work I did in #341 (reworded in #343), commenting out the two notices so they no longer display.

[2018-02-26 21:04] chutten commented on #408
Uh oh, it appears as though this was double-posted. I think the original is #399

[2018-02-26 21:05] chutten commented on #408
@georgf ^^

[2018-02-26 21:06] chutten commented on #414
The phrasing will need some iteration. "View" and "measure" can both be verbs, so it reads a little awkwardly.

[2018-02-26 21:08] chutten commented on #409
@georgf mockup looks good. On the evolution view, is it also the first tab, or do the tab positions remain static?

[2018-02-26 21:28] ecomerford commented on #408
Oops! Okay, I'll keep looking around for something to work on. Thanks!

[2018-02-26 21:49] Sylvia23 commented on #411
Hi @chutten , Can you please review the new PR on this issue. Thanks!

[2018-02-26 21:52] chutten commented on #411
I don't see a new PR. It might be best to (force-)push to the old PR, so we keep the context together.

[2018-02-26 22:08] Sylvia23 commented on #411
Ohh. Okay @chutten
I will push again.

[2018-02-26 22:44] Sylvia23 commented on #411
Hi @chutten ,  #413
 Can you view this PR ?

[2018-02-26 23:08] Sylvia23 commented on #412
#417 Please review this. Thanks !

[2018-02-26 23:20] Sylvia23 commented on #399
@chutten , so basically I have to remove the "release" channel from the UI. In both Measurement and Evolution Dashboard, "release" could be seen in the dropdown menu.
I am looking into the codebase (mainly dist.js, evo.js and dashboard.js) to implement this as it seems to require in-depth knowledge of working of code.
Any advice on where and how to get started with the implementation is also most

[2018-02-26 23:33] Sylvia23 commented on #383
@georgf, the feature has been already implemented using JS, but you want it using CSS. Right?
Is this the issue? If I am getting it wrong please correct me.
Thanks!

[2018-02-26 23:46] Sylvia23 commented on #404
@o0Ignition0o , Thanks for the explanation.
I am thinking of the steps which can be used to identify the cause and fix the bug.
I will let you know if I am stuck somewhere.
Thanks!

[2018-02-27 00:57] ecomerford commented on #258
Does this issue still need to be resolved? I'f so, I'm happy to work on it!

I'd appreciate any tips on where to start. Thank you!

[2018-02-27 11:24] Sylvia23 commented on #383
@georgf , I have implemented it. Can you please have a look at the screenshot .
Thanks!
![screenshot from 2018-02-27 16-47-34](https://user-images.githubusercontent.com/23060217/36725890-cb1f4a4c-1bdd-11e8-8f04-83920b2a0e06.png)

CSS for this is like :
`#dist-caption, #measure-description {
  margin-left: 2em;
  white-space: nowrap;
  width : 55em;
  overflow: hidden;
  text-overflow: ellipsis;

[2018-02-27 14:57] georgf commented on #408
Sorry, that was my bad!

[2018-02-27 14:57] #408 closed, assigned to nobody

[2018-02-27 15:04] georgf commented on #406
#393 and #383 touch the same dashboard area, so this will potentially affect dashboards.css, dist.html, evo.html, evo.js, dist.js in `/new-pipeline`.
In Firefox, using right-click and "inspect element" should get started with where this is used in HTML.

[2018-02-27 15:09] georgf commented on #383
This looks like the right visual approach to me!
Some quick notes:
- The border and background color are just to highlight this for the screenshot?
- I'm not seeing the "More details" link in the screen shot.

[2018-02-27 15:13] georgf commented on #412
We'll need to fix #399 first before we can merge this, otherwise we'll have incomplete release data in the dashboard without any explanation.

[2018-02-27 15:15] Sylvia23 commented on #383
- Yes, the color and border is just to highlight the feature. I will remove it now.

- "More details" link is there. The screenshot contained just the CSS part for an example of a long caption. Please have a look at the screenshot attached.

![screenshot from 2018-02-27 20-44-40](https://user-images.githubusercontent.com/23060217/36736594-0ada9800-1bff-11e8-96a9-ab8cd5925a21.png)

[2018-02-27 15:18] georgf commented on #409
We should have the tab positions the same on distribution and evolution view, otherwise it doesn't appear like one dashboard.

[2018-02-27 16:10] Sylvia23 commented on #383
@georgf , Finally, UI looks like this for long captions :

![screenshot from 2018-02-27 21-40-26](https://user-images.githubusercontent.com/23060217/36739770-c2d7d632-1c06-11e8-96cf-cf7cc711f7ef.png)

[2018-02-27 17:55] chutten commented on #399
@Sylvia23 The method for generating the options in the channel+version dropdown is `getHumanReadableOptions` when called with the `channelVersion` argument (as is done in evo.js around line 42). If you forbid that method from returning anything with "release" in it, I think that would be a useful starting place.

[2018-02-27 19:23] Sylvia23 commented on #399
Hi @chutten, I have successfully removed the "release" channel and its versions from the drop-down menu of both Measurement and Evolution Dashboard.
Thanks for the guidance.
Can you please review the PR.

[2018-02-27 20:47] chutten commented on #258
This issue does still need to be resolved, but it isn't really a good place to get started in the repository.

If you'd like to press on anyway, if you look at a probe with a very small number of samples (like say, [this one](https://mzl.la/2F026x2)) it shows no data. Item 2 on the suggestions says to turn off "sanitize data" and maybe that would help. The idea would be to automatically turn off "

[2018-02-27 21:04] Sylvia23 commented on #400
@georgf , In this issue, what is the exact word/phrase that should be put in place of "aurora"?
Is it "dev edition" or "DevEdition" or something else?

[2018-02-27 21:21] ecomerford commented on #258
Got it, thanks! It looks as though someone else is interested in #400, but I'll keep looking around if you think this is going to be too involved.

[2018-02-28 07:51] hritvi commented on #233
Hey! @chutten. I would like to work on this. Any advice on where and how to get started with the implementation will be helpful.

[2018-02-28 13:16] chutten commented on #233
@hritvi Certainly. The aseert is now [over here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L480) and is incorrect. We can occasionally see blank responses from response code 500. We shouldn't assert in those cases, as they are expected if the server is temporarily overloaded.

Does that help?

[2018-02-28 13:45] georgf commented on #414
Erin will work on this, we can merge it after #409 was fixed.

[2018-02-28 14:56] ecomerford commented on #414
@georgf Working on this now! I'm trying to push up my branch but am getting a 403 error:

"remote: Permission to mozilla/telemetry-dashboard.git denied to ecomerford.
fatal: unable to access 'https://github.com/mozilla/telemetry-dashboard.git/': The requested URL returned error: 403"

Do I need my permissions updated to push? Thanks!

[2018-02-28 15:22] georgf commented on #414
Push access to the repository is limited to specific people.
The GitHub workflow usually is to:
- Fork the repository into your account and work on that.
- Once you're happy with the changes, push them to your fork.
- Then open a pull request, asking for review and for the changes to be pulled into this (main) repository.
[This guide](https://help.github.com/articles/fork-a-repo/#propose-changes-t

[2018-02-28 15:37] georgf commented on #409
It looks like Chauhan started working on this in #415.

[2018-02-28 16:30] ecomerford commented on #414
Got it, thank you!

[2018-02-28 17:40] #399 closed, assigned to nobody

[2018-02-28 18:36] georgf opened #422 "Short link button is broken"
I noticed that the short url button (top right corner) is broken in both the distribution and the evolution view. This is on the current gh-pages branch, it may not have made it through CDN yet for everyone.

Clicking it results in an error logged:

[2018-02-28 18:45] chutten commented on #422
Works for me. http://mozilla.github.io/telemetry-dashboard/new-pipeline/dist.html#!cumulative=0&end_date=2018-02-27&keys=__none__!__none__!__none__&max_channel_version=nightly%252F60&measure=GC_MS&min_channel_version=null&processType=*&product=Firefox&sanitize=1&sort_keys=submissions&start_date=2018-01-22&table=0&trim=1&use_submission_date=0 shortens to https://bit.ly/2GQHCDx

[2018-02-28 18:50] georgf commented on #422
This is an issue limited to local testing.
When running this on localhost, the short url request is not successful and we don't handle this gracefully.

Closing, given that this only an issue locally.

[2018-02-28 18:50] #422 closed, assigned to nobody

[2018-02-28 18:52] #412 closed, assigned to nobody

[2018-02-28 19:08] georgf opened #423 "Move short link button to a more discoverable location"
The short link button in the top right corner is hard to discover for people.
This probably affects `dist.html` and `evo.html` in `/new-pipeline`.

We would like to try to move it elsewhere and see if that improves discoverability.

![screen shot 2018-02-28 at 14 38 41](https://user-images.githubusercontent.com/407696/36807389-240f1bf6-1cc3-11e8-822e-064bc8ff1ac5.png)

[2018-02-28 19:09] georgf commented on #423
Erin is looking into this.

[2018-02-28 19:13] georgf commented on #414
Fixed by #421, thanks!

[2018-02-28 19:13] #414 closed, assigned to ecomerford

[2018-02-28 19:52] Shruti9520 commented on #406
@georgf Thanks for the help.
I have a doubt. I am sorry if I sound stupid.
When I run - `python -m http.server`, it gives me an error  "No module named http". So, I tried running ` python -m SimpleHTTPServer 8000`. But this doesn't help. Will you mind telling me the exact problem?

Thanks

[2018-02-28 20:45] Shruti9520 commented on #406
@georgf I tried running a remote webserver using `YOUR_USERNAME.github.io/telemetry-dashboard` after pushing changes to gh-pages branch. So it looks like this-
![mozilla_pr](https://user-images.githubusercontent.com/20228417/36812219-6adf465e-1cf6-11e8-8744-a52e5be44239.png)

Is that Okay?

[2018-03-01 05:08] ecomerford commented on #423
@georgf @chutten I made a pull request for a simple update that moves the generator to the beginning of the button row.

I wanted to give it a name to draw more attention to it, but I can't figure out a good way to do so. I tried turning it into a button but that became an awkward button inside of a button. Plus, the generator made it larger than the other buttons in its row. I can't seem to find

[2018-03-01 11:21] georgf commented on #406
Personally, for local testing i just:
- change my working directory to be inside the telemetry-dashboard directory
- `python -m SimpleHTTPServer 8000`
- in Firefox, navigate to `localhost:8000` or e.g. `localhost:8000/new-pipeline/dist.html`

Does that work for you? Do you run into any specific errors?

[2018-03-01 11:25] georgf commented on #406
The screenshot looks like a great start!
The description text could use a smaller font size, probably just using the regular text size used elsewhere should be fine.

[2018-03-01 11:33] georgf commented on #400
Sorry, i missed that. Given that the current names in that selection are all lower-case, i think "dev edition" should be good for now.

[2018-03-01 11:52] hritvi commented on #233
Hii @chutten. Do i need to add the assert for all the response codes? or should i remove that assert
 I am sorry if I sound stupid.

[2018-03-01 11:57] georgf commented on #423
I'll follow up on the button specifics in #424.

[2018-03-01 12:20] Sylvia23 commented on #400
@georgf , Should I commit the changes or the issue has been solved? I have changed the name to "dev edition". I was working on it. Thanks!

[2018-03-01 12:46] Sylvia23 commented on #400
@georgf , The results can not be seen in the frontend. This maybe due to some backend issues that you were talking about.
Please have a look. Thanks!

[2018-03-01 14:25] chutten commented on #233
No worries, the issue isn't clear. We should allow responses with either a 404 or 500 response code to have empty responses without asserting.

All other response codes ought to have non-empty responses, so asserting on them is fine.

[2018-03-01 17:19] georgf opened #426 "Add icons for each section on landing page"
To aid visually guided people, we should add an icon to each main section on [the landing page](https://mozilla.github.io/telemetry-dashboard/):

<img width="400" alt="screen shot 2018-03-01 at 18 14 53" src="https://user-images.githubusercontent.com/407696/36858895-0d6cecd8-1d7d-11e8-9a91-b7c07e7ed2e1.png">

[2018-03-01 17:20] georgf commented on #426
Shreya will probably work on this.

[2018-03-01 17:24] georgf commented on #426
This will involve changing `/index.html`.
I propose we use font-awesome icons for this:
- ["chart-bar"](https://fontawesome.com/icons/chart-bar?style=solid) for main tools
- ["book"](https://fontawesome.com/icons/book?style=solid) for documentation
- ["question-circle"](https://fontawesome.com/icons/question-circle?style=solid) for "getting help"
- ["wrench"](https://fontawesome.com/icons/wrench?s

[2018-03-01 17:33] georgf commented on #400
Hi @Sylvia23, i don't see any changes to this [in the front-end](https://bit.ly/2ozVVpx). Or am i misunderstanding you?
The next step is for us to review your PR in #425.

[2018-03-01 17:46] shreya99oak commented on #426
Yes, sure!

[2018-03-01 17:51] Sylvia23 commented on #400
@georgf , Does backend control the display of name "aurora" in the UI ? Sometimes it happens that backend control the display. I misunderstood that you were saying backend has some bugs due to which we can't the change the name in the UI.
If It is not the case, then I will look into the codebase again to fix this issue and report ASAP.
Also, I am unable to open the link "in the front-end" in your

[2018-03-01 17:56] georgf commented on #400
I commented over on #425, but to clear this up:
- the backend currently returns data that contains "aurora", "aurora/59", etc.
- in the front-end, we can map this to something nicer, to show to the user, that's what `getHumanReadableOptions()` does.
- so, in the front-end we want to rename "aurora" to "dev edition" to be more user-friendly.

[2018-03-01 17:58] #411 closed, assigned to Sylvia23

[2018-03-01 18:47] Shruti9520 commented on #406
@georgf It works fine. Thanks :)
Looking forward to submitting a PR.

[2018-03-01 18:52] georgf commented on #406
Great, let us know if you need any further help!

[2018-03-01 19:37] Shruti9520 commented on #406
PR- [#427](https://github.com/mozilla/telemetry-dashboard/pull/427)
@georgf Thank you so much :)

[2018-03-01 20:40] Shruti9520 commented on #251
Hi,
Can I work on this issue?

Thanks!

[2018-03-01 21:22] chutten commented on #251
You certainly may. Please let me know if you have any problems.

[2018-03-02 15:00] chutten opened #431 "Replace unused .scrollable-dashboard-list style with just .dashboard-list"
In #344 we made some changes to `style/dashboard.css` for the main portal page at telemetry.mozilla.org

In #403 we then started using `new-pipeline/style/dashboard.css` instead. This lost us a few styles, specifically the ones we redirected from `.scrollable-dashboard-list` to be just `.dashboard-list`

We need to replay #344's `dashboard.css` changes on `new-pipeline/style/dashboard.css` to brin

[2018-03-02 15:02] JQuinnie commented on #431
Hi @chutten ,
I'd like to work on this issue if possible, thanks!

[2018-03-02 16:25] chutten commented on #431
@JQuinnie Please do! Let me know if you have any questions.

[2018-03-04 20:24] JQuinnie commented on #431
Hi @chutten ,

I am comparing the two mentioned files, `style/dashboard.css` and `new-pipeline/style/dashboards.css` and do not see any noticeable visual changes to the main portal page.

on #344 the changes are [here](https://github.com/mozilla/telemetry-dashboard/blob/d0fb38625f1649763ee1b60f73505176353f1dce/style/dashboards.css#L20-L27) and actually mostly reflected on #403 with the removal (re

[2018-03-04 23:22] Sylvia23 commented on #383
@georgf , Can you please review #418 whenever you are free. Thanks!

[2018-03-05 13:21] chutten commented on #431
It's not a large difference, I only noticed because I've used this site for years : )

The borders aren't supposed to surround the list items, they're just supposed to separate them. I've taken a couple of screenshots to illustrate. Here's the way it is now: https://screenshotscdn.firefoxusercontent.com/images/38dbb6a1-0669-469b-8636-5e13a9be6844.png

And here's the way I expect it to be: https://

[2018-03-05 16:32] JQuinnie commented on #431
Sounds good! I have PR #434 ready for review.

[2018-03-05 19:54] Shruti9520 commented on #251
Hi @chutten

I have a doubt. When I am changing the default value of parameters here ( See the image below) -- telemetry-wrapper.js
![issue21](https://user-images.githubusercontent.com/20228417/36996484-f9665464-20dc-11e8-8a48-e3508833c128.png)

I can't see any change here ( see the image below)-->
![issue22](https://user-images.githubusercontent.com/20228417/36996536-170bc3aa-20dd-11e8-8e5a-9abfb

[2018-03-05 20:00] chutten commented on #251
This is because telemetry-wrapper.js is used by the [dashboard generator](https://telemetry.mozilla.org/dashboard-generator/index.html), but not by the dashboards themselves.

(this is, generally, because wrapper is newer than the dashboards.)

[2018-03-05 20:13] Shruti9520 commented on #251
@chutten Thanks for replying. :)
It looks like changing the default assigned values to `boolean` is one of the solutions of this issue. Am I thinking in the right direction?

Thank you!

[2018-03-05 20:19] chutten commented on #251
I think so. The problem almost certainly lies in how JS will coerce values for us in that function.

[2018-03-05 20:23] georgf commented on #383
Hi, i got back from my weekend and looked over it!

[2018-03-05 20:25] Shruti9520 commented on #251
That's great!
Looking forward to submitting a PR.

[2018-03-06 14:51] georgf opened #437 "Add icons for some actions in the telemetry dashboard"
Some actions in dist.html & evo.html could use icons to be easier to notice.
The buttons at the top-right and the "advanced settings" come to my mind.

We include font-awesome 4, so we can use [icons from there](https://fontawesome.com/v4.7.0/icons/).

[2018-03-06 14:51] georgf commented on #437
Carolina will look into this.

[2018-03-06 14:55] paucaro commented on #437
Yes, sure!

[2018-03-06 16:45] georgf commented on #351
We decided to temporarily copy the probe-dictionary into this repository until we figure out submodules.

[2018-03-06 18:09] #351 closed, assigned to georgf

[2018-03-06 18:11] #423 closed, assigned to ecomerford

[2018-03-06 18:13] georgf opened #440 "Use button group for top-right dashboard buttons"
In #424 Erin suggested a nice visual improvement of using a button group for the top right buttons in the measurements dashboard.
We should do that.

[2018-03-06 18:32] georgf opened #441 "The stats button for the probe dictionary is not working"
For the [probe dictionary](https://telemetry.mozilla.org/probe-dictionary/), the "stats" button broke recently.
It does render the stats i expect, but just keeps showing the search results.

This is not a good starting issue, it will require a bit of investigation.

[2018-03-06 19:14] #431 closed, assigned to nobody

[2018-03-07 01:47] shreya99oak commented on #441
Hi, can I work on this?

[2018-03-07 11:03] georgf opened #443 "Add shortlink button to probe dictionary"
To make it easier to pass around links to specific searches in the [probe dictionary](https://telemetry.mozilla.org/probe-dictionary/), we should add a button to get shortlinks.

We can use the [Telemetry dashboard](https://telemetry.mozilla.org/new-pipeline/dist.html) as an example, which has a "permalink" button in the top right. The code that handles it [is here](https://github.com/mozilla/tele

[2018-03-07 11:20] georgf opened #444 "Error showing detail view for use-counters in probe-dictionary"
Opening [this view](https://telemetry.mozilla.org/probe-dictionary/?detailView=histogram%2FUSE_COUNTER2_DATATRANSFER_ADDELEMENT_PAGE) in the probe-dictionary, the view doesn't finish loading.
Looking into the Firefox web console, i see an error:

Using the debugger, we can identify where this error happens and fix it.

[2018-03-07 11:47] Sylvia23 commented on #443
@georgf, I would like to start working on this. Can I proceed ?
Thanks!

[2018-03-07 12:00] georgf commented on #441
Hi Shreya, i think this will require a little prior JavaScript debugging experience.
Does that fit? :)

[2018-03-07 12:22] shreya99oak commented on #441
Oh! then can I work on the bug which requires us to add a shortlink button to the probe dictionary?

[2018-03-07 13:07] georgf commented on #443
Sure, i assigned it to you!

[2018-03-07 13:09] shreya99oak commented on #443
Thanks:)

[2018-03-07 13:09] shreya99oak commented on #443
Sorry wrong post

[2018-03-07 13:15] georgf opened #445 "Improve the probe dictionary C++ guard display"
In the detail view for e.g. the data point [A11Y_CONSUMERS](https://telemetry.mozilla.org/probe-dictionary/?detailView=histogram%2FA11Y_CONSUMERS), we show an empty "C++ guard" field.

We should improve how this is shown by:
- moving the field down (this can be last) (in `probe-dictionary/index.html`)
- showing an italic "*none*" for the value when the field is empty (in `probe-dictionary/explore.

[2018-03-07 13:16] georgf commented on #445
Shreya will probably work on this.

[2018-03-07 13:17] georgf commented on #441
It looks like Sylvia started to work on this.
How about #445?

[2018-03-07 13:29] shreya99oak commented on #445
Okay:)

[2018-03-07 14:07] georgf opened #446 "Make probe dictionary header links more discoverable"
(this comes from mozilla/probe-dictionary#15)

[2018-03-07 15:13] chutten commented on #445
A fun feature that not everyone knows about is the `:empty` CSS pseudo-class. Pair that with `:after` and we might be able to add in the italic "_none_" without any script.

[2018-03-07 16:40] #437 closed, assigned to paucaro

[2018-03-07 16:41] georgf opened #447 "Use checkboxes in dashboards "advanced settings""
The "advanced settings" in the distribution and evolution dashboard should just be checkboxes instead of radio buttons.

This will require a bit of rewording and reordering of elements so that it makes sense.

[2018-03-07 16:42] georgf commented on #447
@PaulaAsto, do you want to work on this?

[2018-03-07 16:43] paucaro commented on #447
Yes, sure :)

[2018-03-07 16:46] shreya99oak commented on #445
so do we want "none" to be displayed only when the c++ guard field is empty or even when any other field is empty?

[2018-03-07 17:27] chutten commented on #445
I say go for whichever solution has an implementation that seems easiest to understand.

[2018-03-07 18:52] georgf commented on #409
There has been no activity for a few days on the pull request, so this is free to work on.

[2018-03-07 19:02] Insiyaa commented on #409
Hey, I'd like to work on this!

[2018-03-07 19:07] georgf commented on #409
Great, let us know if you need any more information.

[2018-03-07 19:13] georgf opened #448 "Make the probe-dictionary search results header sticky"
In the [probe-dictionary search results](https://telemetry.mozilla.org/probe-dictionary/), it would be great if the table header is always in view, no matter where you scroll to.

Chris mentioned that [`position: sticky`](https://developer.mozilla.org/en-US/docs/Web/CSS/position) might help here.

[2018-03-07 19:13] georgf commented on #448
Rose Wan is probably working on this.

[2018-03-07 19:38] JQuinnie commented on #446
hi @georgf, I have the PR open under the [Probe Dictionary Issue #15](https://github.com/mozilla/probe-dictionary/issues/15).

Is there a way to link it here as well, to close out this issue?

[2018-03-07 20:07] shreya99oak commented on #445
made a pull request..the changes look like this..
![c](https://user-images.githubusercontent.com/32118977/37115433-1f8dd8d4-2271-11e8-98ae-5a16748421de.png)

[2018-03-07 20:18] Sylvia23 commented on #443
@georgf , Can you please review the PR #450. Thanks!
The UI now looks like this with the "Get Permalink" button.
![screenshot from 2018-03-08 01-51-35](https://user-images.githubusercontent.com/23060217/37116092-28295692-2273-11e8-8662-38bd8e0ef348.png)

[2018-03-08 00:03] rosexw commented on #448
Thank you, Georg. This is a good first assignment. I'll work on this, after I get my dev environment and web server set up!

[2018-03-08 00:42] rosexw commented on #448
I submitted a pull request for this.

I also added a different pull request to Command Line to use NPM to run the web server.

[2018-03-08 03:12] JQuinnie commented on #446
@georgf Got that PR #453 ready to go with your request of it from the Telemetry site, take a review when free.

[Live site for reference](https://jquinnie.github.io/telemetry-dashboard/probe-dictionary)

[2018-03-08 13:22] hritvi commented on #233
Hey @chutten Was something wrong with my pull request. Please help me in figuring it out. Thanks!

[2018-03-08 13:39] georgf commented on #447
Here is a simple mockup of how this could look for one option:
<img width="574" alt="screen shot 2018-03-08 at 14 36 02" src="https://user-images.githubusercontent.com/407696/37153918-8eab32da-22de-11e8-8e77-222f20238c8a.png">

[2018-03-08 14:00] georgf opened #455 "The dashboard should link to probe-dictionary, not fx-data-explorer"
The "more details" link on the dashboard links to `https://georgf.github.io/fx-data-explorer/...`.
We now moved that project into this repository in #351, so the link should now go to `/probe-dictionary/...`.

[2018-03-08 14:01] georgf commented on #455
This will require changing `dashboards.js`. See the [contribution guide](https://github.com/mozilla/telemetry-dashboard/#contributing-to-the-telemetry-dashboard) for how to get started.

[2018-03-08 14:04] Sylvia23 commented on #455
@georgf, I noticed the same thing yesterday and was about to report. I have looked into it and tried to change.
I replaced the `baseUrl` `https://georgf.github.io/fx-data-explorer/index.html`  with `https://telemetry.mozilla.org/probe-dictionary/` and checked it in my local machine. It's working fine.
But if the domain name of `probe-dictionary` gets changed as there has also been a discussion on

[2018-03-08 15:15] shreya99oak opened #456 "Add a clear top bar to Telemetry Portal"
@georgf  I'll start working on this!
To add-
 A suitable colored top bar which will include the title "Telemetry portal" and "report bug" on the right.

[2018-03-08 17:41] georgf opened #457 "Default dashboard to load data by submission date"
The current default is to see data by build id.
A default of submission date might make more sense. We can try setting this by default and see if that changes usage or if we hear feedback.

[2018-03-08 17:41] georgf commented on #457
@chutten, @fbertsch, what do you think?

[2018-03-08 18:11] chutten commented on #457
If it's Distribution-view-only, then this default makes a lot of sense. From user surveys, frank's aggregates.tmo analysis, and my own experience users don't tend to change the date range in the Advanced Settings. So `build_id` or `submission_date` won't matter, users view the aggregate of all the available dates for a given channel+version. So let's just go ahead and do it, since `submission_date

[2018-03-08 19:04] georgf opened #458 "Only show URL params that have non-default values"
We store a lot of values in the URL params. We could greatly shorten the links if we only use params for non-default values.

[2018-03-08 19:04] georgf commented on #458
Shruti9520 wanted to work on this.

[2018-03-08 19:27] chutten commented on #233
@hritvi Everything's fine with your pull request, I merged it. It's live!

The PR didn't say "fixes #233"  in it, so this issue didn't get automatically closed. But I can do that right now : )

[2018-03-08 19:27] #233 closed

[2018-03-08 19:51] chutten opened #459 "Stats tab doesn't display if channel is set to "any""
If the channel is set to "any", the stats tab won't load properly due and will log

[code]

This is because `gChannelInfo.any.versions` is empty, which appears to be because `extractChannelInfos` doesn't put any version information in.

We should handle this somehow... but I'm not sure how. @georgf, do you have an idea about how this could be fixed ideally?

[2018-03-08 21:24] buttercookie42 opened #460 "Boolean aggregates cannot be deselected in select box drop down"
I'm looking at https://telemetry.mozilla.org/new-pipeline/evo.html#!aggregates=bucket-0!bucket-1&cumulative=0&end_date=2018-03-07&keys=!__none__!__none__&max_channel_version=beta%252F59&measure=FENNEC_SESSIONSTORE_RESTORING_FROM_BACKUP&min_channel_version=beta%252F56&processType=*&product=Fennec&sanitize=1&sort_keys=submissions&start_date=2018-01-23&trim=1&use_submission_date=0 and when I try to d

[2018-03-08 21:29] fbertsch opened #461 "Probe "More Details" link needs to redirect to `telemetry.mozilla.org/probe-dictionary`"

[2018-03-08 21:33] Sylvia23 commented on #461
@fbertsch , This is already opened. Please see #455 .

[2018-03-08 22:12] #455 closed, assigned to nobody

[2018-03-08 22:14] #446 closed, assigned to JQuinnie

[2018-03-08 22:37] JQuinnie opened #463 "Back/Forward breaks if you close details with the 'x'"
STR:

Open a detail view
Click 'x' to close
hit the browser back button.
Basically 'x' needs to pop the history state.

Reference Probe-Dictionary [issue 25](https://github.com/mozilla/probe-dictionary/issues/25)

[2018-03-09 11:47] georgf commented on #441
#459 has better details, so i'm closing this one.

[2018-03-09 11:47] #441 closed, assigned to nobody

[2018-03-09 12:00] georgf commented on #459
So this is the bug that causes #441!
When clicking the stats view button, we start our code path [here](https://github.com/mozilla/telemetry-dashboard/blob/f5441936e43347f743ac86d19f3c803d689bcd11/probe-dictionary/explore.js#L159).
Clicking on the error in the console should take us to where specifically things are going wrong.

The actual problem here might be in `showSearchOnlyFilters()`. When c

[2018-03-09 13:08] #461 closed, assigned to nobody

[2018-03-10 07:59] mindip commented on #444
If no one's working on this, I was planning on checking it out.

[2018-03-10 14:38] georgf commented on #444
Sure Mindi, let us know if you have any questions!

[2018-03-12 02:46] ecomerford commented on #440
Hi @georgf @chutten! Thoughts on these [updates](https://ecomerford.github.io/telemetry-dashboard/new-pipeline/dist.html#) so far?

My main concern now is that the button expands when clicked, which doesn't look great.

I think I would have to dig into the css to change the padding on the input box in order to fix this. Does that sound right? And if so, should I do that?

Thanks! :)

[2018-03-12 07:02] manishakeim commented on #426
Is this issue assigned to anyone ? or Can I claim it ?

[2018-03-12 18:29] georgf commented on #440
Nice, it's working!

Visually, it would be great if the button does not expand vertically.
Right, we could either adjust the CSS or consider adding the input as a separate button to the right, like suggested in #454.

[2018-03-12 18:30] Insiyaa commented on #409
Hello, I previously pushed a solution for this issue but it had merge conflicts as it merged evolution in distribution
Should I go for it? Tabs of evo and dist view will remove the evolution and distribution view buttons?

[2018-03-12 18:44] georgf commented on #426
This was already fixed in #433, we just forgot to close this issue.
If you can't find any other open issues though, let us know, we'll find something!

[2018-03-12 18:44] #426 closed, assigned to nobody

[2018-03-12 18:46] georgf commented on #409
Sure, go for it!
This would replace the evo and dist view buttons and making these views more visible.

[2018-03-12 18:59] ecomerford commented on #440
Oh, I see! For some reason I read all of that as being within the anchor tag, but I understand what you intended now. I'll work on making it appear as a new button when clicked. Thanks!

[2018-03-13 02:12] manishakeim commented on #426
@georgf Can you please help me find one, as I am a beginner I was finding more of 'good first issue' and there are no such issues with these labels left how should I proceed with contributing to this project for Outreachy?

[2018-03-13 15:50] chutten commented on #463
@JQuinnie how are things on this Issue? Anything I can help with?

[2018-03-13 17:19] #383 closed, assigned to Sylvia23

[2018-03-13 17:52] Sylvia23 commented on #459
@chutten @georgf Can I look into this ?

[2018-03-13 18:08] robhudson commented on #460
I've confirmed this appears to only be a problem with Boolean aggregates. Other aggregate types work fine. I'm trying now to determine what's different about the boolean types that break the multiselect box.

[2018-03-13 21:12] JQuinnie commented on #463
Hi @chutten ,

I have a project due so was pretty busy, apologies as I did plan on working on this issue sooner.

I have looked into the flow of the detail view and have noticed;
- User clicks `+` to open detail-view
- User clicks `x` to close detail-view (#close-detail-view)
- function `hideDetailView()` fires
- class of `hidden` is removed from "search-view"
- function `updateSearchParams()` fir

[2018-03-13 22:00] robhudson commented on #460
Chris suggested to test commit a895dd6c and we've determined that this commit causes this issue.

[2018-03-14 13:44] chutten commented on #463
You're definitely in the right part of the code, but I think what we need is a `window.history.popState` when the user clicks the '`x`' to match the `window.history.pushState` that we did when the user clicked the '`+`'

Does a `window.history.popState` in `hideDetailView` get the job done? Does going into a detail view still increase the history length, and does clicking `x` decrement it now? (yo

[2018-03-14 13:49] chutten commented on #459
Please do!

[2018-03-14 16:12] Sylvia23 commented on #459
@chutten, Here, when we click `stats` after checking `any` channel, then what should be displayed?

[2018-03-14 17:42] JQuinnie commented on #463
I am updating function `updateSearchParams(true)` to take a value of `true`, this will call the `window.history.pushState` to register search-view as a state, and when user clicks `x` on detail-view, the search-view will populate.

[Published Site](https://jquinnie.github.io/telemetry-dashboard/probe-dictionary)

Can you check my live site to see if it has the intended effect, prior to PR?

Thanks

[2018-03-14 18:38] georgf opened #469 "Rename "Dashboards Home" to "Telemetry portal""
In `new-pipeline/dist.html` and `evo.html`, we should rename the "Dashboards Home" button to "Telemetry portal".

[2018-03-14 18:39] georgf commented on #469
manishakeim is probably looking into this.

[2018-03-14 18:39] georgf commented on #426
Hi @manishakeim, sure! How about #469?
I should call out that there are active applications already on this Outreachy project, while others are still looking for applications. Maybe take a look on other projects as well :)

[2018-03-14 20:08] chutten commented on #463
That has the unintended effect of putting the detail view open and close into the history. Which might technically fix this bug, now that I'm reading it a different way.

Unfortunately I didn't specify clearly what I wanted at the beginning :S

What I want is for the details view '`x`' to be treated the same as a press of the Back button. I want it to go back one state in the browsing history, not

[2018-03-14 20:13] mindip commented on #444
Hey so I made a pull request (above). It seems like we just needed to initialize an array. Let me know if
 there's more to the problem or if there's a better way to push changes.

Edit: [View (fixed)](https://mindip.github.io/telemetry-dashboard/probe-dictionary/?detailView=histogram%2FUSE_COUNTER2_DATATRANSFER_ADDELEMENT_PAGE)

[2018-03-14 21:04] chutten commented on #459
@Sylvia23 One of:
1) an informative error message, asking the user to select a branch
2) Some default branch's display (say, release's)
3) counts of recorded/new/expired probes in all channels

Ideally, I would prefer 3. But 2 would do as well.

[2018-03-14 21:18] Sylvia23 commented on #459
@chutten , You mean the data of all three channels should be displayed with all the probes.  For this, a total of nine histograms will be shown (three channels with three probes for each). Is this desired?

Alternatively, we can show a default branch's display (say, release's) along with an error message. Does that look good?

Please suggest.

[2018-03-14 23:55] Sylvia23 commented on #459
Though, the implementation of point 2 suggested by you is up in the PR #471 . Can you review if it looks good?
Thanks!

[2018-03-15 03:00] JQuinnie commented on #463
@chutten ok, that makes sense.

I thought of implementing the `hideDetailView()` much like the back button when `x` is clicked.
I tried something like this;

This allows the `x` to act like a browser back button... but I don't think it captures the history length quite like you wanted it, history length didn't change into or out of details-view... but the back/forward buttons work as you expect.

[2018-03-15 03:59] gargshruti30 commented on #469
@georgf Hey I am Shruti. I am first time aspirant of Outreachy and I want to contribute in this project.
Can you tell me some beginner level issues  and why is this issue still open, is there anything left which has to be done ?

[2018-03-15 04:03] gargshruti30 commented on #469
@georgf I got the problem can I work on this issue ?
I am eager to contribute.

[2018-03-15 04:06] gargshruti30 commented on #469
@georgf
I corrected it. Just have a look at it.
![screenshot from 2018-03-15 09-45-53](https://user-images.githubusercontent.com/34654829/37444041-bc83ecd6-2835-11e8-9edf-bff1f3283f70.png)
![screenshot from 2018-03-15 09-46-04](https://user-images.githubusercontent.com/34654829/37444042-bcc0ebc2-2835-11e8-8309-091a4d2c4d0a.png)

[2018-03-15 06:23] kdrosado commented on #400
@georgf, Is this issue resolved and no longer open?

[2018-03-15 06:25] kdrosado commented on #255
@chutten , Is this issue still open?  Has it be assigned? If not, could I work on it?

[2018-03-15 06:29] kdrosado commented on #458
@georgf , @chutten , Has this been assigned?  If not, can I work on it?

[2018-03-15 06:32] kdrosado commented on #456
@georgf , @robhudson , Has #468 been assigned? If not, can I work on it?

[2018-03-15 06:38] Sylvia23 commented on #400
Hi, I am working on it. Thanks!

[2018-03-15 13:19] georgf opened #473 "Error loading probe dictionary"
When opening [this link](https://telemetry.mozilla.org/probe-dictionary/?searchtype=in_name&optout=false&channel=nightly&constraint=is_in&version=any&detailView=histogram%2FUSE_COUNTER2_DEPRECATED_IDBOpenDBOptions_StorageType_PAGE&search=use_counter2_deprecated_idbopendboptions_storagetype_page), it does not load successfully.

The console shows:

[2018-03-15 13:19] georgf commented on #473
This will require a little debugging experience... or willingness to learn it :)

[2018-03-15 13:27] georgf opened #474 "Link to use counter dashboard when displaying USE_COUNTER2_* probes"
*(Based on local user feedback)*

In the measurement dashboard, when showing a probe like [USE_COUNTER2_JS_ASMJS_PAGE](https://mzl.la/2tUm4Ei), we should show a link to the use-counter dashboard.

For all probes whose name starts with `USE_COUNTER2_`, we should link to the right section of the [use counters dashboard](http://georgf.github.io/usecounters/).
For the example here, this would [go here

[2018-03-15 13:28] georgf commented on #474
This would affect `dist.html`, `evo.html` and probably `dashboards.js` in `new-pipeline/`.

[2018-03-15 14:16] georgf commented on #456
Hi, yes, it has been assigned :)
You can tell by either the "assigned" label on the right or if a person is listed under "assignees".

There are more [available issues](https://github.com/mozilla/telemetry-dashboard/labels/mentored). If you can't find any, just let us know!

[2018-03-15 15:02] chutten commented on #459
For 3 I was hoping it would show a combined view. One chart with the sum of all channels being shown.

But 2 works as well. I've reviewed #471 and have some comments.

[2018-03-15 15:03] Insiyaa commented on #473
Hey! I'd like to look into this...

[2018-03-15 15:07] chutten commented on #463
It seems a little slower than before, but the user behaviour's what we want.

The problem becomes when someone links directly to a detail view (like we do from the Measurement dashboards), and then clicks '`x`'. They'll be sent back to the previous page instead of closing the detail view and showing the search.

Now, this might or might not be fixed by replacing back with `window.history.popState`

[2018-03-15 15:13] chutten commented on #255
It isn't assigned, so it's free to be worked on.

However, it's a complicated one. The interaction model among all of the different multiselects and the use of some unmaintained libraries for them made it rather difficult to work with.

You're still welcome to take it on, but it might be better to get used to the codebase before diving into this one. What do you think?

[2018-03-15 15:17] chutten commented on #458
This is currently assigned to @shruti9520. It may have fallen by the wayside, though, so let's check.

@shruti9520, are you still working on this? Do you need help? Would you prefer if @kdrosado started working on it?

[2018-03-15 16:03] gargshruti30 commented on #473
Hey.
I would like to work on this issue..

[2018-03-15 18:04] georgf commented on #473
It looks like this was just fixed by #470, yay.

[2018-03-15 18:04] #473 closed, assigned to nobody

[2018-03-15 23:53] ecomerford commented on #474
@georgf Do you mind if I give this a shot?

[2018-03-16 15:56] chutten commented on #474
By all means, please do! (georgf is on vacation for the next little while, so I'll be pretending to be him in the interim)

[2018-03-16 19:27] #443 closed, assigned to Sylvia23

[2018-03-16 20:31] #459 closed, assigned to Sylvia23

[2018-03-17 11:55] gargshruti30 commented on #448
@chutten Can i work on this issue ?

[2018-03-17 14:07] gargshruti30 commented on #448
@chutten @georgf  I was able to solve this issue.
Can I make a PR ?

[2018-03-17 16:32] gargshruti30 opened #476 "Telemetry Alerts"
When we click Telemetry Alerts in https://telemetry.mozilla.org/, we get http://alerts.telemetry.mozilla.org/index.html

After this when we click Telemetry Main-thread IO or Unpacked Add-on File Scan, we always get an error message 'Failed to load alerts'.
Is this a bug or what ?

[2018-03-17 19:52] Sylvia23 commented on #404
@o0Ignition0o , I missed this because I was occupied with some other issues. Now, I have started working on it. I saw the code for `aggregates` in `evo.js` file.
Can you please give some more pointers to this. I have tried debugging using breakpoints but it doesn't seem to work as of now.
Thanks!

[2018-03-18 07:59] gargshruti30 commented on #440
@chutten @georgf  is this issue still open ? Can I work on this issue ?

[2018-03-18 10:38] Sylvia23 commented on #406
@chutten , Is this still open ?

[2018-03-18 15:15] shradha-khapra opened #477 "'Reports portal' lacks responsiveness"
The navigation bar in 'Reports portal' under other tools section lacks responsiveness. Also the 'Write a post' button moves out of the navigation bar when screen size is reduced.

[2018-03-18 15:15] shradha-khapra opened #478 "'Reports portal' lacks responsiveness"
The navigation bar in 'Reports portal' under other tools section lacks responsiveness

[2018-03-18 15:16] #478 closed, assigned to nobody

[2018-03-18 15:30] Sylvia23 commented on #477
I think it's not a part of `Telemetry-Dashboard`. The `Reports portal` is embedded in the `Telemetry-Dashboard`. Hence, the problem belongs to `Reports portal` repository.
Please correct me if I am wrong @chutten @georgf .

[2018-03-18 16:16] gargshruti30 commented on #448
@georgf @chutten @badboy I was able to solve this issue.
Here is a screenshot attached.

Please advice if I can make a PR.

![screenshot from 2018-03-17 19-27-38](https://user-images.githubusercontent.com/34654829/37568029-94213d9e-2af5-11e8-8601-2141b996e4a6.png)

[2018-03-18 16:59] shradha-khapra opened #479 "error in 'Generate Dashboard' button"
In the Dashboard Generator section the 'Generate Dashboard' button remains disabled when no dashboard is added but when we add some dashboards and delete all of them from the list the button becomes enabled and generates a codepen.

[2018-03-19 14:37] chutten commented on #479
This looks like a good one someone could get started on if they wanted.

[2018-03-19 14:44] chutten commented on #448
Yes @gargshruti30 you can submit a PR to solve this issue.

[2018-03-19 14:44] shradha-khapra commented on #479
Could you please assign it to me as I want to work on it.

[2018-03-19 14:45] gargshruti30 commented on #448
@chutten okay. I will do that.

[2018-03-19 14:47] chutten commented on #477
@Sylvia23 is correct. The Reports Portal is reports.tmo which is a different project altogether. The current plan is to replace it sometime this year, so we can leave a non-breaking bug like this alone for now and work on the new one when it's released.

Thank you for filing the bug though!

[2018-03-19 14:47] #477 closed, assigned to nobody

[2018-03-19 14:49] chutten commented on #479
This is the best I can do for now. Github does assignees in strange ways that we're not 100% sure we understand just yet :S

[2018-03-19 14:51] shradha-khapra commented on #479
thank you :)

[2018-03-19 14:53] gargshruti30 commented on #448
@chutten I had already made a PR (#472 ). The changes have been added to that. Kindly review the PR.

[2018-03-19 15:07] chutten commented on #448
One PR per issue, please : ) If you keep each issue's work on a separate branch, that can help out in both thinking about your solutions and getting them merged upstream.

[2018-03-19 15:14] gargshruti30 commented on #448
@chutten So should I make 2 different branches and then make 2 PR's for both the issues separately ?
Please suggest.

[2018-03-19 15:20] chutten commented on #448
Yes please.

[2018-03-19 15:29] chutten commented on #406
I think @Shruti9520 is working on this in #472. Is that right?

[2018-03-19 15:36] chutten commented on #440
@gargshruti30 this Issue is assigned to ecomerford.

[2018-03-19 15:45] #400 closed, assigned to Sylvia23

[2018-03-19 15:49] chutten commented on #476
Those two regression detectors aren't supported any longer and can be removed. That's a different project, though, called medusa: https://github.com/mozilla/medusa

If you'd like you can file issues there and fix them. It's written in clojure, though, so if you aren't familiar with Lisp-like languages it might not be friendly to introductory contribution.

[2018-03-19 16:14] gargshruti30 commented on #476
okayy.. Thanks :)

[2018-03-19 18:19] #476 closed, assigned to nobody

[2018-03-20 02:06] ecomerford commented on #474
@chutten I'm having trouble selecting the text of the "Value being measured" button.

Upon inspecting the element, it appears that the text is within a button called `.multiselect-selected-text`.  The text it prints out _does_ include the name of the selection (see below).

![screenshot-1](https://user-images.githubusercontent.com/35710168/37631505-3f37621a-2ba7-11e8-9483-d03024ca72f0.png)

_But_

[2018-03-20 04:22] gargshruti30 opened #484 "'FIREFOX' is hiding on decreasing width of update-orphaning page"
On decreasing the width of update-orphaning page, the 'Firefox' in the heading is hiding behind the 'Report week' button.

@chutten Can I work on this issue to correct it ?

![screenshot from 2018-03-20 09-47-43](https://user-images.githubusercontent.com/34654829/37635838-0b7101de-2c24-11e8-8c07-8853746252c8.png)

[2018-03-20 14:01] gargshruti30 opened #485 "X-axis values distort on changing screen size"
In new-pipeline/dist.html, on decreasing the width of the screen the values on the x-axis of the graph shown, coincides with each other.

![screenshot from 2018-03-20 19-24-08-iloveimg-cropped](https://user-images.githubusercontent.com/34654829/37659078-fcef2522-2c74-11e8-99ba-dc32229f4812.png)

[2018-03-20 14:07] gargshruti30 opened #486 "Crashes- Once the date is changed the populated graph should disappear."
https://telemetry.mozilla.org/crashes/
When a date is selected and we click on a crash cell to generate a graph and after that when the date is changed the populated graph should disappear and that option to "Click on a crash cell to populate graph" should come.
@chutten @georgf Can I work on this issue ?
![screenshot from 2018-03-20 19-33-03](https://user-images.githubusercontent.com/34654829/376

[2018-03-20 14:51] Sylvia23 commented on #486
The message `Click on a crash cell to populate graph` comes when we open the page for the first time or reload the page. I think that's fine because the user would know that he has to click on the cell to populate the graph. Now, it doesn't matter whether he is `changing the date` or `changing the channel cell`, the process/instruction remains same.
Does that sound right?  @gargshruti30 @chutten @

[2018-03-20 15:01] gargshruti30 commented on #486
@Sylvia23 The message 'Click on a crash cell to populate graph' is displayed till the time the user clicks a Crash cell and the graph is generated and when the user changes the date the graph of the previous crash cell exists. So I think it should not be displayed instead the message should again be displayed.

[2018-03-20 15:17] Sylvia23 opened #487 "Rename "aurora" to "dev edition" in dashboard-generator"
https://telemetry.mozilla.org/dashboard-generator/

From #400 , I think the `Channel` name in the drop-down menu of `dashboard-generator` should be changed from "aurora" to "dev edition" as well.

@chutten, Should I take this up if it sounds right?

[2018-03-20 15:29] chutten commented on #487
By all means, though mozilla/python_mozaggregator#69 may make it difficult to test, as it seems as though the aggregates service will be removing the aurora channel entirely.

[2018-03-20 15:53] Sylvia23 commented on #487
@chutten , Ohh I see, you mean it won't be functional while testing. But I can change the name from "aurora" to "dev edition" in the frontend. Did I got that right?

[2018-03-20 16:10] gargshruti30 commented on #484
@chutten Can I work on this issue?

[2018-03-20 16:33] chutten commented on #255
@Sylvia23 has offered to take this on, and knows enough about the codebase to understand how complex it's likely to be.

[2018-03-20 16:41] chutten commented on #484
Please do!

[2018-03-20 16:44] chutten commented on #487
You can, but it might make more sense to just close this issue and work on something else. The "problem" of showing the word "aurora" -should- fix itself the next time the aggregator runs. (or, if the fix is service-level, it may have already fixed itself)

[2018-03-20 16:46] Sylvia23 commented on #487
@chutten , Yeah, got it. I will close it now.

[2018-03-20 16:46] #487 closed, assigned to nobody

[2018-03-20 16:49] chutten commented on #486
It is intended that the selected cell remain selected as the user clicks on different dates in the graph. This is to keep the graph from disappearing out from under the user's mouse each time they click.

The idea is that a given user of tmo/crashes is interested in a particular type of crash. Maybe Release M+C-S is their interest, and they may want to click on different parts of the graph to see

[2018-03-20 16:51] gargshruti30 commented on #486
Okay.
Thanks for the information.

[2018-03-20 16:52] #486 closed, assigned to nobody

[2018-03-20 16:54] chutten commented on #485
I wonder if this would be fixed if we used a newer version of metricsgraphics (our plotting library)... We could try it, if you feel up to it.

I recommend proceeding with caution, though. The last time we updated metricsgraphics there was a subtle bug in dates and times handling that we didn't catch for _months_. Any upgrade will require extensive testing.

[2018-03-20 16:57] chutten commented on #474
You might be able to get it with `$("#measure").val()`

Does that help?

[2018-03-20 16:59] #469 closed, assigned to nobody

[2018-03-20 17:06] gargshruti30 commented on #485
@chutten I would like to take it up as a point in my Outreachy application.

[2018-03-20 17:09] gargshruti30 commented on #484
@chutten okay I will do it.

[2018-03-20 18:44] chutten commented on #485
That's fair. Using up-to-date library versions and introducing tools and processes to keep them up-to-date long-term would be an excellent use of time during an outreachy term.

[2018-03-20 18:44] #485 closed, assigned to nobody

[2018-03-20 18:45] gargshruti30 commented on #484
@chutten Is this okay ?
![screenshot from 2018-03-21 00-13-49](https://user-images.githubusercontent.com/34654829/37676014-c660ab70-2c9c-11e8-85c6-9bb216ad2d7d.png)

or should I move the report week button to the right corner like this ?
![screenshot from 2018-03-20 23-59-05](https://user-images.githubusercontent.com/34654829/37676059-e22753e0-2c9c-11e8-8258-6fdefb91d47c.png)

[2018-03-20 19:24] chutten commented on #484
Most of the time I expect this dashboard to be loaded at 1024px wide or more, so whichever one looks nicest at that width. (I think aligning it to the right will look better)

[2018-03-20 19:26] #448 closed, assigned to nobody

[2018-03-20 19:45] gargshruti30 commented on #484
OK. I will make the required changes then.

[2018-03-20 19:57] #409 closed, assigned to Insiyaa

[2018-03-21 08:45] gargshruti30 commented on #460
@robhudson @chutten I would like to work on this issue.
Can you please assign it to me.

[2018-03-21 13:49] gargshruti30 commented on #484
As suggested I have changed the position of report-week button to the right.
![screenshot from 2018-03-21 19-18-19](https://user-images.githubusercontent.com/34654829/37713356-ad55789a-2d3c-11e8-8ff7-afc35efe08c9.png)
I have made a PR.
@chutten Please review it.

[2018-03-21 14:37] gargshruti30 commented on #284
@chutten I am not able to reproduce this issue. Is this issue still open ?

[2018-03-21 14:46] gargshruti30 commented on #395
@chutten @georgf Can I work on this issue ?

[2018-03-21 15:08] #484 closed, assigned to nobody

[2018-03-21 15:49] Sylvia23 commented on #458
@chutten, Is it still to be worked upon? Can I take this up if nobody is working on it?

[2018-03-21 15:52] Shruti9520 commented on #458
@Sylvia23 Yes, please. You can work on this.

[2018-03-21 16:22] chutten commented on #284
It is still reproducible. If you click on any of the first week's data points in the graph, the table does not update and an error is logged to the web console.

[2018-03-21 16:24] chutten commented on #395
Yes you may. It might prove tricky. You may want to start by looking at #404 and at the code in `loadStateFromUrlAndCookie`

[2018-03-21 16:25] Sylvia23 commented on #458
@chutten , I have gone through the code for `probe-dictionary`. Probably, [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/probe-dictionary/explore.js#L523) is the part of code that take care of the `params`.
Can you please give some pointers what is exactly intended in the issue. Thanks!

[2018-03-21 16:33] chutten commented on #458
If you go to the probe dictionary via this url: https://telemetry.mozilla.org/probe-dictionary/

You actually, eventually, end up at this url: https://telemetry.mozilla.org/probe-dictionary/?search=&searchtype=in_any&optout=false&channel=any&constraint=is_in&version=any&view=search-results-view

All of those query parameters are at their default values. We don't need them to be in the url if they

[2018-03-21 16:33] chutten commented on #460
Consider it assigned.

[2018-03-21 16:37] Sylvia23 commented on #406
@Shruti9520 Can I take this if you want and not working on it? Thanks!

[2018-03-21 16:46] shradha-khapra opened #491 "error in addon-recommender search"
I am getting the following error when I press the search button in the addon-recommnedor page:
" Uncaught TypeError: ((n.event.special[e.origType] || {}).handle || e.handler).apply is not a function
    at HTMLButtonElement.dispatch (jquery.min.js:3)
    at HTMLButtonElement.r.handle (jquery.min.js:3)
   dispatch @ jquery.min.js:3
    r.handle @ jquery.min.js:3 "
Is this a bug due to jquery itself

[2018-03-21 16:55] gargshruti30 opened #492 "Make the Measurement Dashboard Loading Indicator More Obvious"
When the user selects another value from the dropdown we can give a loader in the space where the graph is generated. It will look more prominent than now because the div showing "Updating Histograms"
was not visible to me as a first time user.
@chutten What do you think ?

![screenshot from 2018-03-21 22-19-05](https://user-images.githubusercontent.com/34654829/37724414-b13559ac-2d56-11e8-93f6-8f

[2018-03-21 16:59] gargshruti30 opened #493 "error in selecting values from dropdown in Measurements Dashboard"
When we open Measurements Dashboard and select values from dropdowns, error is produced in web console.
@chutten Is this a bug or some JS issue?
![screenshot from 2018-03-21 22-27-15](https://user-images.githubusercontent.com/34654829/37724701-5ce894a8-2d57-11e8-8603-d994d08e931a.png)

[2018-03-21 18:08] chutten commented on #493
404 means that data isn't present for the selected options. Can you be more specific about what steps you took to cause this issue?

[2018-03-21 18:19] gargshruti30 commented on #493
@chutten I selected SCALARS-PREFERENCES.PREVENT_ACCESSIBILITY and deselected 64-bit in architecture.

[2018-03-21 18:46] chutten commented on #493
Works for me without 404s. Maybe it was an intermittent failure?

[2018-03-21 18:48] gargshruti30 commented on #493
I have tried it 2-3 times. The same error occurs.

[2018-03-21 18:50] shradha-khapra opened #494 "issue in probe dictionary 'recorded' settings"
In the probe dictionary section when the 'recorded' drop-down is set to EXPIRED it displays the expired probes but when the drop-down is set to NEW it always shows all the probes including the expired ones.
Is it a bug or are all the probes new?

[2018-03-21 19:10] JQuinnie commented on #463
Hi @chutten ,
I've been researching the window states and have come to a conclusion that there is no property called `popState` on the window object, only a popstate event. It is not a simple `window.history.popState` to counter the `pushState` as one would think there would be...

What we can do is probably make a conditional in the `hideDetailView` function that would return the '`x`' as a back

[2018-03-21 19:42] o0Ignition0o commented on #404
Hey there :) sorry I've been away.
I'll have an other look at it tomorrow and give you some pointers if I find them :)

[2018-03-21 20:13] chutten commented on #463
You are of course entirely correct, and I blame myself for uncareful reading of the history API documentation.

One thing we could do to get the last url is to store it in the state as we push it. Of course, we don't actually need the url itself, we just need an indication that calling `window.history.back()` will do what we want it to do. So we could save a boolean or a sentinel value of any kind

[2018-03-21 21:01] shreya99oak commented on #406
@Shruti9520 I'll like to give it a shot too if it's open! since it seems @Sylvia23 is working on many other issues presently.

[2018-03-21 21:30] Sylvia23 commented on #406
@shreya99oak , It's follow up issue of the issue #383 which I solved earlier and touch the same part of the code. Also, I wrote code for this issue in that PR itself but @georgf created this as a separate issue hence told me to remove it from that PR. That's why, I wanted to take it. :)
Regarding my other issues, I am working on two other issues right now which require in-depth knowledge of work-f

[2018-03-22 14:49] shreya99oak opened #496 "Unclear text in Evolution dashboard"
In the evolution dashboard, when selecting a keyed histogram , it shows the text "Showing graphs for ...".
This is unclear and should really be "Showing graphs for key ...".  '

[2018-03-22 15:14] chutten commented on #491
It could be either. Do you want to look into it?

[2018-03-22 15:15] chutten commented on #492
I think the suitability of this will depend on how it looks and feels when it is in place. It might be worth a try, if you'd like to give it a go.

[2018-03-22 15:16] chutten commented on #493
Maybe try it in Firefox? Chrome sometimes has weird behaviour.

[2018-03-22 15:20] chutten commented on #494
Let's take an example. Here's an example of NEW: https://telemetry.mozilla.org/probe-dictionary/?search=&searchtype=in_any&optout=true&channel=release&constraint=new_in&version=any&view=stats-view

I take this to mean that we added around 110 probes in Firefox 31.

For EXPIRED, here's the link: https://telemetry.mozilla.org/probe-dictionary/?search=&searchtype=in_any&optout=true&channel=release&co

[2018-03-22 15:25] gargshruti30 commented on #492
@chutten I would like to do this as a part of my Outreachy internship during redesigning of measurements dashboard.

[2018-03-22 15:34] shradha-khapra commented on #491
yeah sure. Could you please assign it to me?

[2018-03-22 15:36] shradha-khapra commented on #494
@chutten  I believe you are correct but I suppose due to some error in searching it is displaying all probes when new probes are clicked and not excluding the expired ones.

[2018-03-22 15:45] chutten commented on #494
If that's so, then that's a bug indeed.

[2018-03-22 16:36] sflorencia commented on #496
Hi! Can i work on this issue?

[2018-03-22 19:36] Sylvia23 commented on #404
@o0Ignition0o , Yeah ! Thank you.

[2018-03-23 20:46] #458 closed, assigned to nobody

[2018-03-24 11:06] o0Ignition0o commented on #404
Ok so it took me quite a while, but I think we have a battle plan to tackle this tricky, yet very interresting bug :)

The fist step would be to [Use the aggregates values instead of keys when the url is updated](https://github.com/mozilla/telemetry-dashboard/issues/502). This will allow us to see the exact aggregate values we ticked in the url.

The second step would be to use the url aggregates

[2018-03-24 11:16] o0Ignition0o opened #502 "Use the aggregate values insead of the keys in the Evolution dashboard URL"
As of now, when we pick aggregates on the evolution dashboard, the URL keeps a list of selected keys, instead of values.

As @chutten mentionned [here](https://github.com/mozilla/telemetry-dashboard/issues/395#issuecomment-368514169) This might be one cause of bug #395 and #404.
If not, this would still increase overall readability of the urls :)

Steps to reproduce :
- Visit [this permalink](http

[2018-03-24 11:33] o0Ignition0o commented on #502
The method used to generate the url is [saveStateToUrlAndCookie](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/evo.js#L915)

Maybe we could try to see what happens to ` $("#aggregates").val(); ` when an aggregate is [being updated](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/evo.js#L385) ?

[2018-03-24 11:49] Sylvia23 commented on #404
@o0Ignition0o , Yeah I would be happy to work on it. Could you please assign it to me. Thanks.

[2018-03-24 11:53] o0Ignition0o commented on #404
Sure, cheers !

[2018-03-24 11:55] o0Ignition0o commented on #502
@Sylvia23 It seems like I'm not allowed to assign someone to an issue just yet, I'll ping @chutten and ask him to assign it to you :)

[2018-03-24 11:59] o0Ignition0o commented on #404
By the way as we were investigating #502 together, it seems like we found out what happens in this bug !

We only need to change one character to map on the value insead of the key [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/new-pipeline/src/evo.js#L409).

Can you guess how to fix it ? A breakpoint on this line, or a console.log on newAggregates might be useful :)

[2018-03-25 23:05] ecomerford commented on #474
@chutten `$("#measure).val()` logs `null`. That's why I tried to use the classes I found when inspecting the element, but that doesn't appear to be working, either. I may try to start over because my initial approach hasn't panned out.

If you or @georgf have any suggestions for where to start for this one, that'd be a big help!

Thank you! :)

[2018-03-26 17:29] chutten commented on #474
Odd, the only time I see `$("#measure").val()` being `null` is during load. And during load we don't need descriptions : )

Maybe it's a matter of timing, then?

[2018-03-26 19:21] Sylvia23 commented on #502
@o0Ignition0o @chutten , Actually I was looking into the code. Out of curiosity, I searched for options `eOK`, `eRequest`, `eUnreachable` and other `aggregate` drop-down options when the `measure` is set to `TELEMETRY_SEND_FAILURE_TYPE` running `git grep "eOK"` command.
What I found was that these words are present nowhere in the `telemetry-dashboard` repository but they are displayed in the front

[2018-03-26 19:32] o0Ignition0o commented on #502
Hi @Sylvia23
As you can see [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/doc.md#examples) the data fetching seems to occur in Telemetry.js.
My guess is it happens somewhere around [here](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry.js#L23).

You get to see the [BASE_URL](https://github.com/mozilla/telemetry-dashboard/blob/gh-pages/v2/telemetry

[2018-03-26 20:16] Sylvia23 commented on #502
@o0Ignition0o , Thanks for the explanation. I have got some idea now that we can still render the `aggregate` names. I will now quickly give it a try playing with some functions like `updateAggregates` and `saveStateToUrlAndCookie()` and report back in a while.
Thanks!

[2018-03-26 21:09] Sylvia23 commented on #404
@o0Ignition0o , I figured it out while solving #502. Please see #504 . Thanks!

[2018-03-27 15:53] chutten commented on #493
@gargshruti30 Any luck reproducing it in Firefox? Can you provide the exact url that is 404-ing so we can test it independently?

[2018-03-27 15:56] chutten commented on #492
@gargshruti30 I have rewritten this a little to make it easier to find in our sea of Issues.

[2018-03-27 17:54] georgf opened #505 "The "permalink" button in probe-dictionary should be bold"
In the top menu bar, all other labels are bold. The "Get permalink" button should be bold too.

[2018-03-27 17:56] georgf opened #506 "Rename "Get permalink" to "Get shortlink" in probe-dictionary"
In the probe-dictionary, the "Get permalink" button actually gives users a "shortlink".
We should rename it accordingly.

[2018-03-27 17:59] georgf opened #507 "Rename "Get Permalink" to "Get shortlink" in measurements dashboard"
In the [measurements dashboard](https://telemetry.mozilla.org/new-pipeline/dist.html), the "Get permalink" button actually get's you a "shortlink".
We should rename it to "Get shortlink" to avoid misunderstandings.

[2018-03-27 18:09] georgf commented on #494
@shradha-khapra, thanks for raising this, i'm trying to understand what specifically the issue is.

When looking at a specific channel and version, [like here](https://telemetry.mozilla.org/probe-dictionary/?channel=nightly&version=61), this seems to work fine.

I suppose you mean the situation where "version" is set to "any", like [here](https://telemetry.mozilla.org/probe-dictionary/?constraint=

[2018-03-27 18:12] gargshruti30 commented on #493
@chutten I will try it in Firefox once.

[2018-03-27 19:14] Insiyaa commented on #505
I'd like to work on this!

[2018-03-28 04:42] ecomerford commented on #474
Since I put my code within the larger document ready function, shouldn't it be executing once the page loads? I still get `null` when I do that, though.

[2018-03-28 04:42] Sylvia23 commented on #505
Hi there, You can see the code for `CSS` for `Get Permalink button` in `probe-dictionary` [here](https://github.com/mozilla/telemetry-dashboard/pull/450/files). It would be helpful to quickly solve the issue. Thanks!

[2018-03-28 04:49] Sylvia23 commented on #506
It's a follow up issue of issue #443 . Please review. Thanks!

[2018-03-28 04:50] Sylvia23 commented on #507
@georgf , Sholud I give it a quick shot?

[2018-03-28 04:50] ecomerford commented on #507
@georgf could I work on this? I could use an easy win while I'm trying to figure out #474

[2018-03-28 04:51] ecomerford commented on #507
Wow @Sylvia23 that was weird! Haha I'll find something else to work on!

[2018-03-28 04:52] Sylvia23 commented on #507
Yeah ! Thanks @ecomerford !! Maybe because you wrote a little longer sentence @ecomerford . LOL !

[2018-03-28 18:52] #506 closed, assigned to Sylvia23

[2018-03-28 18:54] #507 closed, assigned to nobody

[2018-03-28 19:01] georgf commented on #474
I wonder, can you instead of your current approach just add to the `getDescription()` function or a related one?
They already get passed a `metric` parameter, which would solve your problem.

[2018-03-29 05:13] ecomerford commented on #474
Thank you for the suggestion! This is working to select the value of the measurement.

Do you think the best approach is to use a series of `if...else` statements to determine if each different group is selected and if so, append the correct link into an empty div? Ie:

`if (metric.indexOf("DATATRANSFER") > 0) {
  ...}`

Then append the link to the use counter for data transfer group, and so forth

[2018-03-29 11:10] georgf commented on #474
All the [use counter names](https://telemetry.mozilla.org/probe-dictionary/?search=use_counter2) follow the same pattern:
`USE_COUNTER2_<group>_<name>_<PAGE/DOCUMENT>`.
We're not really tracking the different values for `group` and `name` as Firefox engineers may add more at any time.

What we do for the use counter dashboard is [to just split out](https://github.com/georgf/usecounters/blob/master

[2018-03-29 14:20] gargshruti30 commented on #505
@georgf Can I work on this issue ?

[2018-03-29 14:27] gargshruti30 commented on #493
@chutten In firefox no such error is produced.

[2018-03-29 17:50] georgf commented on #505
Hi, i think Insiyaa was planning to work on this already.

[2018-03-29 17:59] #496 closed, assigned to shreya99oak

[2018-03-29 18:01] #505 closed, assigned to Insiyaa

[2018-03-29 18:07] georgf opened #514 "Show only one TMO dashboard link in probe-dictionary"
Thanks to the tabbed interface from #409, we can now treat the TMO dashboard as one single dashboard.

That means that in detail views in probe-dictionary like [this one](https://telemetry.mozilla.org/probe-dictionary/?detailView=histogram%2FA11Y_CONSUMERS), we can just put one single link called "Measurements dashboard". This should link to the `dist.html` dashboard.

[2018-03-29 18:10] Sylvia23 commented on #514
You mean the Dashboard should be embedded in probe dictionary. Right?

[2018-03-29 18:13] georgf commented on #514
I mean that we can just change the link. We currently have two links after "TMO dashboard" in the detail view, we can make it just one.

[2018-03-29 18:14] georgf commented on #445
This was fixed by #449.

[2018-03-29 18:14] #445 closed, assigned to shreya99oak

[2018-03-29 18:15] georgf commented on #440
This was fixed by #483.

[2018-03-29 18:15] #440 closed, assigned to ecomerford

[2018-03-29 18:25] Insiyaa commented on #514
Yes! Can I do this?

[2018-03-29 18:25] Insiyaa commented on #514
This includes modification in getDatasetInfos function...

[2018-03-29 19:11] georgf commented on #514
Sure!

[2018-03-29 19:53] chutten commented on #493
@gargshruti30 Can you extract the URLs that are 404-ing in Chrome? Maybe there's a clue in there.

We don't do any user-agent sniffing, so which browser you use shouldn't matter. That it does is incredibly interesting.